{% extends "usuarios/basePanel.html" %}
{% load bootstrap %}

{% if request.session.nombre_usuario %}
    {% block user %}
        {% include "usuarios/user-info.html" %}
    {% endblock %}
{% endif %}
{% block contenido_panel %}

	<div class="row" style="width:80%;margin:0 auto;">
                <div class="col-sm-10">
                    <h2 style="color:#c33833;font-weight:bold;padding-bottom: 10px;">Actualizar Coordinador</h2>

                    <hr />

                    {% if mensaje %}
                        <div class="alert alert-{{clase}}">
                        <a class="close" data-dismiss="alert">x</a>
                        {{ mensaje }}
                    </div>
                    {% endif %}


                    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                    	{% csrf_token %}
                        <h3 style="text-align:center">Quieres cambiar la contraseña?</h3>
                        {{ usuario_form|bootstrap_horizontal}}
                        <br>
                        <h3 style="text-align:center">Edita tu informacion</h3>
                        {{ form|bootstrap_horizontal }}
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-lg-6 col-sm-10">
                                <input type="submit" class="btn btn-primary" value="Actualizar" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
{% endblock %}