{% extends "usuarios/basePanel.html" %}
{% load bootstrap %}
{% if request.session %}
    {% block user %}
        {% include "usuarios/user-info.html" %}
    {% endblock %}
{% endif %}
{% block contenido_panel %}

	<div class="row" style="width:80%;margin:0 auto;">
                <div class="col-sm-10">
                    <h2>Registrar Coordinador Usuario</h2>

                    <hr />

                    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                    	{% csrf_token %}
                        {{ form|bootstrap_horizontal }}
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-lg-6 col-sm-10">
                                <input type="submit" class="btn btn-primary" value="Registrar" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
{% endblock %}