<!DOCTYPE html>
<html>
<head>
    <title>Multiformset Demo</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <style type="text/css">

    /*fieldset{

        margin-bottom: 10px;
        margin-top: 10px;

    }*/

    </style>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
    <script type="text/javascript">
        $(function() {
            $(".inline.{{ telefono_form.prefix }}").formset({
                prefix: "{{ telefono_form.prefix }}",
                
            })
            $(".inline.{{ direccion_form.prefix }} ").formset({
                prefix: "{{ direccion_form.prefix }}",
                
            })
            $(".inline.{{ experiencia_form.prefix }} ").formset({
                prefix: "{{ experiencia_form.prefix }}",
                
            })
            
        })
    </script>
</head>

<body>
    <div style="margin:0 auto; width:90%;">
        <h1>Add Egresado</h1>
        <form action="." method="post" role="form">
            {% csrf_token %}
            <div>
            	<h3>Datos de Usuario</h3>
            	{{ usuario_form.as_p }}
            	<hr>
            	<h3>Datos de Egresado</h3> 
                {{ form.as_p }}
            </div>
            <fieldset>
                <legend>Telefonos</legend>
                {{ telefono_form.management_form }}
                {{ telefono_form.non_form_errors }}
                {% for form in telefono_form %}
                    {{ form.id }}
                    <div class="inline {{ telefono_form.prefix }}">
                        {{ form.numero.errors }}
                        {{ form.numero.label_tag }}
                        {{ form.numero }}
                    </div>
                {% endfor %}
            </fieldset>
            <fieldset>
                <legend>Direcciones</legend>
                {{ direccion_form.management_form }}
                {{ direccion_form.non_form_errors }}
                {% for form in direccion_form %}
                    {{ form.id }}
                    <div class="inline {{ direccion_form.prefix}}" style="display:block;border: 1px solid #cecece;margin: 2px;padding: 5px; ">
                        {{ form.direccion.errors }}
                        {{ form.direccion.label_tag }}
                        {{ form.direccion }}
                        <br>
                        {{ form.codigo_postal.errors }}
                        {{ form.codigo_postal.label_tag }}
                        {{ form.codigo_postal }}
                        <br>
                        {{ form.ciudad.errors }}
                        {{ form.ciudad.label_tag }}
                        {{ form.ciudad }}
                    </div>
                    
                {% endfor %}
            </fieldset>
            <fieldset>
                <legend>Experiencia Laboral</legend>
                {{ experiencia_form.management_form }}
                {{ experiencia_form.non_form_errors }}
                {% for form in experiencia_form %}
                    {{ form.id }}
                    <div class="inline {{ experiencia_form.prefix}}" style="display:block;border: 1px solid #cecece;margin: 2px;padding: 5px; ">
                        {{ form.fecha_ingreso.errors }}
                        {{ form.fecha_ingreso.label_tag }}
                        {{ form.fecha_ingreso }}
                        <br>
                        {{ form.fecha_salida.errors }}
                        {{ form.fecha_salida.label_tag }}
                        {{ form.fecha_salida }}
                        <br>
                        {{ form.tipo_contrato.errors }}
                        {{ form.tipo_contrato.label_tag }}
                        {{ form.tipo_contrato }}
                        <br>
                        {{ form.empresa.errors }}
                        {{ form.empresa.label_tag }}
                        {{ form.empresa }}
                        <br>
                        {{ form.cargo.errors }}
                        {{ form.cargo.label_tag }}
                        {{ form.cargo }}
                        <br>
                        {{ form.descripcion.errors }}
                        {{ form.descripcion.label_tag }}
                        {{ form.descripcion }}
                        <br>
                        {{ form.tiempo_transcurrido.errors }}
                        {{ form.tiempo_transcurrido.label_tag }}
                        {{ form.tiempo_transcurrido }}
                    </div>
                    
                {% endfor %}
            </fieldset>
            <input type="submit" value="Add Egresado" class="submit" />
        </form>
    </div>
</body>
</html>