{% extends "usuarios/basePanel.html" %}
{% load bootstrap %}
{% block user %}
    {% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}

	<div class="row" style="width:60%;margin:0 auto;">
                <div class="span12">
                    <h2 class="titulos">Agregar Programa (Escuela)</h2>

                    <hr />
                    {% if mensaje %}
                        <div class="alert alert-{{clase}}">
                        <a class="close" data-dismiss="alert">x</a>
                        {{ mensaje }}
                    </div>
                    {% endif %}
                    <form class="form" method="POST">
                    	{% csrf_token %}
                        {{ form|bootstrap }}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" class="btn btn-primary" value="Guardar" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
{% endblock %}