<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}Egresados Administracion{% endblock %}</title>
	<!--<link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">-->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.datetimepicker.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style-tablesorter.css">
	
	{% block estaticos %}
	{% endblock %}
</head>
<body >
<div class="contenedor">
	<header>
		<div class="logo" style="padding:12px 0;">
			<a href="{% url 'dashboard' %}" style="color:white;margin-left:5px;font-size:25px;text-decoration:none;">Egresados Admin</a>
		</div>
		<div class="menubar">
			<a href="{% url 'informes:graficoDetalle' '1' %}">Informes</a>	
			<a href="{% url 'usuarios' %}">Gestion de Usuarios</a>	

		</div>
		<div class="helperButtons">
			<!--<a class="buscar-icon" href="#"></a>
			<a class="campanita-icon"  href="#"></a>
			<a class="configuracion-icon" href="#"></a>-->
			<a class="salir" title="Salir del sistema" href="{% url 'logout' %}"></a>
		</div>
		{% block user %}
			
		{% endblock %}
		

	
		
	</header>

	<aside class="navegacion">
		{% include 'usuarios/menu.html' %}

	</aside>
	<div class="panelContenido">

		{% block contenido_panel %}

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, atque, unde facere error ducimus laudantium obcaecati ullam optio eius maxime magnam blanditiis natus similique veritatis sed quasi modi aspernatur quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, quia quasi et doloribus odio culpa itaque mollitia provident blanditiis nihil? Aliquam, quia deleniti ut est nemo non reprehenderit quod blanditiis.</p>
		{% endblock%}
	</div>

</div>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.ssd-vertical-navigation.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
<script>
	
	$(function() {

	    $('#leftNavigation').ssdVerticalNavigation();

	});
            
            $("#flechita-id" ).on( "click", function() {

            	$("#menu-flechita-id").show();
			  
			});

			var openDiv;

			function toggleDiv(divID) {
			    $("#" + divID).fadeToggle(200, function() {
			        openDiv = $(this).is(':visible') ? divID : null;
			    });
			}

			$(document).click(function(e) {
			    if (!$(e.target).closest('#'+openDiv).length) {
			        toggleDiv(openDiv);
			    }
			});



       

</script>

{% block js %}
{% endblock %}

</body>
</html>
