{% extends "usuarios/basePanel.html" %}
{% load staticfiles %}
{% load formset_tags %}
{% load widget_tweaks %}

{% load bootstrap3 %}
{% block estaticos %}


{% endblock%}
{% block user %}
  {% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}

    <div class="row" style="width:80%;margin:0 auto;">
        <div class="col-sm-8">
            <form class="form" enctype="multipart/form-data" method="POST">
                   	{% csrf_token %}
                <h2 style="color:#c33833;font-weight:bold;padding-bottom: 10px;">Registrar Egresado</h2>
                <fieldset>
                    <legend>Datos de Usuario</legend>
                     {% bootstrap_form usuario_form %}
                </fieldset>
                <br>
                <fieldset>
                    <legend>Datos de Egresado</legend>
                         {% bootstrap_form form %}
                </fieldset>
                <br>
                <fieldset>
                    <legend>Telefonos</legend>
                    
                    <div id="formset_tel" data-formset-prefix="{{ telefono_form.prefix }}">
                        {{ telefono_form.management_form }}

                        <div data-formset-body>
                            <!-- New forms will be inserted in here -->
                            {% for form in telefono_form %}
                            <div data-formset-form style="margin:5px 2px 5px 2px">
                                {{ form.id }}
                                <div class="inline {{ telefono_form.prefix }}">
                                    {{ form.numero.errors|add_class:"text-danger" }}
                                    {{ form.numero.label_tag }}
                                    {{ form.numero|add_class:"form-control"  }}
                                    {{ form.tipo.errors|add_class:"text-danger" }}
                                    {{ form.tipo.label_tag }}
                                    {{ form.tipo|add_class:"form-control"  }}
                                    <div style="display:none">
                                        {{ form.DELETE }}
                                    </div>
                                </div>
                            
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                                <br>
                            </div>
                            <br>
                        {% endfor %}
                        </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                        <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div data-formset-form>
                                
                                    {{ telefono_form.empty_form.numero.errors|add_class:"text-danger" }}
                                    {{ telefono_form.empty_form.numero.label_tag }}
                                    {{ telefono_form.empty_form.numero|add_class:"form-control" }}
                                    {{ telefono_form.empty_form.tipo.errors|add_class:"text-danger" }}
                                    {{ telefono_form.empty_form.tipo.label_tag }}
                                    {{ telefono_form.empty_form.tipo|add_class:"form-control" }}
                                    <div style="display:none">
                                        {{ telefono_form.empty_form.DELETE }}
                                    </div>
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                                <br>
                            </div>
                            <br>
                        {% endescapescript %}
                    </script>
                    
                    <!-- This button will add a new form when clicked -->
                     <!-- <input type="button" value="Agregar Otro" data-formset-add>-->
                    <button type="button" class="btn btn-default" data-formset-add><i class="fa fa-plus"></i> Agregar Otro</button>

                    </div>

                </fieldset>
                <br>
                <fieldset>
                    <legend>Direccion Actual</legend>
                   <div >
                     <div >

                            <div style="margin:5px 2px 5px 2px">
                                
                                <div  style="display:block;margin: 2px;padding: 5px; ">
                                    {{ direccion_actual_form.direccion.errors }}
                                    {{ direccion_actual_form.direccion.label_tag }}
                                    {{ direccion_actual_form.direccion|add_class:"form-control" }}
                                    <br>
                                    {{ direccion_actual_form.codigo_postal.errors }}
                                    {{ direccion_actual_form.codigo_postal.label_tag }}
                                    {{ direccion_actual_form.codigo_postal|add_class:"form-control"  }}
                                    <br>
                                    {{ direccion_actual_form.ciudad.errors}}
                                    {{ direccion_actual_form.ciudad.label_tag }}
                                    {{ direccion_actual_form.ciudad|add_class:"form-control"  }}
                                    <br>
                                    
                                </div>
                                
                            
                                
                            </div>
                   
                        </div>

                </fieldset>
                <br>
                <fieldset>
                    <legend>Otras Direcciones</legend>
                    <div id="formset_dir" data-formset-prefix="{{ direccion_form.prefix }}">
                        {{ direccion_form.management_form }}

                        <div data-formset-body>
        <!-- New forms will be inserted in here -->
                            {% for form in direccion_form %}
                            <div data-formset-form style="margin:5px 2px 5px 2px">
                            <!--{{ direccion_form.as_p }}-->
                                
                                    {{ form.id }}
                                <div class="inline {{ direccion_form.prefix}}" style="display:block;margin: 2px;padding: 5px; ">
                                    {{ form.direccion.errors }}
                                    {{ form.direccion.label_tag }}
                                    {{ form.direccion|add_class:"form-control" }}
                                    <br>
                                    {{ form.codigo_postal.errors }}
                                    {{ form.codigo_postal.label_tag }}
                                    {{ form.codigo_postal|add_class:"form-control"  }}
                                    <br>
                                    {{ form.ciudad.errors}}
                                    {{ form.ciudad.label_tag }}
                                    {{ form.ciudad|add_class:"form-control"  }}
                                    <br>
                                    <div style="display:none">
                                        {{ form.DELETE }}
                                    </div>
                                </div>
                                
                            
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                                <br>
                            </div>
                    {% endfor %}
                        </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                        <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div data-formset-form>
                                
                                {{ direccion_form.empty_form.direccion.errors }}
                                    {{ direccion_form.empty_form.direccion.label_tag }}
                                    {{ direccion_form.empty_form.direccion|add_class:"form-control" }}
                                    <br>
                                    {{ direccion_form.empty_form.codigo_postal.errors }}
                                    {{ direccion_form.empty_form.codigo_postal.label_tag }}
                                    {{ direccion_form.empty_form.codigo_postal|add_class:"form-control" }}
                                    <br>
                                    {{ direccion_form.empty_form.ciudad.errors }}
                                    {{ direccion_form.empty_form.ciudad.label_tag }}
                                    {{ direccion_form.empty_form.ciudad|add_class:"form-control" }}
                                    <br>
                                    <div style="display:none">
                                        {{ direccion_form.empty_form.DELETE }}
                                    </div>
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                            </div>
                        {% endescapescript %}
                        </script>


                    <!-- This button will add a new form when clicked -->
                    <button type="button" class="btn btn-default" data-formset-add><i class="fa fa-plus"></i> Agregar Otro</button>

                        

                    </div>
               
                </fieldset>
                <br>
                <br>
                <fieldset>
                    <legend>Idiomas</legend>
                    <div id="formset_idioma" data-formset-prefix="{{ idioma_form.prefix }}">
                        {{ idioma_form.management_form }}

                        <div data-formset-body>
                            <!-- New forms will be inserted in here -->
                            {% for form in idioma_form %}
                            <div data-formset-form style="margin:5px 2px 5px 2px">
                                {{ form.id }}
                                <div class="inline {{ idioma_form.prefix }}">
                                    {{ form.idioma.errors}}
                                    {{ form.idioma.label_tag }}
                                    {{ form.idioma|add_class:"form-control"  }}
                                    {{ form.nivel.errors}}
                                    {{ form.nivel.label_tag }}
                                    {{ form.nivel|add_class:"form-control"  }}
                                    <div style="display:none">
                                        {{ form.DELETE }}
                                    </div>
                                </div>
                            
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                                <br>
                            </div>
                            <br>
                        {% endfor %}
                        </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                        <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div data-formset-form>
                                
                                    {{ idioma_form.empty_form.idioma.errors}}
                                    {{ idioma_form.empty_form.idioma.label_tag }}
                                    {{ idioma_form.empty_form.idioma|add_class:"form-control" }}
                                    {{ idioma_form.empty_form.nivel.errors }}
                                    {{ idioma_form.empty_form.nivel.label_tag }}
                                    {{ idioma_form.empty_form.nivel|add_class:"form-control" }}
                                    <div style="display:none">
                                        {{ idioma_form.empty_form.DELETE }}
                                    </div>
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                            </div>
                        {% endescapescript %}
                    </script>

                    <!-- This button will add a new form when clicked -->
                     <!-- <input type="button" value="Agregar Otro" data-formset-add>-->
                    <button type="button" class="btn btn-default" data-formset-add><i class="fa fa-plus"></i> Agregar Otro</button>
                        

                    </div>

               
                </fieldset>
                <br>
                <fieldset>
                    <legend>Asociaciones</legend>
                    <div id="formset_aso" data-formset-prefix="{{ asociacion_form.prefix }}">
                        {{ asociacion_form.management_form }}

                        <div data-formset-body>
                            <!-- New forms will be inserted in here -->
                            {% for form in asociacion_form %}
                            <div data-formset-form style="margin:5px 2px 5px 2px">
                                {{ form.id }}
                                <div class="inline {{ asociacion_form.prefix }}">
                                    {{ form.nombre.errors}}
                                    {{ form.nombre.label_tag }}
                                    {{ form.nombre|add_class:"form-control"  }}
                                    {{ form.fecha_ingreso.errors}}
                                    {{ form.fecha_ingreso.label_tag }}
                                    {{ form.fecha_ingreso|add_class:"form-control fecha"  }}
                                    <div style="display:none">
                                        {{ form.DELETE }}
                                    </div>
                                </div>
                            
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                                <br>
                            </div>
                            <br>
                        {% endfor %}
                        </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                        <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div data-formset-form>
                                
                                    {{ asociacion_form.empty_form.nombre.errors }}
                                    {{ asociacion_form.empty_form.nombre.label_tag }}
                                    {{ asociacion_form.empty_form.nombre|add_class:"form-control" }}
                                    {{ asociacion_form.empty_form.fecha_ingreso.errors }}
                                    {{ asociacion_form.empty_form.fecha_ingreso.label_tag }}
                                    {{ asociacion_form.empty_form.fecha_ingreso|add_class:"form-control fecha" }}
                                    <div style="display:none">
                                        {{ asociacion_form.empty_form.DELETE }}
                                    </div>
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                            </div>
                        {% endescapescript %}
                    </script>

                    <!-- This button will add a new form when clicked -->
                     <!-- <input type="button" value="Agregar Otro" data-formset-add>-->
                    <button type="button" class="btn btn-default" data-formset-add><i class="fa fa-plus"></i> Agregar Otro</button>
                        

                    </div>

               
                </fieldset>
                <br>
                <fieldset>
                    <legend>Reconocimientos</legend>
                    <div id="formset_premio" data-formset-prefix="{{ premio_form.prefix }}">
                        {{ premio_form.management_form }}

                        <div data-formset-body>
                            <!-- New forms will be inserted in here -->
                            {% for form in premio_form %}
                            <div data-formset-form style="margin:5px 2px 5px 2px">
                                {{ form.id }}
                                <div class="inline {{ premio_form.prefix }}">
                                    {{ form.premio.errors }}
                                    {{ form.premio.label_tag }}
                                    {{ form.premio|add_class:"form-control"  }}
                                    {{ form.fecha.errors }}
                                    {{ form.fecha.label_tag }}
                                    {{ form.fecha|add_class:"form-control fecha"  }}
                                    {{ form.descripcion.errors}}
                                    {{ form.descripcion.label_tag }}
                                    {{ form.descripcion|add_class:"form-control"  }}
                                    <div style="display:none">
                                        {{ form.DELETE }}

                                    </div>
                                </div>
                            
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                                <br>
                            </div>
                            <br>
                        {% endfor %}
                        </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                        <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div data-formset-form>
                                
                                    {{ premio_form.empty_form.premio.errors}}
                                    {{ premio_form.empty_form.premio.label_tag }}
                                    {{ premio_form.empty_form.premio|add_class:"form-control" }}
                                    {{ premio_form.empty_form.fecha.errors }}
                                    {{ premio_form.empty_form.fecha.label_tag }}
                                    {{ premio_form.empty_form.fecha|add_class:"form-control fecha" }}
                                    {{ premio_form.empty_form.descripcion.errors}}
                                    {{ premio_form.empty_form.descripcion.label_tag }}
                                    {{ premio_form.empty_form.descripcion|add_class:"form-control" }}
                                    <div style="display:none">
                                        {{ premio_form.empty_form.DELETE }}
                                    </div>
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                            </div>
                        {% endescapescript %}
                    </script>

                    <!-- This button will add a new form when clicked -->
                     <!-- <input type="button" value="Agregar Otro" data-formset-add>-->
                    <button type="button" class="btn btn-default" data-formset-add><i class="fa fa-plus"></i> Agregar Otro</button>
                        

                    </div>

               
                </fieldset>
                <br>
                <fieldset>
                    <legend>Experiencia Laboral</legend>

                    <div id="formset_exp" data-formset-prefix="{{ experiencia_form.prefix }}">
                        {{ experiencia_form.management_form }}

                        <div data-formset-body>
        <!-- New forms will be inserted in here -->
                            {% for form in experiencia_form %}
                            <div data-formset-form style="margin:5px 2px 5px 2px">
                                <!--{{ direccion_form.as_p }}-->
                                
                                    {{ form.id }}
                                <div class="inline {{ experiencia_form.prefix}}" style="display:block;margin: 2px;padding: 5px; ">
                                        {{ form.fecha_ingreso.errors}}
                                        {{ form.fecha_ingreso.label_tag }}
                                        {{ form.fecha_ingreso|add_class:"form-control fecha" }}
                                        <br>
                                        {{ form.fecha_salida.errors}}
                                        {{ form.fecha_salida.label_tag }}
                                        {{ form.fecha_salida|add_class:"form-control fecha" }}
                                        <br>
                                        {{ form.tipo_contrato.errors}}
                                        {{ form.tipo_contrato.label_tag }}
                                        {{ form.tipo_contrato|add_class:"form-control" }}
                                        <br>
                                        {{ form.empresa.errors|add_class:"text-danger" }}
                                        {{ form.empresa.label_tag }}
                                        {{ form.empresa|add_class:"form-control" }}
                                        <br>
                                        {{ form.cargo.errors|add_class:"text-danger" }}
                                        {{ form.cargo.label_tag }}
                                        {{ form.cargo|add_class:"form-control" }}
                                        <br>
                                        {{ form.descripcion.errors|add_class:"text-danger" }}
                                        {{ form.descripcion.label_tag }}
                                        {{ form.descripcion|add_class:"form-control" }}
                                        <br>
                                        {{ form.tiempo_transcurrido.errors|add_class:"text-danger" }}
                                        {{ form.tiempo_transcurrido.label_tag }}
                                        {{ form.tiempo_transcurrido|add_class:"form-control" }}
                                        <div style="display:none">
                                            {{ form.DELETE }}
                                        </div>
                                </div>
                                    
                                
                                    <button type="button" data-formset-delete-button> <i class="fa fa-times-circle"></i>Borrar Formulario</button>
                            </div>
                        {% endfor %}


                        </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                        <script type="form-template" data-formset-empty-form>
                            {% escapescript %}
                                <div data-formset-form>
                                    
                                    {{ experiencia_form.empty_form.fecha_ingreso.errors }}
                                        {{ experiencia_form.empty_form.fecha_ingreso.label_tag }}
                                        {{ experiencia_form.empty_form.fecha_ingreso|add_class:"form-control fecha" }}
                                        <br>
                                        {{ experiencia_form.empty_form.fecha_salida.errors|add_class:"text-danger" }}
                                        {{ experiencia_form.empty_form.fecha_salida.label_tag }}
                                        {{ experiencia_form.empty_form.fecha_salida|add_class:"form-control fecha" }}
                                        <br>
                                        {{ experiencia_form.empty_form.tipo_contrato.errors|add_class:"text-danger" }}
                                        {{ experiencia_form.empty_form.tipo_contrato.label_tag }}
                                        {{ experiencia_form.empty_form.tipo_contrato|add_class:"form-control" }}
                                        <br>
                                        {{ experiencia_form.empty_form.empresa.errors|add_class:"text-danger" }}
                                        {{ experiencia_form.empty_form.empresa.label_tag }}
                                        {{ experiencia_form.empty_form.empresa|add_class:"form-control" }}
                                        <br>
                                        {{ experiencia_form.empty_form.cargo.errors|add_class:"text-danger" }}
                                        {{ experiencia_form.empty_form.cargo.label_tag }}
                                        {{ experiencia_form.empty_form.cargo|add_class:"form-control" }}
                                        <br>
                                        {{ experiencia_form.empty_form.descripcion.errors|add_class:"text-danger" }}
                                        {{ experiencia_form.empty_form.descripcion.label_tag }}
                                        {{ experiencia_form.empty_form.descripcion|add_class:"form-control" }}
                                        <br>
                                        {{ experiencia_form.empty_form.tiempo_transcurrido.errors|add_class:"text-danger" }}
                                        {{ experiencia_form.empty_form.tiempo_transcurrido.label_tag }}
                                        {{ experiencia_form.empty_form.tiempo_transcurrido|add_class:"form-control" }}
                                        <div style="display:none">
                                            {{ form.DELETE }}
                                        </div>
                                    <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar Formulario</button>
                                </div>
                            {% endescapescript %}
                        </script>
                        <button type="button" class="btn btn-default" data-formset-add><i class="fa fa-plus"></i> Agregar Otro</button>

                    </div>
                
                </fieldset>
                <br>
                <fieldset>
                    <legend> Estudios </legend>
                    <div id="formset_est" data-formset-prefix="{{ estudios_form.prefix }}">
                        {{ estudios_form.management_form }}

                        <div data-formset-body>
                    <!-- New forms will be inserted in here -->
                        {% for form in estudios_form %}
                            <div data-formset-form>
                                
                                {{ form.centro_estudio.errors|add_class:"text-danger" }}
                                {{ form.centro_estudio.label_tag }}
                                {{ form.centro_estudio|add_class:"form-control" }}
                                <br>
                                {{ form.ubicacion.errors|add_class:"text-danger" }}
                                {{ form.ubicacion.label_tag }}
                                {{ form.ubicacion|add_class:"form-control" }}
                                <br>
                                {{ form.titulo.errors|add_class:"text-danger" }}
                                {{ form.titulo.label_tag }}
                                {{ form.titulo|add_class:"form-control" }}
                                <br>
                                {{ form.tipo.errors|add_class:"text-danger" }}
                                {{ form.tipo.label_tag }}
                                {{ form.tipo|add_class:"form-control" }}
                                <br>
                                {{ form.ano_inicio.errors|add_class:"text-danger" }}
                                {{ form.ano_inicio.label_tag }}
                                {{ form.ano_inicio|add_class:"form-control fecha" }}
                                <br>
                                {{ form.ano_fin.errors|add_class:"text-danger" }}
                                {{ form.ano_fin.label_tag }}
                                {{ form.ano_fin|add_class:"form-control fecha" }}
                                <div style="display:none">
                                    {{ form.DELETE }}
                                </div>
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                            </div>
                        {% endfor %}
                        </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                        <script type="form-template" data-formset-empty-form>
                            {% escapescript %}
                                <div data-formset-form>
                                    
                                    {{ estudios_form.empty_form.centro_estudio.errors|add_class:"text-danger" }}
                                    {{ estudios_form.empty_form.centro_estudio.label_tag }}
                                    {{ estudios_form.empty_form.centro_estudio|add_class:"form-control" }}
                                    <br>
                                    {{ estudios_form.empty_form.ubicacion.errors|add_class:"text-danger" }}
                                    {{ estudios_form.empty_form.ubicacion.label_tag }}
                                    {{ estudios_form.empty_form.ubicacion|add_class:"form-control" }}
                                    <br>
                                    {{ estudios_form.empty_form.titulo.errors|add_class:"text-danger" }}
                                    {{ estudios_form.empty_form.titulo.label_tag }}
                                    {{ estudios_form.empty_form.titulo|add_class:"form-control" }}
                                    <br>
                                    {{ estudios_form.empty_form.ano_inicio.errors|add_class:"text-danger" }}
                                    {{ estudios_form.empty_form.ano_inicio.label_tag }}
                                    {{ estudios_form.empty_form.ano_inicio|add_class:"form-control" }}
                                    <br>
                                    {{ estudios_form.empty_form.ano_fin.errors|add_class:"text-danger" }}
                                    {{ estudios_form.empty_form.ano_fin.label_tag }}
                                    {{ estudios_form.empty_form.ano_fin }}
                                    <div style="display:none">
                                        {{ estudios_form.empty_form.DELETE }}
                                    </div>
                                    <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                                </div>
                                <br>
                            {% endescapescript %}
                        </script>

                    <!-- This button will add a new form when clicked -->
                         <button type="button" class="btn btn-default" data-formset-add><i class="fa fa-plus"></i> Agregar Otro</button>
                         <br>
                    </div>     
                </fieldset>
                <hr />
                <div class="form-group">
                    <div class="col-sm-offset-2 col-lg-6 col-sm-10">
                        <input type="submit" class="btn btn-primary" value="Registrar" />
                    </div>
                </div>
            </form>
        </div>

        
    </div>

{% endblock %}
{% block js %}

    <script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
     <script>jQuery(function($) {
                            $("#formset_tel").formset({
                                animateForms: true
                            });
                            });
    jQuery(function($) {
                            $("#formset_est").formset({
                                animateForms: true
                            });
                            });
    jQuery(function($) {
                            $("#formset_idioma").formset({
                                animateForms: true
                            });
                            });
    jQuery(function($) {
                            $("#formset_aso").formset({
                                animateForms: true
                            });
                            });
    jQuery(function($) {
                            $("#formset_premio").formset({
                                animateForms: true
                            });
                            });
    
    jQuery(function($) {
                            $("#formset_dir").formset({
                                animateForms: true
                            });
                            });
                        
                    jQuery(function($) {
                            $("#formset_exp").formset({
                                animateForms: true
                            });
                            });
                    
                        </script>


<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
{% include 'autocomplete_light/static.html' %}
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{% static '/static/js/jquery.ui.datepicker-es.js' %}"></script>



<script>
            
        $("#id_fecha_cumple").datepicker({
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            yearRange: "c-30:c+3"
        });

        $("#id_fecha_grado").datepicker({
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            yearRange: "c-30:c+3"
        });
        $(".fecha").datepicker({
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            yearRange: "c-30:c+3"
        });

    
</script>


<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js">  </script>
<script></script>
<script>
        $(function() {
            //$('#id_programa').after('<a href="/dashboard/addPrograma" class="add-another" id="add_id_category" onclick="return showAddAnotherPopup(this);"> <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a>');

 });
        function showAddAnotherPopup(triggeringLink) {
            var name = triggeringLink.id.replace(/^add_/, '');
            name = id_to_windowname(name);
            href = triggeringLink.href
            if (href.indexOf('?') == -1) {
                href += '?_popup=1';
            } else {
                href  += '&_popup=1';
            }
            var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
            win.focus();
            return false;
        };

        function dismissAddAnotherPopup(win, newId, newRepr) {
            // newId and newRepr are expected to have previously been escaped by
            // django.utils.html.escape.
            newId = html_unescape(newId);
            newRepr = html_unescape(newRepr);
            var name = windowname_to_id(win.name);
            var elem = document.getElementById(name);
            if (elem) {
                if (elem.nodeName == 'SELECT') {
                    var o = new Option(newRepr, newId);
                    elem.options[elem.options.length] = o;
                    o.selected = true;
                } else if (elem.nodeName == 'INPUT') {
                    if (elem.className.indexOf('vManyToManyRawIdAdminField') != -1 && elem.value) {
                        elem.value += ',' + newId;
                    } else {
                        elem.value = newId;
                    }
                }
            } else {
                var toId = name + "_to";
                elem = document.getElementById(toId);
                var o = new Option(newRepr, newId);
                SelectBox.add_to_cache(toId, o);
                SelectBox.redisplay(toId);
            }
            win.close();
        }


    </script>

{% endblock %}