{% extends "usuarios/basePanel.html" %}
{% load bootstrap %}
{% block user %}
    {% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}

	<div class="row" style="width:80%;margin:0 auto;">
                <div class="col-sm-10">
                    <h2>Registrar Empresa Usuario</h2>

                    <hr />

                    <form class="form-horizontal" method="POST">
                    	{% csrf_token %}
                        {{ form|bootstrap_horizontal }}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-lg-6 col-sm-10">
                                <input type="submit" class="btn btn-primary" value="Registrar" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
{% endblock %}