
{% extends "usuarios/basePanel.html" %}
<!-- se incluye el archivo user-info que contiene la informacion del usuario registrado -->
{% block estaticos %}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}
<div style="float:right;padding:10px 20px;font-size:18px;overflow:hidden;">
	
<strong><i class="fa fa-calendar"></i>  {{ fecha|date }} </strong>
</div>
<br>
		

		<div style="width:90%; margin:0 auto">

		<h2 style="color:#c33833;font-weight:bold"> Cumpleaños egresados</h2> 
		<br>
		
		<br>
		<table id="myTable" class="table table-hover tablesorter">
			<thead>
				<tr>
					<th>Usuario</th>
					<th>Nombre</th>
					<th>Cumpleaños</th>
					<th>Email</th>
					<th>Estado</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				{% for egresado in egresados %}
				<tr>
						<th>{{ egresado.usuario.codigo }}</th>
						<th>{{ egresado.p_nombre|capfirst }} {{ egresado.s_nombre|capfirst }} {{ egresado.p_apellido|capfirst }} {{ egresado.s_apellido|capfirst }}</th>
						<th>{{ egresado.fecha_cumple }}</th>
						<th>{{ egresado.usuario.email }}</th>
						{% if egresado.usuario.estado == True %}
							<th><i class="fa fa-check"></i> Habilitado</th>
						{% else %}
							<th><i class="fa fa-ban"></i> Deshabilitado</th>
						{% endif %}
						<th><a class="btn btn-info btn-sm" href="{% url 'editEgresado' egresado.id %}"><i class="fa fa-pencil"></i> Editar</a>
						<a class="btn btn-default btn-sm" href="{% url 'detailEgresado' egresado.id %}"> Ver</a></th>
					</tr>
				{% empty %}
					<tr><th> No hay Egresados</th><th></th><th></th><th><th></th></th><th></th></tr>	
				
				{% endfor %}
			</tbody>
		</table>
			 
		</div>





		
	
{% endblock %}
{% block js %}

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
	
	$(document).ready(function() 
	    { 
	    	$('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json"
            }
        });
	        $("#myTable").tablesorter({sortList: [[0,0]],headers:{ 4: { sorter: false},5: { sorter: false}}}); 
	    }); 
</script>
	
{% endblock %}