{% extends "usuarios/basePanel.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load formset_tags %}
{% load bootstrap3 %}
{% block user %}
  {% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}

    <div class="row" style="width:80%;margin:0 auto;">
                <div class="col-sm-8">
                    <form class="form" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                    <h2 style="color:#c33833;font-weight:bold;padding-bottom: 10px;">
                    Editar Egresado</h2>
                    <fieldset>
                        <legend>Datos de Egresado</legend>
                        
                        {% bootstrap_form form %}
                    </fieldset>
                    <br>
                    <fieldset>
                    <legend>Direccion Actual</legend>
                   <div >
                        

                        <div>
        <!-- New forms will be inserted in here -->
                           
                            <div  style="margin:5px 2px 5px 2px">
                            <!--{{ direccion_form.as_p }}-->
                                
                                <div class="inline " style="display:block;margin: 2px;padding: 5px; ">
                                    {{ direccion_actual_form.direccion.errors }}
                                    {{ direccion_actual_form.direccion.label_tag }}
                                    {{ direccion_actual_form.direccion|add_class:"form-control" }}
                                    <br>
                                    {{ direccion_actual_form.codigo_postal.errors }}
                                    {{ direccion_actual_form.codigo_postal.label_tag }}
                                    {{ direccion_actual_form.codigo_postal|add_class:"form-control"  }}
                                    <br>
                                    {{ direccion_actual_form.ciudad.errors}}
                                    {{ direccion_actual_form.ciudad.label_tag }}
                                    {{ direccion_actual_form.ciudad|add_class:"form-control"  }}
                                    <br>
                                </div>
                                
                            
                                
                            </div>
                    
                        </div>

                </fieldset>
                <br>
                    <fieldset>
                    <legend>Otras Direcciones</legend>
                    <div id="formset_dir" data-formset-prefix="{{ direccion_form.prefix }}">
                        {{ direccion_form.management_form }}

                        <div data-formset-body>
        <!-- New forms will be inserted in here -->
                            {% for form in direccion_form %}
                            <div data-formset-form style="margin:5px 2px 5px 2px">
                            <!--{{ direccion_form.as_p }}-->
                                
                                    {{ form.id }}
                                <div class="inline {{ direccion_form.prefix}}" style="display:block;margin: 2px;padding: 5px; ">
                                    {{ form.direccion.label_tag }}
                                    {{ form.direccion|add_class:"form-control" }}
                                    {{ form.direccion.errors }}
                                    <br>
                                    {{ form.codigo_postal.label_tag }}
                                    {{ form.codigo_postal|add_class:"form-control"  }}
                                    {{ form.codigo_postal.errors }}
                                    <br>
                                    {{ form.ciudad.label_tag }}
                                    {{ form.ciudad|add_class:"form-control"  }}
                                    {{ form.ciudad.errors }}
                                    <br>
                                    {{ form.actual.label_tag }}
                                    {{ form.actual  }}
                                    {{ form.actual.errors }}
                                    <br>
                                    <div style="display:none">
                                        {{ form.DELETE }}
                                    </div>
                                </div>
                                
                            
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                            </div>
                    {% endfor %}
                        </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                        <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div data-formset-form>
                                
                                    {{ direccion_form.empty_form.direccion.label_tag }}
                                    {{ direccion_form.empty_form.direccion|add_class:"form-control" }}
                                {{ direccion_form.empty_form.direccion.errors }}
                                    <br>
                                    {{ direccion_form.empty_form.codigo_postal.label_tag }}
                                    {{ direccion_form.empty_form.codigo_postal|add_class:"form-control" }}
                                    {{ direccion_form.empty_form.codigo_postal.errors }}
                                    <br>
                                    {{ direccion_form.empty_form.ciudad.errors|add_class:"text-danger" }}
                                    {{ direccion_form.empty_form.ciudad.label_tag }}
                                    {{ direccion_form.empty_form.ciudad }}
                                    <br>

                                    <div style="display:none">
                                        {{ direccion_form.empty_form.DELETE }}
                                    </div>
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                            </div>
                        {% endescapescript %}
                        </script>


                    <!-- This button will add a new form when clicked -->
                    <button type="button" class="btn btn-default" data-formset-add><i class="fa fa-plus"></i> Agregar Otro</button>

                        

                    </div>
               
                </fieldset>
                <br>
                    <fieldset>
                    <legend>Telefonos</legend>
                    <div id="formset_tel" data-formset-prefix="{{ telefono_form.prefix }}">
                        {{ telefono_form.management_form }}

                        <div data-formset-body>
                            <!-- New forms will be inserted in here -->
                            {% for form in telefono_form %}
                            <div data-formset-form style="margin:5px 2px 5px 2px">
                                {{ form.id }}
                                <div class="inline {{ telefono_form.prefix }}">
                                    {{ form.numero.label_tag }}
                                    {{ form.numero|add_class:"form-control"  }}
                                    {{ form.numero.errors }}
                                    {{ form.tipo.label_tag }}
                                    {{ form.tipo|add_class:"form-control"  }}
                                    {{ form.tipo.errors }}
                                    <div style="display:none">
                                        {{ form.DELETE }}
                                    </div>
                                </div>
                            
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                            </div>
                        {% endfor %}
                        </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                        <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div data-formset-form>
                                
                                    {{ telefono_form.empty_form.numero.label_tag }}
                                    {{ telefono_form.empty_form.numero|add_class:"form-control" }}
                                    {{ telefono_form.empty_form.numero.errors }}
                                    {{ telefono_form.empty_form.tipo.label_tag }}
                                    {{ telefono_form.empty_form.tipo|add_class:"form-control" }}
                                    {{ telefono_form.empty_form.tipo.errors }}
                                    <div style="display:none">
                                        {{ telefono_form.empty_form.DELETE }}
                                    </div>
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                            </div>
                        {% endescapescript %}
                    </script>

                    <!-- This button will add a new form when clicked -->
                     <!-- <input type="button" value="Agregar Otro" data-formset-add>-->
                    <button type="button" class="btn btn-default" data-formset-add><i class="fa fa-plus"></i> Agregar Otro</button>
                        

                    </div>

               
                </fieldset>
                <br>
                <fieldset>
                    <legend>Idiomas</legend>
                    <div id="formset_idioma" data-formset-prefix="{{ idioma_form.prefix }}">
                        {{ idioma_form.management_form }}

                        <div data-formset-body>
                            <!-- New forms will be inserted in here -->
                            {% for form in idioma_form %}
                            <div data-formset-form style="margin:5px 2px 5px 2px">
                                {{ form.id }}
                                <div class="inline {{ idioma_form.prefix }}">
                                    {{ form.idioma.label_tag }}
                                    {{ form.idioma|add_class:"form-control"  }}
                                    {{ form.idioma.errors }}
                                    {{ form.nivel.label_tag }}
                                    {{ form.nivel|add_class:"form-control"  }}
                                    {{ form.nivel.errors }}
                                    <div style="display:none">
                                        {{ form.DELETE }}
                                    </div>
                                </div>
                            
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                                <br>
                            </div>
                            <br>
                        {% endfor %}
                        </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                        <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div data-formset-form>
                                
                                    {{ idioma_form.empty_form.idioma.label_tag }}
                                    {{ idioma_form.empty_form.idioma|add_class:"form-control" }}
                                    {{ idioma_form.empty_form.idioma.errors }}
                                    {{ idioma_form.empty_form.nivel.label_tag }}
                                    {{ idioma_form.empty_form.nivel|add_class:"form-control" }}
                                    {{ idioma_form.empty_form.nivel.errors }}
                                    <div style="display:none">
                                        {{ idioma_form.empty_form.DELETE }}
                                    </div>
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                            </div>
                        {% endescapescript %}
                    </script>

                    <!-- This button will add a new form when clicked -->
                     <!-- <input type="button" value="Agregar Otro" data-formset-add>-->
                    <button type="button" class="btn btn-default" data-formset-add><i class="fa fa-plus"></i> Agregar Otro</button>
                        

                    </div>

               
                </fieldset>
                <br>
                <fieldset>
                    <legend>Asociaciones</legend>
                    <div id="formset_aso" data-formset-prefix="{{ asociacion_form.prefix }}">
                        {{ asociacion_form.management_form }}

                        <div data-formset-body>
                            <!-- New forms will be inserted in here -->
                            {% for form in asociacion_form %}
                            <div data-formset-form style="margin:5px 2px 5px 2px">
                                {{ form.id }}
                                <div class="inline {{ asociacion_form.prefix }}">
                                    {{ form.nombre.label_tag }}
                                    {{ form.nombre|add_class:"form-control"  }}
                                    {{ form.nombre.errors }}
                                    {{ form.fecha_ingreso.label_tag }}
                                    {{ form.fecha_ingreso|add_class:"form-control"  }}
                                    {{ form.fecha_ingreso.errors }}
                                    <div style="display:none">
                                        {{ form.DELETE }}
                                    </div>
                                </div>
                            
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                                <br>
                            </div>
                            <br>
                        {% endfor %}
                        </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                        <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div data-formset-form>
                                
                                    {{ asociacion_form.empty_form.nombre.label_tag }}
                                    {{ asociacion_form.empty_form.nombre|add_class:"form-control" }}
                                    {{ asociacion_form.empty_form.nombre.errors }}
                                    {{ asociacion_form.empty_form.fecha_ingreso.label_tag }}
                                    {{ asociacion_form.empty_form.fecha_ingreso|add_class:"form-control" }}
                                    {{ asociacion_form.empty_form.fecha_ingreso.errors}}
                                    <div style="display:none">
                                        {{ asociacion_form.empty_form.DELETE }}
                                    </div>
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                            </div>
                        {% endescapescript %}
                    </script>

                    <!-- This button will add a new form when clicked -->
                     <!-- <input type="button" value="Agregar Otro" data-formset-add>-->
                    <button type="button" class="btn btn-default" data-formset-add><i class="fa fa-plus"></i> Agregar Otro</button>
                        

                    </div>

               
                </fieldset>
                <br>
                <fieldset>
                    <legend>Reconocimientos</legend>
                    <div id="formset_premio" data-formset-prefix="{{ premio_form.prefix }}">
                        {{ premio_form.management_form }}

                        <div data-formset-body>
                            <!-- New forms will be inserted in here -->
                            {% for form in premio_form %}
                            <div data-formset-form style="margin:5px 2px 5px 2px">
                                {{ form.id }}
                                <div class="inline {{ premio_form.prefix }}">
                                    {{ form.premio.label_tag }}
                                    {{ form.premio|add_class:"form-control"  }}
                                    {{ form.premio.errors }}
                                    {{ form.fecha.label_tag }}
                                    {{ form.fecha|add_class:"form-control fecha_dia"   }}
                                    {{ form.fecha.errors }}
                                    {{ form.descripcion.label_tag }}
                                    {{ form.descripcion|add_class:"form-control"  }}
                                    {{ form.descripcion.errors }}
                                    <div style="display:none">
                                        {{ form.DELETE }}
                                    </div>
                                </div>
                            
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                                <br>
                            </div>
                            <br>
                        {% endfor %}
                        </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                        <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div data-formset-form>
                                
                                    {{ premio_form.empty_form.premio.label_tag }}
                                    {{ premio_form.empty_form.premio|add_class:"form-control" }}
                                    {{ premio_form.empty_form.premio.errors }}
                                    {{ premio_form.empty_form.fecha.label_tag }}
                                    {{ premio_form.empty_form.fecha|add_class:"form-control" }}
                                    {{ idioma_form.empty_form.fecha.errors }}
                                    {{ premio_form.empty_form.descripcion.label_tag }}
                                    {{ premio_form.empty_form.descripcion|add_class:"form-control" }}
                                    {{ idioma_form.empty_form.descripcion.errors }}
                                    <div style="display:none">
                                        {{ premio_form.empty_form.DELETE }}
                                    </div>
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                            </div>
                        {% endescapescript %}
                    </script>

                    <!-- This button will add a new form when clicked -->
                     <!-- <input type="button" value="Agregar Otro" data-formset-add>-->
                    <button type="button" class="btn btn-default" data-formset-add><i class="fa fa-plus"></i> Agregar Otro</button>
                        

                    </div>

               
                </fieldset>
                <br>
                <br>
                
                <fieldset>
                    <legend>Experiencia Laboral</legend>

                    <div id="formset_exp" data-formset-prefix="{{ experiencia_form.prefix }}">
                        {{ experiencia_form.management_form }}

                        <div data-formset-body>
        <!-- New forms will be inserted in here -->
                            {% for form in experiencia_form %}
                            <div data-formset-form style="margin:5px 2px 5px 2px">
                                <!--{{ direccion_form.as_p }}-->
                                
                                    {{ form.id }}
                                <div class="inline {{ experiencia_form.prefix}}" style="display:block;margin: 2px;padding: 5px; ">
                                        {{ form.fecha_ingreso.label_tag }}
                                        {{ form.fecha_ingreso|add_class:"form-control fecha" }}
                                        {{ form.fecha_ingreso.errors }}
                                        <br>
                                        {{ form.fecha_salida.label_tag }}
                                        {{ form.fecha_salida|add_class:"form-control fecha" }}
                                        {{ form.fecha_salida.errors }}
                                        <br>
                                        {{ form.tipo_contrato.label_tag }}
                                        {{ form.tipo_contrato|add_class:"form-control" }}
                                        {{ form.tipo_contrato.errors }}
                                        <br>
                                        {{ form.empresa.label_tag }}
                                        {{ form.empresa|add_class:"form-control" }}
                                        {{ form.empresa.errors }}
                                        <br>
                                        {{ form.cargo.label_tag }}
                                        {{ form.cargo|add_class:"form-control" }}
                                        {{ form.cargo.errors}}
                                        <br>
                                        {{ form.descripcion.label_tag }}
                                        {{ form.descripcion|add_class:"form-control" }}
                                        {{ form.descripcion.errors}}
                                        <br>
                                        {{ form.tiempo_transcurrido.label_tag }}
                                        {{ form.tiempo_transcurrido|add_class:"form-control" }}
                                        {{ form.tiempo_transcurrido.errors }}
                                        <div style="display:none">
                                            {{ form.DELETE }}
                                        </div>
                                </div>
                                    
                                
                                    <button type="button" data-formset-delete-button> <i class="fa fa-times-circle"></i>Borrar Formulario</button>
                            </div>
                        {% endfor %}


                        </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                        <script type="form-template" data-formset-empty-form>
                            {% escapescript %}
                                <div data-formset-form>
                                    
                                        {{ experiencia_form.empty_form.fecha_ingreso.label_tag }}
                                        {{ experiencia_form.empty_form.fecha_ingreso|add_class:"form-control fecha" }}
                                    {{ experiencia_form.empty_form.fecha_ingreso.errors }}
                                        <br>
                                        {{ experiencia_form.empty_form.fecha_salida.label_tag }}
                                        {{ experiencia_form.empty_form.fecha_salida|add_class:"form-control fecha" }}
                                        {{ experiencia_form.empty_form.fecha_salida.errors }}
                                        <br>
                                        {{ experiencia_form.empty_form.tipo_contrato.label_tag }}
                                        {{ experiencia_form.empty_form.tipo_contrato|add_class:"form-control" }}
                                        {{ experiencia_form.empty_form.tipo_contrato.errors }}
                                        <br>
                                        {{ experiencia_form.empty_form.empresa.label_tag }}
                                        {{ experiencia_form.empty_form.empresa|add_class:"form-control" }}
                                        {{ experiencia_form.empty_form.empresa.errors }}
                                        <br>
                                        {{ experiencia_form.empty_form.cargo.label_tag }}
                                        {{ experiencia_form.empty_form.cargo|add_class:"form-control" }}
                                        {{ experiencia_form.empty_form.cargo.errors }}
                                        <br>
                                        {{ experiencia_form.empty_form.descripcion.label_tag }}
                                        {{ experiencia_form.empty_form.descripcion|add_class:"form-control" }}
                                        {{ experiencia_form.empty_form.descripcion.errors }}
                                        <br>
                                        {{ experiencia_form.empty_form.tiempo_transcurrido.label_tag }}
                                        {{ experiencia_form.empty_form.tiempo_transcurrido|add_class:"form-control" }}
                                        {{ experiencia_form.empty_form.tiempo_transcurrido.errors }}
                                        <div style="display:none">
                                            {{ form.DELETE }}
                                        </div>
                                    <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar Formulario</button>
                                </div>
                            {% endescapescript %}
                        </script>
                        <button type="button" class="btn btn-default" data-formset-add><i class="fa fa-plus"></i> Agregar Otro</button>

                    </div>
                
                </fieldset>
                <br>
                <fieldset>
                    <legend> Estudios Realizados </legend>
                    <div id="formset_est" data-formset-prefix="{{ estudios_form.prefix }}">
                        {{ estudios_form.management_form }}

                        <div data-formset-body>
                    <!-- New forms will be inserted in here -->
                        {% for form in estudios_form %}
                            <div data-formset-form>
                                {{ form.id }}
                                
                                {{ form.centro_estudio.label_tag }}
                                {{ form.centro_estudio|add_class:"form-control" }}
                                {{ form.centro_estudio.errors}}
                                <br>
                                {{ form.ubicacion.label_tag }}
                                {{ form.ubicacion|add_class:"form-control" }}
                                {{ form.ubicacion.errors}}
                                <br>
                                {{ form.titulo.label_tag }}
                                {{ form.titulo|add_class:"form-control" }}
                                {{ form.titulo.errors }}
                                <br>
                                {{ form.tipo.label_tag }}
                                {{ form.tipo|add_class:"form-control" }}
                                {{ form.tipo.errors}}
                                <br>
                                {{ form.ano_inicio.errors }}
                                {{ form.ano_inicio.label_tag }}
                                {{ form.ano_inicio|add_class:"form-control fecha" }}
                                <br>
                                {{ form.ano_fin.errors }}
                                {{ form.ano_fin.label_tag }}
                                {{ form.ano_fin|add_class:"form-control fecha" }}
                                <div style="display:none">
                                    {{ form.DELETE }}
                                </div>
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                            </div>
                        {% endfor %}
                        </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                        <script type="form-template" data-formset-empty-form>
                            {% escapescript %}
                                <div data-formset-form>
                                    
                                    {{ estudios_form.empty_form.centro_estudio.label_tag }}
                                    {{ estudios_form.empty_form.centro_estudio|add_class:"form-control" }}
                                    {{ estudios_form.empty_form.centro_estudio.errors }}
                                    <br>
                                    {{ estudios_form.empty_form.ubicacion.label_tag }}
                                    {{ estudios_form.empty_form.ubicacion|add_class:"form-control" }}
                                    {{ estudios_form.empty_form.ubicacion.errors }}
                                    <br>
                                    {{ estudios_form.empty_form.titulo.label_tag }}
                                    {{ estudios_form.empty_form.titulo|add_class:"form-control" }}
                                    {{ estudios_form.empty_form.titulo.errors }}
                                    <br>
                                    {{ estudios_form.empty_form.ano_inicio.label_tag }}
                                    {{ estudios_form.empty_form.ano_inicio|add_class:"form-control" }}
                                    {{ estudios_form.empty_form.ano_inicio.errors }}
                                    <br>
                                    {{ estudios_form.empty_form.ano_fin.label_tag }}
                                    {{ estudios_form.empty_form.ano_fin }}
                                    {{ estudios_form.empty_form.ano_fin.errors}}
                                    <div style="display:none">
                                        {{ estudios_form.empty_form.DELETE }}
                                    </div>
                                    <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                                </div>
                            {% endescapescript %}
                        </script>

                    <!-- This button will add a new form when clicked -->
                         <button type="button" class="btn btn-default" data-formset-add><i class="fa fa-plus"></i> Agregar Otro</button>
                    </div>     
                </fieldset>    
                    <hr />

                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-lg-6 col-sm-10">
                                <input type="submit" class="btn btn-primary" value="Actualizar" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
{% endblock %}
{% block js %}

    <script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
    <script>jQuery(function($) {
                            $("#formset_tel").formset({
                                animateForms: true
                            });
                            });
    jQuery(function($) {
                            $("#formset_est").formset({
                                animateForms: true
                            });
                            });
    jQuery(function($) {
                            $("#formset_dir").formset({
                                animateForms: true
                            });
                            });
                        
                    jQuery(function($) {
                            $("#formset_exp").formset({
                                animateForms: true
                            });
                            });
                        </script>
    <!--<script type="text/javascript">
        $(function() {
            $(".inline.{{ telefono_form.prefix }}").formset({
                prefix: "{{ telefono_form.prefix }}",
                
            })
            $(".inline.{{ direccion_form.prefix }} ").formset({
                prefix: "{{ direccion_form.prefix }}",
                
            })
            $(".inline.{{ experiencia_form.prefix }} ").formset({
                prefix: "{{ experiencia_form.prefix }}",
                
            })
            
        })
    </script>-->



{% include 'autocomplete_light/static.html' %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{% static '/static/js/jquery.ui.datepicker-es.js' %}"></script>

<script>
            
        $("#id_fecha_cumple").datepicker({
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            yearRange: "c-30:c+3"
        });
        $(".fecha_dia").datepicker({
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            yearRange: "c-30:c+3"
        });


        $("#id_fecha_grado").datepicker({
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            yearRange: "c-30:c+3"
        });
        $(".fecha").datepicker({
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            yearRange: "c-30:c+3"
        });


    
</script>


{% endblock %}