{% extends 'usuarios/basePanel.html' %}
<!-- se incluye el archivo user-info que contiene la informacion del usuario registrado -->
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}
	
	<div class="contenedor-info">

		
		<div class="detalle-informacion">
				<div class="heading">
					<span class="title">Datos Personales</span><a href="{% url 'editEgresado' egresado.id %}" style="float:right" class="btn btn-default btn-sm"> Editar </a>
				</div>
				<div class="elements" style="margin:0 auto">
					{% if egresado.imagen %}	
						<img class="img-rounded" width="150px" src="/media/{{ egresado.imagen }}" alt="" style="margin:0 auto">
					{% endif %}
				</div>
				<div class="elements">
					<span class="nombre-campo">Codigo:</span>
					<span class="valor-campo">{{ egresado.usuario.codigo }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Nombre:</span>
					<span class="valor-campo">{{ egresado.p_nombre|capfirst }} {{ egresado.s_nombre|capfirst }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Apellidos: </span>
					<span class="valor-campo">{{ egresado.p_apellido|capfirst }} {{egresado.s_apellido|capfirst}}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Cedula: </span>
					<span class="valor-campo">{{ egresado.cedula }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Cumpleaños: </span>
					<span class="valor-campo">{{ egresado.fecha_cumple|date:'N j' }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Escuela:</span>
					<span class="valor-campo">{{ egresado.programa.nombre|capfirst }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Email:</span>
					<span class="valor-campo">{{ egresado.usuario.email }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Estado:</span>
					{% if egresado.usuario.estado == True %}
						<span class="valor-campo">Confirmado</span>
					{% else %}
						<span class="valor-campo">Sin confirmar</span>
						<a href="#" class="">Reenviar codigo</a>
					{% endif %}
					
				</div>
		
		</div>
		<div class="detalle-informacion">
				<div class="heading">
					<span class="title">Telefonos</span>
				</div>
				{% for tel in telefonos %}
				
				<div class="elements">
					<span class="nombre-campo">Numero: </span>
					<span class="valor-campo">{{ tel.numero }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Tipo: </span>
					<span class="valor-campo">{{ tel.tipo }}</span>
				</div>
				{% empty %}
				<div class="elements">
					<span class="valor-campo">No hay elementos para mostrar</span>
				</div>
				
				{% endfor %}			
				
		</div>
				
		<div class="detalle-informacion">
				<div class="heading">
					<span class="title">Direccion actual</span>
				</div>
					{% for dir in direccionActual %}
				<div class="elements">
					<span class="nombre-campo">Direccion:</span>
					<span class="valor-campo">{{  dir.direccion }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Codigo Postal:</span>
					<span class="valor-campo">{{  dir.codigo_postal }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Ciudad:</span>
					<span class="valor-campo">{{  dir.ciudad.display_name }}</span>
				</div>
				
				{% empty %}
				<div class="elements">
					<span class="valor-campo">No hay elementos para mostrar</span>
				</div>
					{% endfor %}
		</div>
		<div class="detalle-informacion">
				<div class="heading">
					<span class="title">Otras direcciones</span>
				</div>
					{% for dir in direcciones %}
				<div class="elements">
					<span class="nombre-campo">Direccion:</span>
					<span class="valor-campo">{{  dir.direccion }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Codigo Postal:</span>
					<span class="valor-campo">{{  dir.codigo_postal }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Ciudad:</span>
					<span class="valor-campo">{{  dir.ciudad.display_name }}</span>
				</div>
				<hr>
				{% empty %}
				<div class="elements">
					<span class="valor-campo">No hay elementos para mostrar</span>
				</div>
					{% endfor %}
		</div>
		<div class="detalle-informacion">
				<div class="heading">
					<span class="title">Estudios realizados</span>
				</div>
					{% for est in estudios %}
				<div class="elements">
					<span class="nombre-campo">Titulo:</span>
					<span class="valor-campo">{{  est.titulo }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Tipo:</span>
					<span class="valor-campo">{{  est.tipo }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Centro de estudio:</span>
					<span class="valor-campo">{{  est.centro_estudio }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Año inicio:</span>
					<span class="valor-campo">{{  est.ano_inicio }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Año finalizacion:</span>
					<span class="valor-campo">{{  est.ano_fin }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Ubicacion:</span>
					<span class="valor-campo">{{  est.ubicacion }}</span>
				</div>
				<hr>
				{% empty %}
				<div class="elements">
					<span class="valor-campo">No hay elementos para mostrar</span>
				</div>
					{% endfor %}
		</div>
		<div class="detalle-informacion">
				<div class="heading">
					<span class="title">Idiomas</span>
				</div>
					{% for idioma in idiomas %}
				<div class="elements">
					<span class="nombre-campo">Idioma:</span>
					<span class="valor-campo">{{  idioma.idioma }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Nivel:</span>
					{% if idioma.nivel == 'BA' %}
						<span class="valor-campo">Bajo</span>
					{% elif idioma.nivel == 'ME' %}
						<span class="valor-campo">Medio</span>
					{% elif idioma.nivel == 'AL' %}
						<span class="valor-campo">Alto</span>
					{% endif %}

				</div>
				{% empty %}
				<div class="elements">
					<span class="valor-campo">No hay elementos para mostrar</span>
				</div>
				{% endfor %}

				
				
		</div>
		<div class="detalle-informacion">
				<div class="heading">
					<span class="title">Asociacion</span>
				</div>
					{% for aso in asociacion %}
				<div class="elements">
					<span class="nombre-campo">Nombre:</span>
					<span class="valor-campo">{{  aso.nombre }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Fecha de ingreso:</span>
					<span class="valor-campo">{{  aso.fecha_ingreso|date }}</span>
				</div>
				{% empty %}
				<div class="elements">
					<span class="valor-campo">No hay elementos para mostrar</span>
				</div>
				
				{% endfor %}
		</div>
		<div class="detalle-informacion">
				<div class="heading">
					<span class="title">Experiencia laboral</span>
				</div>
					{% for exp in experiencia %}
				<div class="elements">
					<span class="nombre-campo">Empresa:</span>
					<span class="valor-campo">{{  exp.empresa }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Fecha de ingreso:</span>
					<span class="valor-campo">{{  exp.fecha_ingreso|date }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Fecha de salida:</span>
					<span class="valor-campo">{{  exp.fecha_salida|date }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Tipo de contrato:</span>
					<span class="valor-campo">{{  exp.tipo_contrato }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Cargo:</span>
					<span class="valor-campo">{{  exp.cargo }}</span>
				</div>
				<div class="elements">
					<span class="nombre-campo">Descripcion:</span>
					<span class="valor-campo">{{  exp.descripcion }}</span>
				</div>
				{% empty %}
				<div class="elements">
					<span class="valor-campo">No hay elementos para mostrar</span>
					
				</div>
				
				{% endfor %}
		</div>
		
		
	

	</div>

{% endblock %}