
{% extends "usuarios/basePanel.html" %}
{% load staticfiles %}
{% block estaticos %}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}
{% block user %}
<!-- se incluye el archivo user-info que contiene la informacion del usuario registrado -->
	{% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}

		<div style="margin:0 1% 40px 1%;border-radius: 6px;background:#f2f2f2;overflow:hidden;padding:10px">	
				<!--<h4 style="color:#c33833;font-weight:bold">Busqueda</h4>-->
			<div class="form-inline">
				<form  method="GET">
				<div class="form-group">
					<input type="text" id="text" class="form-control" placeholder="Busqueda" name="query" required>    
				</div>
				<div class="form-group">
					<select name="busqueda" id="busqueda_ajax" class="form-control">
							<option value="codigo" selected>Codigo</option>
							<option value="nombre">Nombre</option>
							<option value="apellido">Apellido</option>
							<option value="email">Email </option>
							<option value="cedula">Cedula </option>
					</select>
				</div>
				<div class="form-group">
					<select name="programa" id="programa_list" class="form-control">
							<option value="todas" selected>Todas</option>
							{% for p in programa %}
							<option value="{{p.nombre}}">{{p.nombre}}</option>
								
							{% endfor %}
							
					</select>
				</div>
				<div class="form-group" style="margin-left:5px" >
					<input type="submit" value="Buscar" class="btn btn-primary" >
					<!--<a href="#"  id="buscar">Buscar</a>-->
				</div>
				<div class="form-group" style="float:right;margin-right:15px">
					<a href="{% url 'addEgresado' %}" class="btn btn-success"><i class="fa fa-plus-circle"></i> Registrar Egresado</a>	
				</div>
				</form>
			</div>
		</div>
	<div style="width:90%; margin:0 auto">
	<div id="resultado_busqueda">
		
	</div>
		<h2 style="color:#c33833;font-weight:bold;padding-bottom: 10px;">{{accion}}</h2>
		<table id="myTable" class="table table-hover tablesorter">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Cedula</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Escuela</th>
					<th>Confirmacion</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody>
				{% for egresados in egresados %}

				
				<tr>
						<th>{{ egresados.usuario.codigo }}</th>
						<th>{{ egresados.cedula }}</th>
						<th>{{ egresados.p_nombre }}</th>
						<th>{{ egresados.p_apellido }}</th>
						<th>{{ egresados.programa.nombre }}</th>
						{% if egresados.usuario.estado == True %}
							<th><i class="fa fa-check"></i> Confirmado</th>
						{% else %}
							<th><i class="fa fa-ban"></i> Sin confirmar <a href="{% url 'reenviarCodigo' egresados.usuario.id %}" class="">Reenviar codigo</a></th>
						{% endif %}
						<th><a class="btn btn-info btn-sm" href="{% url 'editEgresado' egresados.id %}"><i class="fa fa-pencil"></i> Editar</a>
						<a class="btn btn-default btn-sm" href="{% url 'detailEgresado' egresados.id %}"> Ver</a> <a href="{% url 'eliminarEgresado' egresados.id %}" class="btn btn-danger btn-sm confirmation">Eliminar</a>
						</th>

					</tr>
				
				{% empty %}
					<tr>
						<th> No hay Egresados</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				{% endfor %}

			</tbody>
		</table>
		{% if egresados|length > 9 %}
			
			 <div class="pagination">
			 	<span class="step-links">
        	{% if egresados.has_previous %}
            		<a href="?page={{ egresados.previous_page_number }}">Anterio</a>
        	{% endif %}

        	<span class="current">
            	Pagina {{ egresados.number }} de {{ egresados.paginator.num_pages }}.
        	</span>

        	{% if egresados.has_next %}
            	<a href="?page={{ egresados.next_page_number }}">Siguiente</a>
        	{% endif %}
    	</span>
		</div>
		{% endif %}
		</div>
		
	
{% endblock %}
{% block js %}

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<script src="{% static  '/static/js/bootstrap-confirmation.js'%}"></script>

	<script>
		$(document).ready(function() 
	    { 
	    	$('#myTable').DataTable({
            	"language": {
                	"url": "//cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json"
            	}
       		 });
	        $("#myTable").tablesorter({sortList: [[0,0]],headers:{ 4: { sorter: false},5: { sorter: false}}}); 

	        $('.confirmation').confirmation({'title':"Esta seguro que quiere eliminar este Egresado?. Esto afectara los informes, y las respuestas de las encuestas!.", 'placement':"top", 'singleton':true, 'popout':true, 'btnOkLabel':"Eliminar", 'btnCancelLabel':"Cancelar"});
	    }); 

		$('#buscar').on('click', busqueda);

		function busqueda () {
		var col = $('select').val();
		var caja = $('#text').val();
		
		$.ajax({
			data: {'col': col, 'caja':caja},
			url:'helper/busquedaAjax/',
			type: 'get',
			success: function(data){
				console.log(data);
				var html;
				html='<h2 style="color:#c33833;font-weight:bold;padding-bottom: 10px;">Resultado de Busqueda</h2><table class="table table-hover"><thead><tr><th>Nombre</th><th>Cedula</th></th><th>Email</th><th>Accion</th></tr></thead><tbody style="font-weigth:none">';
				if (data.length>0) {
					for (var i =0; i<data.length; i++) {
					html +='<tr><th>'+ data[i].fields.p_nombre+' '+data[i].fields.p_apellido+'</th><th>'+ data[i].fields.cedula+'</th><th>'+ data[i].fields.email+'</th><th><a class="btn btn-info" href="egresado/edit/'+ data[i].pk +'/"><i class="fa fa-pencil"></i> Editar</a><a class="btn btn-default" href="egresado/detail/'+ data[i].pk +'/"> Ver</a></th></tr>';
					}

				}else{

					html += '<tr><th> No hay Resultados</th></tr>'
				};
				
				html += '</tbody></table>'
				$('#resultado_busqueda').html(html);
			}

		});
		
		}

	</script>
{% endblock %}
