<html>
<head>
	<title>{{ title }}</title>
</head>
<body>
	<h1> {{ nombre }}</h1>

	{% for l in lista %}
		{% if l == 2 %}
			<strong>es Par</strong>
		{% else %}
			<h2> {{ l }}</h2>

		{% endif %}
	{% endfor %}

</body>
</html>