{% extends "usuarios/basePanel.html" %}
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}

{% block contenido_panel %}

		{% if mensaje %}
						<div class="alert alert-danger" style="margin:10px">
                        <a class="close" data-dismiss="alert">x</a>
                        {{ mensaje }}
                    </div>

					{% endif %}
		
	
{% endblock %}
{% block js %}




{% endblock %}