
{% extends "usuarios/basePanel.html" %}
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}

{% block contenido_panel %}
	
					<div style="margin:0 1% 40px 1%;border-radius: 6px;background:#f2f2f2;overflow:hidden;padding:10px">	
				<!--<h4 style="color:#c33833;font-weight:bold">Busqueda</h4>-->
			<div class="form-inline">
				<form method="POST">
				{% csrf_token %}
				<div class="form-group">
					<input type="text" id="text" class="form-control" placeholder="Busqueda" name="query">    
				</div>
				<div class="form-group">
					<select name="busqueda" id="busqueda_ajax" class="form-control">
							<option value="codigo" selected>Usuario</option>
							<option value="nombre">Nombre</option>
							<option value="email">Email </option>
					</select>
				</div>
				<div class="form-group">
					<select name="estado" class="form-control">
							<option value="todos" selected>Todos</option>
							<option value="habilitado">Habilitado</option>
							<option value="deshabilitado">Deshabilitado</option>
					</select>
				</div>
				<div class="form-group">
					<select name="tipo" class="form-control">
							<option value="todos" selected>Todos</option>
							<option value="privada">Privada</option>
							<option value="publica">Publica</option>
							<option value="mixta">Mixta</option>
					</select>
				</div>
				<div class="form-group" style="margin-left:5px">
					<input type="submit" class="btn btn-primary" value="buscar">
				</div>
				</form>
				

			</div>
		</div>	
	<div style="width:90%; margin:0 auto">

		<h2 style="color:#c33833;font-weight:bold">Lista de Empresas</h2>
		<br>
		<table id="myTable" class="table table-hover tablesorter">
			<thead>
				<tr>
					<th>Usuario</th>
					<th>Nombre</th>
					<th>Tipo</th>
					<th>Email</th>
					<th>Estado</th>
					<th>Opcion</th>
				</tr>
			</thead>
			<tbody>
				{% for empresa in empresas %}
				<tr>
						<th>{{ empresa.usuario.codigo }}</th>
						<th>{{ empresa.nombre }}</th>
						<th>{{ empresa.tipo }}</th>
						<th>{{ empresa.usuario.email }}</th>
						{% if empresa.usuario.estado == True %}
							<th><i class="fa fa-check"></i> Habilitado</th>
						{% else %}
							<th><i class="fa fa-ban"></i> Deshabilitado</th>
						{% endif %}
						
						{% if empresa.usuario.estado == True %}
							<th> <a class="btn btn-info btn-sm" href="{% url 'toggleEmpresa' empresa.pk %}?action=deshabilitar"><i class="fa fa-pencil"></i> Deshabilitar </a></th>
						{% else %}
							
							<th> <a class="btn btn-info btn-sm" href="{% url 'toggleEmpresa' empresa.pk %}?action=habilitar"><i class="fa fa-pencil"></i> Habilitar </a></th>
						{% endif %}
					

							
					</tr>
				{% empty %}
					<tr>
						<th> No hay Egresados</th>
						<th></th>
						<th></th>
						<th><th>							
						</th></th>
						<th></th>
					</tr>	
				
				{% endfor %}
			</tbody>
		</table>
			 
		</div>
	
{% endblock %}
{% block js %}
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>

	<script>
		$(document).ready(function() 
	    { 
	    	$('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json"
            }
        });
	    	$("#myTable").tablesorter();
	        
	    });
	</script>

{% endblock js %}
