{% extends 'usuarios/basePanel.html' %}
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}
	<div style="width:90%; margin:0 auto;">

		<h2 style="color:#c33833;font-weight:bold;padding-bottom: 10px;">Lista de Usuarios</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Tipo Usuarios</th>
					<th>Cantidad</th>					
				</tr>
			</thead>
			<tbody style="font-weigth:none">
				<tr>
						<th><a href="{% url 'listaEgresados' %}">Egresados</a></th>
						{% if egresados == 0 %}
							<th> No hay usuarios </th>
						{% else %}
							<th>{{ egresados }}</th>
						{% endif %}

				</tr>	
				<tr>
						<th><a href="{% url 'listaEmpresas' %}" >Empresas</a></th>
						{% if empresa == 0 %}
							<th> No hay Empresas </th>
						{% else %}
							<th>{{ empresa }}</th>
						{% endif %}
						
				</tr>
				<tr>
						<th><a href="#" >Administrador</a></th>
						{% if administrador == 0 %}
							<th> No hay usuarios </th>
						{% else %}
							<th>{{ administrador }}</th>
						{% endif %}

				</tr>
				</tbody>
		</table>
	</div>		 
	
{% endblock %}