{% load bootstrap %}
<html>
<head>
<title>Iniciar Sesion</title>
	<link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
	<body class="bg" style="height: auto;">

			<div class="sesion">
					
				<div class="infoSesion">
					<div class="imagen">
						<img src="http://placehold.it/350x150" alt="imagen">
					</div>
					<div class="textoSesion">
						<span > Bienvenido! Ingrese sus datos para iniciar sesion. </span>
					</div>
					{% if info %}
						<span class="info"><i class="fa fa-times"></i> {{ info }}</span>
					{% endif %}
				</div>
				<div class="login">

				
  				<form action="" method="POST" class="form">
  					{% csrf_token %}
					{{ form|bootstrap }}

					<input type="submit" value="Ingresar" class="btn btn-success">
				</form>
		

			</div>
			</div>
			
	</body>
</html>
