{% extends "usuarios/basePanel.html" %}
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}
{% block estaticos %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock estaticos %}
{% block contenido_panel %}

		
		<a href="{% url 'addPrograma' %}" style="float:right; margin:10px" class="btn btn-success">Crear programa</a>
	<div class="container" style="margin-left:60px">
		<legend><h2 style="color:#c33833;font-weight:bold; margin-top:0; padding-top:0">Lista de Programas</h2></legend>
			<table class="table table-hover" id="myTable">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Accion</th>
					
				</tr>
			</thead>
			<tbody>
				{% for programa in programas %}
				<tr>
						<th>{{ programa.nombre|capfirst }}</th>
						<th><a href="{% url 'updatePrograma' programa.id %}" class="btn btn-default btn-sm">Editar</a> <a href="{% url 'eliminarPrograma' programa.id %}" class="btn btn-danger btn-sm">Eliminar</a></th>
				</tr>
				{% empty %}
					<tr>
						<th>No hay Programas para mostrar</th><th></th>
					</tr>	
				
				{% endfor %}
			</tbody>
		</table>
			 
		</div>
	
{% endblock %}
{% block js %}

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>

	<script>
		$(document).ready(function() 
	    { 
	    	$('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json"
            }
        });
	        //$("#myTable").tablesorter(); 
	    });
	 </script> 

{% endblock %}