<ul id="leftNavigation">
        {% for m in menu %}
            
        <li {% if m.active %}class="active"{% endif %}>
            <a href="#"><i style="margin:-3px" class="fa {{m.icono }} leftNavIcon"></i>  {{m.name}}</a>
            <ul>
                {% for sm in m.submenu %}
                <li>
                    <a href="{{ sm.surl }}"><i class="fa fa-angle-right leftNavIcon"></i> {{sm.sname}}</a>
                </li>
                {% endfor %}
            </ul>
            
        </li>
        
        {% endfor %}
<!--
        <li class="active">
            <a href="#"><i class="fa fa-male leftNavIcon"></i> Egresados</a>
            <ul>
                <li>
                    <a href="{% url 'listaEgresados' %}"><i class="fa fa-angle-right leftNavIcon"></i> Listar Egresados</a>
                </li>
                <li>
                    <a href="{% url 'listaEgresadosDesactualizados' %}"><i class="fa fa-angle-right leftNavIcon"></i> Listar Egresados Desactualizados</a>
                </li>
                <li>
                    <a href="{% url 'addEgresado' %}"><i class="fa fa-angle-right leftNavIcon"></i> Registrar Egresado</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-keyboard-o leftNavIcon"></i> Portal Web</a>
            <ul>
                <li>
                    <a href="#"><i class="fa fa-angle-right leftNavIcon"></i> Listar noticia</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-angle-right leftNavIcon"></i> Publicar noticia</a>
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-truck leftNavIcon"></i> Encuestas</a>
            <ul>
                <li>
                    <a href="{% url 'encuesta:crearEncuesta' %}"><i class="fa fa-angle-right leftNavIcon"></i> Crear Encuesta</a>
                </li>
                <li>
                    <a href="{% url 'encuesta:listaEncuesta' %}"><i class="fa fa-angle-right leftNavIcon"></i> Listar Encuestas</a>
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-envelope-o leftNavIcon"></i> Eventos</a>
            <ul>
                <li>
                    <a href="{% url 'eventos:addEvento' %}"><i class="fa fa-angle-right leftNavIcon"></i> Crear Evento</a>
                </li>
                <li>
                    <a href="{% url 'eventos:listaEventos' %}"><i class="fa fa-angle-right leftNavIcon"></i> Listar eventos</a>
                </li>
            </ul>
        </li>-->
        
        
    


    </ul>



	<!--<a href="{% url 'listaEgresados' %}"><span class="egresado">Egresados</span></a>
	<a href="{% url 'listaEntrada' %}"><span class="blog">Portal Web</span></a>
	<a href="{% url 'encuesta:listaEncuesta' %}"><span class="encuesta">Encuestas</span></a>
	<a href="{% url 'eventos:listaEventos' %}"> <span class="calendar">Eventos</span></a>
	<a href="{% url 'correo:indexCorreo' %}"><span class="message">Correo</span></a>
	<a href="{% url 'listaOfertaLaboral' %}"><span class="promote">Oferta laboral</span></a>
	<a href="{% url 'listaEmpresas' %}"><span class="empresa">Empresa</span></a>
	-->
		
