{% extends 'usuarios/basePanel.html' %}
<!-- se incluye el archivo user-info que contiene la informacion del usuario registrado -->
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}
	<div class="row" style="width:80%;margin:0 auto;">
                <div class="col-sm-10">
                    <h2 class="titulos">Reenviar enlace de confirmacion</h2>
                    <hr />
					{% if mensaje %}
						<div class="alert alert-info">
                        <a class="close" data-dismiss="alert">x</a>
                        {{ mensaje }}
                    </div>

					{% else %}
                    <form class="form-horizontal" method="POST">
                    	{% csrf_token %}
                        <div class="form-group">
					    <label>Correo electronico</label>
					    <input style="max-width:350px" type="email" name="email" class="form-control" placeholder="Email" required>
					  </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-lg-6 col-sm-10">
                                <input  type="submit" class="btn btn-primary" value="Enviar" />
                            </div>
                        </div>
                    </form>
					
					{% endif %}
                </div>
            </div>
	
{% endblock %}