{% extends "usuarios/basePanel.html" %}
{% load bootstrap %}
{% block user %}
    {% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}

	<div class="row" style="width:60%;margin:0 auto;">
                <div class="span12">
                    <h2 class="titulos">Editar Programa</h2>

                    <hr />

                    <form class="form" method="POST">
                    	{% csrf_token %}
                        {{ form|bootstrap }}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" class="btn btn-primary" value="Guardar" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
{% endblock %}