
	
<div class="user-info">
			<div class="avatar">
				<img src="{{ request.session.urlimagen }}" alt="avatar">
			</div>
			<div class="descripcion">
				<span class="name"> {{ request.session.nombre_usuario|capfirst }}</span>
				<span class="tipo-usuario"> Administrador </span>
			</div>

			<a class="flechita" onclick="toggleDiv('menu-flechita-id');" id="flechita-id" href="#"><i class="fa fa-chevron-down"></i></a>
					
			<ul class="menu-flechita" id="menu-flechita-id">
			  <li><a href="{% url 'actualizarCoordinador' %}"> <i class="fa fa-cog"></i> Configuracion de cuenta </a></li>
			  <li><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Cerrar Sesion </a></li>
			</ul>
</div>
