*
	margin 0 

body
	background-image url(../img/bg_unisinucartagena.jpg)
	background-repeat no-repeat
	background-position top center
	background-attachment fixed
	color #555555
	font-family Arial, Helvetica, sans-serif
	font-size 14px

header
	text-align center
	margin 0 auto
	
footer
	max-width 960px
	margin 2em auto
	text-align left

	p
		text-shadow 1px 0 1px rgba(#b44040,0.3)

h1, 
h2,
h3
	color #b44040


.banner
	max-width 960px
	display block
	text-align center
	margin 1em auto	
.img 
	width 100% 

.contenedor
	background #fff	
	max-width 960px 
	width 100%
	text-align center
	margin 0 auto 
	min-height 500px 
	display block
	margin-top 1em
	margin-bottom 1em
	/*padding 0.5em*/

.menu-nav
	display block
	background-color #585858
	background-image -webkit-gradient(linear, left top, left bottom, from(#E25A54), to(#9B2823))
	/*background-image -webkit-linear-gradient(top, #E25A54, #9B2823)*/
	background-image -moz-linear-gradient(top, #E25A54, #9B2823)
	background-image -ms-linear-gradient(top, #E25A54, #9B2823)
	background-image -o-linear-gradient(top, #E25A54, #9B2823)
	background-image linear-gradient(top, #E25A54, #9B2823)
	height 100% auto
	line-height 3em
	margin 0 auto
	max-width 960px
	min-height 3em
	text-shadow 1px -1px 1px black
	text-align left
	padding 0
	position relative
	width 100%

	ul
		padding 0
		display block
		
		li
			display block
			list-style none
			margin 0 auto
			/*text-align center*/
			/*margin-right -5px*/

			a
				color #fffbfa !important
				font-weight bold
				text-decoration none 
				padding 0.9em 2em
				white-space nowrap
				border-left-style solid
				border-color rgba(255,255,255,0.2)
				border-width 1px
				
				&:hover
					text-decoration underline
					background #881A1A !important
					
					
img 
	max-width 100%
	height auto
	

.submenu
	background #fffbfa
	border 1px solid #efefef
	border-left-style none
	display block
	text-align left
	margin 0 auto
	/*height 100% auto*/
	line-height 3em
	max-width 960px
	margin-bottom 1em
	min-height 3em
	padding 0
	position relative
	width 100%

	ul
		display inline-block
		margin-bottom -20px
		padding 0

		li 
			display inline-block
			list-style none
			margin-right -5px

			a 
				color #000b0a
				text-decoration none
				white-space nowrap
				padding 0.9em 2em
				border-left-style solid
				border-color #efefef
				border-width 1px
				
				&:hover
					text-decoration underline
					background #efefef


.principal,
.sidebar
	text-align justify
	display inline-block
	max-width 960px
	min-height 200px
	width 50%
	padding 0
	vertical-align top
	margin 0.25em 0.5em
	font-size 16px

.sidebar
	width 38%
	height 100%
	padding-top 2em
	padding-left 2em

.h3-redes
	margin-bottom 1em
	font-weight bold

.sub-nav-redes
	margin-bottom 1em
	img 
		display inline-block
	a
		color #b44040
		text-decoration none
		padding 0.25em

		&:hover 
			color #000b0a
			text-decoration underline
		

@media screen and (max-width 600px)
	.contenedor
		width 100%

	.principal
		width 95%

	
	.sidebar
		width 95%
		padding-left 0
		
	.submenu
		float left
		ul
			margin 0 
			width 100%
			li
				display block
				margin 0
				&:hover
					background #efefef
					
			