.item
{
	border-bottom: 3px #b44040 solid;
	margin-bottom: 3em;
	min-height: 128px;
	position: relative;
}

.item h2 a
{
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: #b44040;
}

.item h2 a:hover
{
	text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}

.item p
{
	color: #7A7A7A;
	font-size: 0.9em;
}

.item .imagen_item
{
	float: left;
	margin: 0 1em 0 0;
	width: 100%;
	height: auto;

}

.imagen_item img 
{
	margin-bottom: 0.9em;
}

.item figure
{
	float: left;
}

.item h2
{
	font-size: 20px;
	font-weight: normal;
	margin: 20px 0 10px 0; 
	display: block;
}
.cat
{
	color:#b44040;
	font-size:14px;
}

.ti
{
	color: #b44040;
	font-weight: bold;
}

.perfile
{
	display:inline-block;
	vertical-align:top;
	text-align: center;
	padding: 2em;
}

.perfile a
{
	color:#b44040;
}

.perfil-div, .perfil-pass
{
	display: inline-block;
	float:right;
	border:1px #f2f2f2 solid; 
	min-height:250px;
	width:75%;
	text-align: center;
	margin: 0 auto;
}

.perfil-pass
{
	padding-top: 1em;
	width:100%;
}
.perfil-pass div 
{
	margin-left: 30px;
	margin-right: 30px;
	text-align: center;
}
.perfil-pass form input,
.perfil-pass form select
{
	margin: 0 auto;
	width: 300px;
}

.menub
{
	margin-top:0;
}

input[type=number]::webkit-inner-spin-button,
input[type=number]::webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.titulo_encuesta
{
	text-decoration: none;
}

.item_pag a
{
	text-decoration: underline;
}

.art
{
	float:left;
	width:25%;
	margin-right: 20px; 
}
.a
{
	color:#b44040;
}
.a:hover
{
	color:#000;
}
.navbar-default .navbar-nav>li>a {
	color: #fffbfa;
}

.navbar-default .navbar-brand {
	color: #fffbfa;
}
.home-nav:hover{
	background: #881A1A !important; 
	color: #fffbfa !important; 
}
.postular{
	padding: 1em 0;
}

.menux{
	display: inline-block;
	width: 100%;
	max-width: 900px;
	max-height: 100%;
	height: auto;
}

.ee,.menux table
{
	display: block;
}

.dl
{
	display:none;
}

.content_eventos
{
	border-bottom: 3px #b44040 solid;
	margin-bottom:4em;
	padding-bottom: 0.5em; 
}

@media screen and (max-width:600px){
	.menux table tbody{
		display: block;
		width: 100%;
	}
	.menux table tbody tr {
		display: block;
		width: 100%; 
	}
	.menux table tbody td {
		display: block;
		width: 100%;
		min-width: 200px; 
	}
	.ee h1, .ee i
	{
		text-align: left;
		display: block !important;
	}
	.del{
		display: none;
	}
	.cien , input{
		width: 100%;
		display: block;
		float: none;
		margin: 0;
	}
}
