
colorBackground = #f5f4f4
colorHeader = #C33833


@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html
body 
	background white
	height 100%
	margin 0
	

	.contenedor
		//overflow hidden
		height auto
		display block
		//overflow auto
		
		Header
			position fixed
			top 0
			left 0
			display inline-block
			vertical-align top
			background colorHeader
			width 100%
			margin-bottom 2px
			height 70px
			z-index 4
			box-shadow 0px 0px 2px 0px rgba(50, 50, 50, 0.75)

			.logo
				display inline-block
				vertical-align top
				overflow hidden
				
				img
					width 200px
					margin 4px
			.menubar
				margin 22px
				display inline-block
				vertical-align top
				a
					text-decoration none
					padding 10px
					text-align center
					font-size 18px
					font-family 'Helvetica'
					color white
					margin-right 10px

			.helperButtons
				display inline-block
				vertical-align top
				float right
				position absolute
				top 15px
				right 200px
				a
					text-decoration none
					padding 5px
					text-align center
					font-size 10px
					font-family 'Helvetica'
					color white
					margin-right 2px
				.buscar-icon
				.campanita-icon
				.configuracion-icon
				.salir
				.flechita
					&:before
						font-family 'FontAwesome'
						font-size 28px

				.buscar-icon
					&:before
						content "\f002  "

				.campanita-icon
					&:before
						content "\f0f3  "

				.configuracion-icon
					&:before
						content "\f013  "

				.salir
					&:before
						content "\f08b  "

			.user-info
				display inline-block
				vertical-align top
				float right
				position absolute
				top 9px
				right 10px

				.avatar
					display inline-block
					vertical-align top
					position absolute
					top 3px
					right 100px
					img
						width 51px
						border-radius 15%
						height 46px
				.descripcion
					display inline-block
					vertical-align top
					width 50px
					position absolute
					top 2px
					right 14px
					color white
					.name
						position absolute
						top 14px
						right 37px
						font-style italic
						font-weight bold
						margin 0
						padding 0
						line-height 0.8
					.tipo-usuario
						position absolute
						top 25px
						right 18px
						font-style italic
						font-size 10px

				.flechita
					text-decoration none
					color white
					position absolute
					top 13px
					right 16px
					cursor pointer
					
					

				.menu-flechita
					list-style none
					display none
					position relative
					z-index 2
					margin-top 61px
					clear both
					background colorHeader
					padding 0px
					border-top 1px solid colorBackground

					li 
						width 200px
						background white
						color black
						background colorHeader
						padding 10px

				

						a
							text-decoration none
							width 100%
							color white
							
							
							
					

		.navegacion
			background #f2f2f2
			position fixed
			top 70px
			left 0
			display inline-block
			vertical-align top
			float left
			width 15%
			height 100%
			overflow hidden
			border-right 1px solid rgba(203,203,203,0.4)

			a
				display block				
				border-bottom 1px solid rgba(206,206,206,0.5)
				text-decoration none
				margin-left 5px
				padding 12px
				color rgba(black,0.5)
				//font-weight bold

			.message
			.dash
			.calendar
			.promote
			.media
			.egresado
			.encuesta
			.blog
			.empresa
				padding-left 25px


				&:before
				
					font-family 'FontAwesome'
					font-size 30px
				
			
			.empresa
				&:before
					content "\f0f2  "
					
			.encuesta
				&:before
					content "\f0ae  "
			.blog
				&:before
					content "\f044  "
			.egresado
				&:before
					content "\f183  "
			.media
				
				&:before
					content "\f03e  "
			
			.dash
				
				&:before
					content "\f0e4   "
			
			.promote
				
				&:before
					content "\f0a1   "
			.message
				
				&:before
					content "\f003   "
			
			.calendar
				
				&:before
					content "\f073   "
		
		.panelContenido
			padding 78px 0 4px 15%
			display inline-block
			vertical-align top
			width 100%
			
			//estilos de template lista de eventos
			.container
				width 70%
				padding 5px
				margin 20px

				.content_eventos
					position relative
					display block
					width 96%
					height 235px
					border 1px solid #cecece
					overflow hidden
					margin 5px

					.imagen
						float left
						display inline-block
						vertical-align top
						height 100%

						img
							width 200px
							height 100%


					.descripcion
						display inline-block
						vertical-align top
						width 68%
						margin 2px 3px 2px 13px

						.otro
							display inline-block
							vertical-align top
							margin-top 20px
							width 100%

							.links
								display inline-block
								vertical-align top
								float right
								margin-right 5px
								margin-bottom 5px

							.fechas
								display inline-block
								vertical-align top
								float left
								margin-left 5px
								margin-bottom 5px

								.fecha_inicio
								.fecha_fin
									.texto
										font-weight bold
									.fecha
										font-style italic
				//estilos detalle evento			
				.imagen-evento
					display block
					margin 0 auto
					img
						width 70%
						margin 0 auto
				.descripcion-evento
					margin 0 auto
					display block
					width 70%
					h3
						color colorHeader
						font-weight bold
					p
						margin 0 auto
						font-size 16px
						text-align justify
					.fechas
						width 100%
						display block
						margin 15px 0
						.fecha-ini
						.fecha-fin
							display block
							margin 3px 0
							padding-left 13px
						
						.fecha-ini
							.label-fecha
								font-size 15px
								font-weight bold
						
						.fecha-fin
							.label-fecha
								font-size 15px
								font-weight bold
						
			//estilos gestion de usuarios					
			.gestion
				width 70%
				margin 0 auto
				display block
				.usuario-content
					width 100%
					height 100px
					background #cecece
					margin-bottom 4px

					.usuario
						display inline-block
						vertical-align top
						

						.nombre-usuario
							padding 37px
							display inline-block
							vertical-align top
							font-size 18px
							color colorHeader
							text-decoration none
					.numero-content
						display inline-block
						vertical-align top
						background gray	
						float right
						height 100%
						width 50px
						.numero
							display inline-block
							vertical-align top
							padding 39px 0px 1px 15px
										



						
							




												
										

			.contenedor-info
				display inline-block
				vertical-align top
				width 60%
				margin-left 25px
				padding 4px
				

				.detalle-informacion
					display inline-block
					vertical-align top
					//padding 5px
					width 100%
					border 1px solid #eff2f7
					margin-bottom 5px

					.heading
						background #fafafa
						width 100%
						border-bottom 1px solid #eff2f7
						padding 15px

						.title
							color black
							font-size 18px
							text-transform uppercase
							color #767676
							padding 10px

						
							

					.elements
						display block
						padding 15px
						background white
						border-bottom 1px solid #eff2f7
						.nombre-campo
							font-size 16px
							font-weight bold
							color #767676
						.valor-campo
							font-size 14
							color #767676



//estilos de iniciar session

.bg
	background rgba(219, 219, 219, 0.34)
	padding 20px
	color white
		
	.sesion
		width 400px
		margin 0 auto
		font-size 16px
		padding 15px
		background colorHeader
		box-shadow  0px 0px 5px 0px rgba(50, 50, 50, 0.75);


		.infoSesion
			width 100%
			padding 0 3px 0 3px

			.imagen
				margin 0 auto
				img 
					width 100%
					margin 3px
			.textoSesion
				padding 3px
				font-style italic
				font-size 18px
				margin-bottom 7px

			.info
				background orange
				border-radius 5px
				padding 5px
				margin 10px
				color white
		.login
			margin 18px auto
			
		.botonInicioSesion
			background colorHeader
			box-shadow 0 0 5px 0 #cecece


//helpers
	
.titulos
	color colorHeader
	font-weight bold
	margin 17px 0px 30px 0px


#leftNavigation {
  margin: 0;
}
#leftNavigation, #leftNavigation li ul {
  list-style: none;
  padding: 0;
}
#leftNavigation li {
	border-bottom: solid 1px #FFFFFF;

}
#leftNavigation li a {
  font-size: 16px;
  display: block;
  padding: 0.8rem 1rem 0.8rem 3rem;
  color: #5A5757;
  
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
#leftNavigation li a, #leftNavigation li a .leftNavIcon {
  line-height: 120%;
}
#leftNavigation li a .leftNavIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  padding: 12px;
  text-align: center;
}
#leftNavigation li a:hover {
  //color: white;
}
#leftNavigation li ul {
  display: none;
  margin: 0;
  background-color: #FFFFFF;
}
#leftNavigation li ul li a {
  //border-bottom: solid 1px #233547;
}
#leftNavigation li ul li:last-child a {
  border-bottom: none;
}
#leftNavigation li ul li.active a {
  color: white;
}
#leftNavigation li.active > a {
  color: white;
}
#leftNavigation li.active ul {
  display: block;
}
#leftNavigation > li.active {
  background-color: #427c97;
}
