{% extends "usuarios/basePanel.html" %}
{% load bootstrap %}
{% block user %}
    {% include "usuarios/user-info.html" %}
{% endblock %}
{% block topstaticos %}
<script src="{{ STATIC_URL }}css/bootstrap-tagsinput.css"></script>
  {% endblock %}
{% block estaticos %}
<!--<script src="{{ STATIC_URL }}css/jquery.tagsinput.css"></script>-->



{% endblock %}

{% block contenido_panel %}

<div class="row" style="width:80%;margin:8px auto;">
      <div class="col-6">
          <h2 class="titulos">Correo</h2>

          <form method="POST">
            {% csrf_token %}
            <h4> Seleccionar las escuelas a incluir!</h4>
          <div style="background:#FAFAFA;border-radius:3px;padding:7px;margin:3px;">
            
            <label for="all"> Todos</label>
            <input type="checkbox" name="all">
            <label for="medicina"> Medicina</label>
            <input type="checkbox" name="medicina">
            <label for="ingsistemas"> Ingenieria de sistemas</label>
            <input type="checkbox" name="ingsistemas">
            <label for="psicologia"> Psicologia</label>
            <input type="checkbox" name="psicologia">
            <label for="contaduria"> Contaduria</label>
            <input type="checkbox" name="contaduria">


          </div>
          <div>
            <input type="email" id="correos" name="correo" placeholder="Email" class="form-control">
            <br>
            <input type="text" class="form-control" placeholder="Asunto" name="asunto">
            <br>
            {% if info %}
            <span class="text-success">{{ info }}</span>
            {% endif %}
            <br>
            <textarea name="mensaje" class="form-control" rows="10"></textarea>
            
          </div>
          <br>
          <div>
            <button class="btn btn-default" type="submit">Enviar</button>
          </div>
      </form>
              
      </div>
  </div>
{% endblock %}

{% block js %}

<script src="{{ STATIC_URL }}js/bootstrap-tagsinput.min.js"></script>
<!--<script src="{{ STATIC_URL }}js/bootstrap-tagsinput.min.js.map"></script>-->
<!--<script src="{{ STATIC_URL }}js/jquery.tagsinput.js"></script>-->
<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script type="text/javascript">
  
    $('#correo').tagsinput({
      tagClass: 'big'

    });
    tinymce.init({selector:'textarea'});

    
</script>
{% endblock %}