{% extends "baseblog.html" %}
{% load bootstrap %}
{% block x %}style="border-right:solid 1px rgba(0,0,0,.2);"{% endblock x %}
{% block aside %}
<div class="sidebar" style="width: 38%;">
    <div class="row" style="width:92%;margin:0 auto;margin-top:-24px;">
        {% if info %}
  		<div class="alert alert-danger" role="alert" style="">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            {{info}}
        </div>
        {% endif %}
  		<h2><center>Identifíca</center></h2>
  		<hr />
  		<form action="" method="POST" class="form">
  			{% csrf_token %}
  		{{ form|bootstrap }}
  		    <input type="submit" value="Inciar sesión" name="form1" class="btn btn-success">
  	  </form>
  </div>	
</div>
{% endblock aside %}

{% block contenido %}
<!--<div class="row" style="width:100%;margin:0 auto;">-->
{% if mensaje %}
<div class="alert alert-success" role="alert" style="margin:1em 2em auto auto;">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
{{mensaje}}
</div>
{%else%}
    <div class="col-sm-10">
        <h2>Registrar Empresa</h2>
        <hr />

        <form action="" class="form" method="POST">
            {% csrf_token %}
            {{ form2|bootstrap }}
            <div class="form-group">
                <div class="submit">
                  <input type="submit" class="btn btn-primary" value="Registrar" name="form2" />
                </div>
            </div>
        </form>
    </div>

{% endif %}
{% endblock %}
