{% extends "usuarios/basePanel.html" %}
{% block estaticos %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/tinymce/tiny_mce/tiny_mce.js"></script>
{% endblock %}
{% load bootstrap %}
{% block user %}
    {% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}
	<div class="row" style="width:70%;margin:0 auto;">
        <div class="span12">
            <h1 class="titulos">Registrar Entrada</h1>
            <hr />
            <form class="form-horizontal" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                {{ form|bootstrap }}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-lg-6 col-sm-10">
                        <input type="submit" class="btn btn-primary" value="Guardar Entrada" />
                        <a href="{% url 'addCategoria' %}"><input style="background:gray;float:right;"type="button" class="btn btn-primary" value="Agregar Categoria" /></a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}