{% extends "baseblog.html" %} 
{% block x %}style="width:95%;height:100%;"{% endblock x %}

{% load bootstrap %}
{% block contenido %}
<div class="menub">
	<h1 style="text-shadow:0 3px 1px #BDBDBD"><i class="fa fa-unlock-alt"></i> <strong>Cambia tu contraseña</strong></h1>
	<br>
	<em>Por favor, introduce tu contraseña anterior y luego ingresa tu nueva contraseña dos veces para que podamos verificar que está escrita correctamente.</em>
	<fieldset class="loginb">
	<div class="infoSesion">
		{% if info %}
			<span class="info"><i class="fa fa-times"></i> {{ info }}</span>
		{% endif %}
		</div>
		<div class="perfil-pass">
			<form class="form-horizontal" enctype="multipart/form-data" method="POST">
				{% csrf_token %}
				{{ form|bootstrap }}
			    <div class="form-group">
	            	<div class="Registrar">
	            		<input type="submit" class="btn btn-danger" value="Cambiar contraseña" />
	            	</div>
	            </div>
	        </form>
		</div>
	</fieldset>
</div>		
{% endblock %}

{% block jss %}
{% endblock jss %}

{% block aside %}
{% endblock aside %}