{% extends "baseblog.html" %}
{% load bootstrap %}
{% block banner %}
<!--<div class="banner">
	<img src="{{ STATIC_URL }}img/banner.jpg" alt="Egresados Unisinuanos">
</div>-->
{% endblock banner %}

{% block contenido %}

<h1>Empresa</h1>

<!-- <img src="{{ STATIC_URL }}img/img-unisinu.jpg" alt="Egresados Unisinuanos">-->
<p>
	La comunidad Unisinuana de Egresados es de suma importancia para la academia, por tal razón, nos preocupamos por el mantenimiento del contacto con los nuestros, para que nunca se desprendan del todo de su segundo hogar: la universidad. Hacemos constantemente actividades que nos mantienen siempre atentos a lo que está sucediendo en la vida de nuestra comunidad Unisinuana.
</p><br>
</p>
	Los profesionales egresados de la Universidad del Sinú, Elías Bechara Zainúm - Seccional Cartagena, constituyen el grupo de referencia que refleja ante la sociedad la calidad de los procesos de formación integral de la Institución. Tal importancia está relacionada con el interés que el desarrollo personal y profesional de los egresados cause un efecto positivo en su medio y los mantenga vinculados a su alma mater con profundo sentido de pertenencia y colaboración.
</p>
{% endblock contenido %}


{% block blogin %}
{% if request.session.id_usuario %}

<h1>Bienvenido</h1>

<p><strong>{{ request.session.nombre_usuario|upper }}</strong></p>
{% else %}
	<fieldset>
	<div class="sesion">
		<div class="infoSesion">
			{% if info %}
				<span class="info"><i class="fa fa-times"></i> {{ info }}</span>
			{% endif %}
		</div>
		<div class="login">
  			<form action="" method="POST" class="form">
 				{% csrf_token %}
				{{ form|bootstrap }}
				<input type="submit" value="Ingresar" class="btn btn-success">
			</form>
		</div>
	</div>
</fieldset>	
{% endif %}
{% endblock blogin %}