{% extends "baseblog.html" %}
{% load bootstrap3 %}

{% block x %}style="width:95%;"{% endblock x %}

{% block contenido %}
<div class="rig" style="float:right;margin-top: 1.5em;">
    <a href="{% url 'cambiarcontra_empresa' %}" class="btn btn-info"><i class="fa fa-pencil"></i> Cambiar contraseña</a>
</div> 
<h1 style="text-shadow:0 3px 1px #BDBDBD"><i class="fa fa-suitcase"></i> <strong>Editar Empresa</strong></h1>

<br>

{% if mensaje %}
<div class="alert alert-info" role="alert">
     <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {{mensaje}}
</div>
{% endif %}
<fieldset class="loginb">
	<div class="perfil-pass">
            <form class="form-horizontal" method="POST">
               	{% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group">
                    <div class="ss">
             	        <input type="submit" class="btn btn-danger" value="Guardar" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</fieldset>
{% endblock %}
{% block aside %}
{% endblock aside %}