{% extends "usuarios/basePanel.html" %}
{% load bootstrap3 %}
{% block user %}
    {% include "usuarios/user-info.html" %}
{% endblock %}

{% block contenido_panel %}
	<div class="row" style="width:70%;margin:0 auto;">
        <div class="span12">
            <h2 class="titulos">Editar Categoria</h2>
            {% if mensaje %}
            <div class="alert alert-success">
            <a class="close" data-dismiss="alert">x</a>
            {{ mensaje }}
            </div>
            {% endif %}
            <hr />
            <form class="form-horizontal" method="POST">{% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group">
                    <div class="ll">
                        <input type="submit" class="btn btn-primary" value="Guardar" />
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}