{% extends "baseblog.html" %} 

{% block x %}style="width:95%;"{% endblock x %}

{% block contenido %}
<div class="menub">
	<div class="rig" style="float:right;">
		<a class="btn btn-info" href="{% url 'cambiarcontra' %}"><i class="fa fa-pencil"></i> Cambiar contraseña</a>
	</div>
	<h1><i class="fa fa-graduation-cap"></i> &nbsp;{{egresados.p_nombre |title}} {{egresados.p_apellido |title}} {{egresados.s_apellido |title}} </h1>
	<hr>
	
	<section class="art" style="width:100%;">
		<div style="width:20%;float:left;margin-left:20px;">
			{% if egresados.imagen %}
			<img style="width:200px;height:250px;" class="img-thumbnail" src="{{egresados.imagen.url}}"/>
			{% else %}
			<img style="width:200px;height:250px;" src="http://placehold.it/200x250"/>
			{% endif %}
		</div>
		<div class="perfil-div">
			<figure id="figura1" class="perfile">
				<a href="{% url 'egresado_perfil' %}"><i class="fa fa-user fa-5x"></i> 
				<figcaption>Mi información</figcaption></a>
			</figure>
			<figure class="perfile">	
				<a href="{% url 'empleos' %}"><i class="fa fa-briefcase fa-5x"></i>
				<figcaption>Busca empleo</figcaption>
				</a>
			</figure>
			<figure class="perfile">
				<a href="{% url 'actualizaDatos' %}">
				<i class="fa fa-pencil-square-o fa-5x"></i>
				<figcaption>Actualizar datos</figcaption>
				</a>
			</figure>
			<figure class="perfile">		
				<a href="{% url 'encuestas' %}">
				<i class="fa fa-calendar fa-5x"></i>
				<figcaption>Encuesta</figcaption>
				</a>
			</figure>
		</div>
	</section>
</div>		
{% endblock %}

{% block jss %}
{% endblock jss %}

{% block aside %}
{% endblock aside %}