
{% extends "baseblog.html" %} 

{% block x %}style="width:95%;"{% endblock x %}

{% block contenido %}
<div class="menub">
	<div style="float:right;">
		<a href="{% url 'actualizaDatos' %}" class="btn btn-info" href="#"><i class="fa fa-pencil"></i> Actualizar datos</a>
	</div>
	<h1 style="margin-top:1em;text-shadow:0 3px 1px #BDBDBD"><i class="fa fa-user"></i> <strong>Perfil de egresado</strong></h1>
	
	<table class="table table-hover">
		<tr>
			<td class="ti">Codigo</td><td>{{ egresados.usuario.codigo }}</td>
		</tr><tr>
			<td class="ti">Nombres</td><td>{{ egresados.p_nombre|upper }} {{ egresados.s_nombre|upper }}</td>
		</tr><tr>
			<td class="ti">Apellidos</td><td>{{ egresados.p_apellido|upper }} {{ egresados.s_apellido|upper }}</td>
		</tr><tr>
			<td class="ti">Programa</td><td>{{ egresados.programa.nombre }}</td>
		</tr><tr>
			<td class="ti">Correo</td><td>{{ egresados.usuario.email }}</td>
		</tr><tr>
			<td class="ti">Fecha de grado</td><td>{{ egresados.fecha_grado }}</td>
		</tr><tr>
			<td class="ti">Estado laboral</td><td>{{ egresados.estado_laboral }}</td>
		</tr><tr>
			<td class="ti">Fecha de cumpleaños</td><td>{{ egresados.fecha_cumple|date:"d "}}de {{ egresados.fecha_cumple|date:"F"}} </td>
		</tr>

		<tr>
			<td class="ti" colspan="2"><h3>Informacion residencial actual</h3></td>
		</tr><tr>
		{% for dirs in dirs %}
			<td class="ti">Dirección actual</td><td>{{ dirs.direccion }}</td>
		</tr><tr>
			<td class="ti">Ciudad</td><td>{{ dirs.ciudad }}</td>
		</tr><tr>
			<td class="ti">Codigo postal</td><td>{{ dirs.codigo_postal }}</td>
		</tr>
		<tr>
		{% empty %}
		<tr>
			<td colspan="2">No tienes direcciones guardadas</td>
		</tr>
		{% endfor %}
		<tr>
		{% for dirs_otros in dirs_otros %}
		<tr>
			<td colspan="2"><h4 style="color:#b44040">Otras direcciones</h4></td>
		</tr>
			<td class="ti">Dirección</td><td>{{ dirs_otros.direccion }}</td>
		</tr><tr>
			<td class="ti">Ciudad</td><td>{{ dirs_otros.ciudad }}</td>
		</tr><tr>
			<td class="ti">Codigo postal</td><td>{{ dirs_otros.codigo_postal }}</td>
		</tr>
		<br>
		<tr>
		{% empty %}
			<td colspan="2">No tienes otras direcciones guardadas</td>
		</tr>
		{% endfor %}
			<td class="ti" colspan="2"><h3>Estudios realizados</h3></td>
		</tr><tr>
		{% for estrs in estrs %}
			<td class="ti">Tipo</td><td>{{ estrs.tipo }}</td>
		</tr><tr>
			<td class="ti">Titulo</td><td>{{ estrs.titulo }}</td>
		</tr><tr>
			<td class="ti">Año de iniciación</td><td>{{ estrs.ano_inicio }}</td>
		</tr><tr>
			<td class="ti">Año de finalización</td><td>{{ estrs.ano_fin }}</td>
		</tr><tr>
			<td class="ti">Centro de estudio</td><td>{{ estrs.centro_estudio }}</td>
		</tr><tr>
			<td class="ti">Ubucación</td><td>{{ estrs.ubicacion }}</td>
		</tr><tr>
		{% empty %}
		<tr>
			<td colspan="2">No tienes estudios guardados</td>
		</tr>
		{% endfor %}
			<td class="ti" colspan="2"><h3>Información telefonica</h3></td>
		</tr><tr>
		{% for tels in tels %}
			<td class="ti">Numero</td><td>{{ tels.numero }}</td>
		</tr><tr>
			<td class="ti">Tipo</td><td>{{ tels.tipo }}</td>
		</tr><tr>
		{% empty %}
		<tr>
			<td colspan="2">No tienes telefonos guardados</td>
		</tr>
		{% endfor %}
			<td class="ti" colspan="2"><h3>Experiencia laboral</h3></td>
		</tr><tr>
		{% for x in xplab %}
			<td class="ti">Fecha de ingreso</td><td>{{ x.fecha_ingreso }}</td>
		</tr><tr>
			<td class="ti">Fecha de salida</td><td>{{ x.fecha_salida }}</td>
		</tr><tr>
			<td class="ti">Tipo de contrato</td><td>{{ x.tipo_contrato }}</td>
		</tr><tr>
			<td class="ti">Empresa</td><td>{{ x.empresa }}</td>
		</tr><tr>
			<td class="ti">Cargo</td><td>{{ x.cargo }}</td>
		</tr><tr>
			<td class="ti">Descripción</td><td>{{ x.descripcion }}</td>
		</tr><tr>
		{% empty %}
		<tr>
			<td colspan="2">No tienes datos laborales guardados</td>
		</tr>
		{% endfor %}
			<td class="ti" colspan="2"><h3>Idiomas</h3></td>
		</tr><tr>
		{% for idiomas in idiomas %}
			<td class="ti">Nombre de idioma</td><td>{{ idiomas.idioma|title }}</td>
		</tr><tr>
			<td class="ti">Nivel</td>
			{% if idiomas.nivel == 'AL' %}
			<td>Alto</td>
			{% elif idiomas.nivel == 'ME' %}
			<td>Medio</td>
			{% else %}
			<td>Bajo</td>
			{% endif %}
		</tr>
		{% empty %}
		<tr>
			<td colspan="2">No tienes Idiomas guardados</td>
		</tr>
		{% endfor %}
			<td class="ti" colspan="2"><h3>Asocionaciones</h3></td>
		</tr><tr>
		{% for asociacion in asociacion %}
			<td class="ti">Nombre de asociacion</td><td>{{ asociacion.nombre }}</td>
		</tr><tr>
			<td class="ti">Fecha</td><td>{{ asociacion.fecha_ingreso }}</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="2">No tienes asociaciones guardadas</td>
		</tr>
		{% endfor %}
			<td class="ti" colspan="2"><h3>Premios</h3></td>
		</tr><tr>
		{% for premio in premio %}
			<td class="ti">Nombre de premio</td><td>{{ premio.premio }}</td>
		</tr><tr>
			<td class="ti">Fecha</td><td>{{ premio.fecha }}</td>
		</tr><tr>
			<td class="ti">Descripcion</td><td>{{ premio.descripcion }}</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="2">No tienes premios guardados</td>
		</tr>
		{% endfor %}
	</table>	

</div>		
{% endblock %}

{% block aside %}
{% endblock aside %}