{% extends "baseblog.html" %}
{% load bootstrap3 %}
{% block x %}style="width:95%;"{% endblock x %}
{% block aside %}
{% endblock %}
{% block contenido %}
<div class="menux">
    <h1 style="display:inline-block;text-shadow:0 3px 1px #BDBDBD; padding-bottom:1em;"><i class="fa fa-bullhorn"></i> <strong>Editar Oferta Laboral</strong></h1>
</div>
<div class="col-md-8">
    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-lg-6 col-sm-10">
            <input type="submit" class="btn btn-primary" value="Guardar" />
        </div>
    </div>
    </form>
</div>
{% endblock %}