{% extends "baseblog.html" %}
{% load bootstrap3 %}
{% block title %} 
	Bolsa de empleo - OVEU
{% endblock %} 

{% block x %}
	style="width:90%;"
{% endblock x %}

{% block aside %}
{% endblock aside %}

{% block contenido %}

<div class="menux">
	<div class="ee">
		<h1 style="display:inline-block;text-shadow:0 3px 1px #BDBDBD"><i class="fa fa-bullhorn"></i> <strong>Egresados postulados</strong></h1>
	</div>
	<br>
</div>
<div class="ofertass">
<table class="table table-hover tablesorter" id="myTable">
	<thead>
		<tr>
			<th class="ti">Nombre de egresado</th>
			<th class="ti">Hoja de vida</th>
			<th class="ti">Estado del postulado</th>
		</tr>
	</thead>
	<tbody>
	{% for vacantes in vacantes %}
		<tr>
			<th>{{vacantes.egresado_postulado.p_nombre}} {{vacantes.egresado_postulado.s_nombre}} {{vacantes.egresado_postulado.p_apellido}} {{vacantes.egresado_postulado.s_apellido}}</th>
			<th><a href="{{ vacantes.hoja_vida.url }}" target="_blank">Consultar</a> </th>
			{% if vacantes.estado_vacante == 'Sin respuesta' %}
			<th style="padding-right:1.5em;">
				<form class="form-horizontal" method="POST"  enctype="multipart/form-data">
				{% csrf_token %}
				{% bootstrap_form form %}
			</th>
			<th>
				<input type="submit" class="btn btn-success" value="Guardar estado"/>
				</form>
			</th>
			{% else %}
			<th>{{vacantes.estado_vacante}}</th>
			{% endif %}
		</tr>	
	{% empty %}
		<tr>
			<th>No hay vacantes para mostrar</th>
			<th></th>
			<th></th>
		</tr>
	{% endfor %}
	</tbody>
</table>

</div>
{% endblock contenido %}

{% block aux %}
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
	<script>
		$(document).ready(function() 
	    { 
	    	$('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json"
            }
        });
	        $("#myTable").tablesorter({sortList: [[0,0]],headers:{ 4: { sorter: false},5: { sorter: false}}}); 
	    });
		
		

	</script>


{% endblock %}

{% block jss %}
<!-- JS -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
<style type="text/css">
	.col-xs-6 #myTable_filter, .col-xs-6 #myTable_paginate
	{
		float: right;
	}
	.dataTables_info
	{ 
		visibility: hidden;
	}
</style>
{% endblock %}