{% extends "baseblog.html" %}
{% block title %} 
	Bolsa de empleo - OVEU
{% endblock %} 

{% block x %}
	style="width:90%;font-size:14px;"
{% endblock x %}

{% block aside %}
{% endblock aside %}
{% block contenido %}
    <div style="margin:0 1% 40px 1%;overflow:hidden;padding:10px">
	    <h1 style="display:inline-block;text-shadow:0 3px 1px #BDBDBD"><i class="fa fa-bullhorn"></i> <strong>Ofertas Laborales</strong></h1>
	    <!--<a style="float:right;margin-top:1.5em;" class="btn btn-danger" href="{% url 'egresados' %}"><i class="fa fa-backward"> Regresar</i></a>-->
	    <div style="float:right;margin-top:1.5em;" >
	    	
	    <form method="POST">
		<div class="form-inline">
			{% csrf_token %}
			<div class="form-group">
				<input type="text" id="text" class="form-control" placeholder="Busqueda" name="query" required>    
			</div>
			<div class="form-group">
				<select name="busqueda" class="form-control">
					<option value="nombre" selected>Nombre</option>
					<option value="desc">Descripcion</option>
					<option value="salario">Salario</option>
					<option value="perfil_profesional">Perfil</option>
					<option value="tipo_contrato">Contrato</option>
				</select>
			</div>
			
			<div class="form-group" style="margin-left:5px">
				<input type="submit" class="btn btn-danger" value="Buscar">
			</div>
		</div>
		</form>
	    </div>
    </div>
    <br>
	<!--<table class="table table-hover">-->
	<table class="table table-hover tablesorter" id="myTable">
		<thead>
			<tr>
				<th class="ti">Nombre</th>
				<th class="ti">Descripcion</th>
				<th class="ti">Perfil</th>
				<th class="ti">Fecha</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for ofertas in ofertas %}
			<tr>
				<th>{{ ofertas.nombre }}</th>
				<th style="width:30%;">{{ ofertas.desc|truncatechars:100 }}</th>
				<th>{{ ofertas.perfil_profesional }}</th>
				<th>{{ ofertas.fecha_creacion|date }}</th>		
				<th>
				<a class="btn btn-primary" href="{% url 'verOfertas' ofertas.id %}"> Ver</a>
				</th>	
			</tr>
			{% empty %}
				<tr>
					<th>No hay ofertas para mostrar</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
			{% endfor %}
		</tbody>
	</table>
{% endblock contenido %}


{% block aux %}
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
	<script>
		$(document).ready(function() 
	    { 
	    	$('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json"
            }
        });
	        $("#myTable").tablesorter({sortList: [[0,0]],headers:{ 4: { sorter: false},5: { sorter: false}}}); 
	    });
		
		

	</script>


{% endblock %}

{% block jss %}
<!-- JS -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
{% endblock %}