{% extends "baseblog.html" %}
{% load bootstrap %}
{% block x %}style="width:95%;font-size:14px;"{% endblock x %}
{% block aside %}
{% endblock %}

{% block contenido %}
<div class="botones">
	<a href="{% url 'editEmpresa' %}" class="btn btn-info"><i class="fa fa-cog"></i> Editar Empresa</a>	
	<a href="{% url 'publicar' %}" class="btn btn-success"><i class="fa fa-plus-circle"></i> Crear Oferta laboral</a>	
</div>
<div class="empresa">
<h2><strong>{{ empresas.nombre|upper }} </strong></h2>
	<table class="table table-hover" style="border-buttom:1px solid black;margin-bottom:3em;">
		<tr>
			<td class="ti">Usuario:</td><td>{{ empresas.usuario.codigo }}</td>
		</tr><tr>
			<td class="ti">E-mail:</td><td>{{ empresas.usuario.email }}</td>
		</tr>
	</table>
</div>
<div class="ofertass">
<table class="table table-hover tablesorter" id="myTable">
	<thead>
		<tr>
			<th class="ti">Nombre</th>
			<th class="ti">Descripción</th>
			<th class="ti">Perfil</th>
			<th class="ti">Contrato</th>
			<th class="ti">Fecha</th>
			<th class="ti"></th>
		</tr>
	</thead>
	<tbody>
	{% for ofertas in ofertas %}
		
		<tr>
			<th>{{ ofertas.nombre }}</th>
			<th style="width:30%">{{ ofertas.desc|truncatechars:100 }}</th>
			<th>{{ ofertas.perfil_profesional }}</th>
			<th>{{ ofertas.tipo_contrato }}</th>
			<th>{{ ofertas.fecha_creacion|date }}</th>
			<th>
				<div>
					<a class="btn btn-default" href="{% url 'verOfertae' ofertas.id %}"> Ver</a>
					<a class="btn btn-default" href="{% url 'emp_editOferta' ofertas.id %}"><i class="fa fa-pencil"></i> Editar</a>
					<a class="btn btn-danger" href="{% url 'emp_delOferta' ofertas.id %}"><i class="fa fa-times"></i></a>
				</div>
			</th>
		</tr>	
	{% empty %}
		<tr>
			<th>No hay ofertas para mostrar</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	{% endfor %}
	</tbody>
</table>	
</div>
{% endblock %}

{% block jss %}
<style type="text/css">
	.botones
	{
		max-width: 100% auto;
		float: right;
		display: block;
		margin-top: 20px;
	}
	h2{
		text-align: center;
	}
	.empresa{

		background: #ffffff;
		max-width: 70%;
		margin: 0 auto;
		margin-top: 80px;
		display: block;
	}
	.ofertass{
		display: block;
		margin: 0 auto;
		max-width: 95%;
		min-height: 100px;
	}
	.col-xs-6 #myTable_filter, .col-xs-6 #myTable_paginate
	{
		float: right;
	}
	.dataTables_info
	{ 
		visibility: hidden;
	}
	
</style>
{% endblock jss %}

{% block aux %}
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
	<script>
		$(document).ready(function() 
	    { 
	    	$('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json"
            }
        });
	        $("#myTable").tablesorter({sortList: [[0,0]],headers:{ 4: { sorter: false},5: { sorter: false}}}); 
	    });
		
		

	</script>


{% endblock %}