{% extends "baseblog.html" %} 

{% block jss %}
<style>
    
    .error {

    display: inline;
    color: red;
}
</style>

{% endblock %}
{% block x %}style="width:95%;"{% endblock x %}

{% block contenido %}
<div class="row" style="width:90%;margin:8px auto;">
    <div class="col-8"> 
        <h1 style="margin-top:1em;text-shadow:0 3px 1px #BDBDBD"><i class="fa fa-pencil"></i> <strong>Resolver Encuesta</strong></h1>
        {% if info %}
        <h2>{{ info }}</h2>
        {% else %}
  
        <form id="encuesta" class="form" method="POST" style="padding-left:15px">
        {% csrf_token %}
            <legend>{{ encuesta.titulo|capfirst }}</legend> 

            {% if encuesta.imagen %}
            <figure>
                <img src="{{encuesta.imagen.url}}">
            </figure>
            <br/>
            {% endif %}

             <p>{{ encuesta.descripcion|capfirst }}</p>
            {% for p in preguntas %}
            {% if p.tipo == 'MU'  %}

            <!-- Mostrar la pregunta -->

            <h4> {{ p.pregunta|capfirst }} </h4>
            <div class="opciones" style="padding-left:7px">
                {% for op in opcion %}
                {% if op.pregunta == p %}
                <input type="checkbox" name="respuesta[{{ p.pk }}]" value="{{ op.pk }}" /> {{ op.opcion}}<br />
                {% endif %}
                {% endfor %}
            </div>
            {% elif p.tipo == 'AB' %}
            <h4> {{ p.pregunta|capfirst }} </h4>
            <div class="opciones" style="padding-left:7px">
                <textarea rows="4" cols="50" name="respuesta[{{ p.pk }}]" required></textarea>
            </div>
            {% elif p.tipo == 'UN' %}
            <h4> {{ p.pregunta|capfirst }} </h4>
            <div class="opciones" style="padding-left:7px">
                {% for op in opcion %}
                {% if op.pregunta == p %}
                <input type="radio" name="respuesta[{{ p.pk }}]" value="{{ op.pk }}" {% if p.opcional %}
                              required
                            {% endif %} /> {{ op.opcion }} <br />
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
            <div class="form-group" style="margin:15px 0px 0px 0px">
                <div style="float:left;">
                    <input type="submit" class="btn btn-success" value="Guardar Respuesta" />
                </div>
            </div>
    </form>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block aside %}
{% endblock aside %}

{% block aux %}

<script src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
<script>
    
  
    $(document).ready(function () {

    $('#encuesta').validate({
        rules: {
            {% for p in preguntas %}
                {% if p.tipo == 'MU'  %}

                    {% if not p.opcional %}
                        
                    'respuesta[{{p.pk}}]': {
                        required: true
                    }, 


                    {% endif %}

                {% endif %}                       
            {% endfor %}
            
            
        },
        messages: {
                required: "Debes seleccionar alguna de las opciones",}
            
        ,
        errorPlacement: function (error, element) {
            error.insertBefore(element);
        },
        submitHandler: function (form) { // for demo
            return true;
        }
    });

});
</script>



{% endblock %}