{% extends "baseblog.html" %} 

{% block x %}style="width:95%;font-size:14px;"{% endblock x %}
{% block jss %}
<style>
	.col-xs-6 #myTable_filter, .col-xs-6 #myTable_paginate
	{
		float: right;
	}
	th {
		font-weight: normal;
	}
	.th
	{
		font-weight: bold;
		color: #b44040;
	}
</style>
{% endblock jss %}
{% block contenido %}
<div style="width:95%; margin:0 auto">
	<h1 style="margin-top:1em;text-shadow:0 3px 1px #BDBDBD"><i class="fa fa-calendar"></i> <strong>Lista de encuestas</strong></h1>
		<!--<table class="table table-hover" style="border:1px #f2f2f2 solid;margin-top:2em;">-->
	<div style="float:right;margin-top:3em;">
			
		<table class="table table-hover tablesorter" id="myTable">
			<thead>
				<tr>
					<th class="th">Nombre</th>
					<th class="th">Descripcion</th>
					<th class="th">Estado</th>
				</tr>
			</thead>
			<tbody>
				{% for encuesta in encuesta %}
					
				<tr>
					<th style="width:30%">{{ encuesta.titulo }}</th>
					<th style="width:50%">{{ encuesta.descripcion }}</th>
					<th>
						{% if encuesta.pk in p1 %}
						<i class="fa fa-check-square btn" style="color:green;"> Realizada</i>		
						{%else%}
						<a class="btn btn-info" href="{% url 'encuesta' encuesta.pk %}"><i class="fa fa-pencil"></i> Responder</a>
						{%endif%}
					</th>
				</tr>	
				{% empty %}
					<tr>
						<th>No hay Encuestas para mostrar</th>
					</tr>	
				
				{% endfor %}
			</tbody>
		</table>
	</div>
			 
</div>
{% endblock %}

{% block aux %}
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
	<script>
		$(document).ready(function() 
	    { 
	    	$('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json"
            }
        });
	        $("#myTable").tablesorter({sortList: [[0,0]],headers:{ 4: { sorter: false},5: { sorter: false}}}); 
	    });
		
		

	</script>


{% endblock %}

{% block aside %}
{% endblock aside %}