{% extends "baseblog.html" %} 

{% block x %}style="width:95%;font-size:14px;"{% endblock x %}

{% block contenido %}

{% if evento.estado %}
<div class="container" style="max-width:100%;margin-top:2em;margin-bottom:2em;">
		<h1> {{ evento.titulo|capfirst }} </h1>
	<div class="imagen-evento">
		<img class="img-responsive" src="/media/{{ evento.imagen }}" alt="">
	</div>
	<br>
	<div class="descripcion-evento">
		<p>
			{{ evento.descripcion|capfirst }}
		</p>
		<div id="evt">
			<label class="ti"><i class="fa fa-globe"></i> Direccion:</label>
			<span>{{ evento.direccion }}</span>
			<br/>
			<label class="ti"><i class="fa fa-phone"></i> Telefono:</label>
			<span>{{ evento.telefono }}</span>
			<br/>
			<label class="ti"><i class="fa fa-envelope"></i> Correo:</label>
			<span>{{ evento.correo }}</span>
			<br/>
			<label class="ti"> <i class="fa fa-calendar"></i> Fecha Inicio:</label>
			<span> {{ evento.fecha_inicio|date:'N j, Y f a'}} </span>
			<br/>
			<label class="ti"><i class="fa fa-calendar"></i> Fecha Fin:</label>
			<span> {{ evento.fecha_fin|date:'N j, Y f a'}} </span>
		</div>
		<br>
		<div class="links">
			{% if request.session.id_egresado %}
			{% for Asistente in asistente %}
			{% if evento.id == asistente.evento.id and request.session.id_egresado == asistente.egresado.pk %}
			<br>
			{% else %}
			<form method="POST">
			{% csrf_token %}
				<input type="hidden" name="id-egresado" value="{{ request.session.id_egresado }}">
				<input type="submit" class="btn btn-danger" name="enviar" value="Asistir al evento">	
			</form>
			{% endif %}
			{% empty %}
			{% endfor %}
			{% endif %}
		</div>
		{% if info %}
		<div class="alert alert-success">
			<a href="close" data-dismiss="alert">x</a>
			{{info}}
		</div>
		{%endif%}
	</div>		 
</div>
{%else%}
<figure style="margin: 0 auto;text-align:center;">
	<img src="/static/img/404.png">
</figure>
{% endif%}

{% endblock %}

{% block aside %}
{% endblock aside %}