{% extends "baseblog.html" %} 
{% block title %} 
	Egresados Unisinuanos - Eventos
{% endblock %} 
{% block x %}style="margin-bottom:2em;"{% endblock x %}

{% block contenido %}

		<h1 style="color:#c33833;font-weight:bold; margin:1em 0; padding-top:0;text-shadow:0 3px 1px #BDBDBD">Eventos</h1>
			{% for evento in eventos %}
			<div class="content_eventos">
				{% if evento.imagen %}
				<div class="imagen">
					<img class="img-responsive" src="/media/{{evento.imagen}}" alt="Imagen">
				</div>
				{%endif%}
				
				<div class="descripcion">
					<div class="title">
						<h3> {{ evento.titulo|capfirst }} </h3>
					</div>
					<p>{{ evento.descripcion|capfirst|truncatechars:200 }}  </p>
					<div class="otro">
						<div class="links">
							<a href="{% url 'verEvento' evento.id %}" class="btn btn-danger">Mas información</a>
						</div>
						<br>
						<div class="fechas">
							<div class="fecha_inicio">
								<span class="texto"><i class="fa fa-calendar"></i><strong> Fecha Inicio:</strong></span>
								<span class="fecha"> {{ evento.fecha_inicio|date:'N j, Y'}} - {{ evento.fecha_inicio|date:'f a'}}</span></div>
							<div class="fecha_fin">
								<span class="texto"><i class="fa fa-calendar"></i><strong> Fecha Finalización:</strong></span>
								<span class="fecha"> {{ evento.fecha_fin|date:'N j, Y' }} - {{evento.fecha_fin|date:'f a' }}</span>
							</div>
															
						</div>
					</div>
					

				</div>
			</div>
			{% empty %}
				<h3>No Hay eventos para mostrar</h3>
			{% endfor %}
			
			<nav class="item_pag">
				{% if eventos.has_previous %}
					<a href="?page={{ eventos.previous_page_number }}">Página anterior</a>
				{% endif %} 
				<span>Página {{ eventos.number }} de {{ eventos.paginator.num_pages }}</span>
				{% if eventos.has_next %}
					<a href="?page={{ eventos.next_page_number }}">Página siguiente</a>
				{% endif %}
			</nav>

{% endblock %}
