{% extends "usuarios/basePanel.html" %}
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}
{% block estaticos  %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}
{% block contenido_panel %}

<div style="margin:0 1% 40px 1%;border-radius: 6px;background:#f2f2f2;overflow:hidden;padding:10px">	
				<!--<h4 style="color:#c33833;font-weight:bold">Busqueda</h4>-->
			<div class="form-inline">
				<div class="form-group">
					<input type="text" id="text" class="form-control" placeholder="Busqueda">    
				</div>
				<div class="form-group">
					<select name="busqueda" id="busqueda_ajax" class="form-control">
						<option value="codigo">Autor</option>
						<option value="nombre">Titulo</option>
						<option value="apellido">Categoria</option>
					</select>
				</div>
				
				<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Estado
					  </label>
				</div >
				<div class="form-group" style="margin-left:5px">
					<a href="#" class="btn btn-primary" id="buscar">Buscar</a>
				</div>
				<div class="form-group" style="float:right;margin-right:15px">
					<a href="{% url 'addEntrada' %}" class="btn btn-success"><i class="fa fa-plus-circle"></i> Registrar Entrada</a>	
				</div>
			</div>
		</div>	


	<div style="width:95%;margin:0 auto;">
		<h2 style="color:#c33833;font-weight:bold">Lista de Entradas</h2>
		<!--<table class="table table-hover">-->
		<table class="table table-hover tablesorter" id="myTable">
			<thead>
				<tr>
					<th>Titulo</th>
					<th>Estado</th>
					<th>Contenido</th>
					<th>Categorias</th>
					<th>Autor</th>
					<th>Fecha</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for entradas in entradas %}
				<tr>
					<th>{{ entradas.titulo }}</th>
					<th><i style="text-align:center;"class="fa fa-check"></i></th>
					<th>{{ entradas.contenido|truncatewords:"15" }}</th>
					<th>{{ entradas.categorias.all|join:", "}}</th>
					<th>{{ entradas.autor }}</th>
					<th>{{ entradas.fecha_creacion }}</th>
					<th>
					<div class="rig" style="width:140px;">
					<a class="btn btn-info" href="{% url 'verEntradas' entradas.slug %}"> Ver</a>
					<a class="btn btn-default" href="{% url 'editEntrada' entradas.id %}"><i class="fa fa-pencil"></i></a>
					<a class="btn btn-danger" href="{% url 'delEntrada' entradas.id %}"><i class="fa fa-times"></i></a>
					</div>
					</th>
					<!--<th>{% if ofertas.estado_oferta == True %}
							<th><i style="text-align:center;"class="fa fa-check"></i></th>
						{% else %}
							<th><i  style="text-align:center;" class="fa fa-ban"></i></th>
						{% endif %}</th>-->
				</tr>	
				{% empty %}
				<tr>
					<th>No hay encuestas para mostrar</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>	 
		
	
{% endblock %}

{% block js%}
	<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
	<script>
		$(document).ready(function() 
	    { 
	    	$('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json"
            }
        });
	        $("#myTable").tablesorter({sortList: [[0,0]],headers:{ 4: { sorter: false},5: { sorter: false}}}); 
	    });
		
		

	</script>


{% endblock %}


