{% extends "usuarios/basePanel.html" %}
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}
	<div style="margin:0 1% 40px 1%;border-radius: 6px;background:#f2f2f2;overflow:hidden;padding:10px">	
			<form method="POST">
			<div class="form-inline">
				{% csrf_token %}
				<div class="form-group">
					<input type="text" id="text" class="form-control" placeholder="Busqueda" name="query" required>    
				</div>
				<div class="form-group">
					<select name="busqueda" class="form-control">
						<option value="name" selected>Nombre</option>
					</select>
				</div>
				
				<div class="form-group" style="margin-left:5px">
					<input type="submit" class="btn btn-primary" value="Buscar">
				</div>
				<div class="form-group" style="float:right;margin-right:15px">
					<a href="{% url 'addCategoria' %}" class="btn btn-success"><i class="fa fa-plus-circle"></i> Crear Categoria</a>
				</div>
			</div>
			</form>
		</div>	

	<div style="width:90%;margin:0 auto;">
		<h2 class="titulos">Lista de Categorias</h2>

            {% if mensaje %}
            <div class="alert alert-{{clase}}">
            <a class="close" data-dismiss="alert">x</a>
            </div>
            {{ mensaje }}
            {% endif %}
		<table class="table table-hover tablesorter" id="myTable">
			<thead>
				<tr>
					<th class="ti">Categoria</th>
					<th class="ti"></th>
				</tr>
			</thead>
			<tbody>
				{% for cat in cat %}
				<tr>
					<th>{{ cat.name|capfirst }}</th>
					<th style="width:200px;"><a href="{% url 'editCategoria' cat.id %}" class="btn btn-default">Editar</a>
					<a href="{% url 'delCategoria' cat.id %}" class="btn btn-danger" onclick="return confirm('¿ Estas seguro que desea eliminar esta categoria ?')"><i class="fa fa-times"> Eliminar</i></a></th>
				</tr>
				{% empty %}
				<tr>
					<th>No hay categorias para mostrar</th>
					<th></th>
					<th></th>	
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>	 
{% endblock %}


{% block js%}
	<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
	<script>
		$(document).ready(function() 
	    { 
	    	$('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json"
            }
        });
	        $("#myTable").tablesorter({sortList: [[0,0]],headers:{ 4: { sorter: false},5: { sorter: false}}}); 
	    });
		
		

	</script>


{% endblock %}

{% block estaticos %}
	<style type="text/css">
	.ti
	{
		color: #b44040;
		font-weight: bold;
	}
	.col-xs-6 #myTable_filter, .col-xs-6 #myTable_paginate
	{
		float: right;
	}
	</style>
{% endblock %}

