{% extends "usuarios/basePanel.html" %}
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}
{% block estaticos  %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}

{% block contenido_panel %}
	
					<div style="margin:0 1% 40px 1%;border-radius: 6px;background:#f2f2f2;overflow:hidden;padding:10px">	
				<!--<h4 style="color:#c33833;font-weight:bold">Busqueda</h4>-->
			<form method="POST">
			<div class="form-inline">
				{% csrf_token %}
				<div id="querytitulo" class="form-group">
					<input type="text" id="text" class="form-control" placeholder="Busqueda" name="query">    
				</div>
				<div class="form-group">
					<select name="busqueda" onChange="mostrar(this.value)" class="form-control">
						<option value="titulo" selected>Titulo</option>
						<option value="categoria">Categoria</option>
						<option value="contenido">Contenido</option>
					</select>
				</div>
				{%if cat %}
				<div id="querycat" class="form-group" style="display: none;">
					<select name="categorias" class="form-control">
						<option value=""  selected>Todas</option>
						{% for cat in cat %}
						<option value="{{cat.name}}">{{cat.name}}</option>
						{%endfor%}
					</select>
				</div>
				{%endif%}
				<div class="form-group" style="margin-left:5px">
					<input type="submit" class="btn btn-primary" value="Buscar">
				</div>
				<div class="form-group" style="float:right;margin-right:15px">
					<a href="{% url 'addEntrada' %}" class="btn btn-success"><i class="fa fa-plus-circle"></i> Crear Entrada</a>
				</div>
			</div>
			</form>
		</div>	
	<div style="width:90%; margin:0 auto">

		<h2 class="titulos">Lista de Entradas</h2>
		<table class="table table-hover tablesorter" id="myTable">
			<thead>
				<tr>
					<th>Titulo</th>
					<th>Contenido</th>
					<th>Categorias</th>
					<th>Autor</th>
					<th>Fecha</th>
					<th>Estado</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for entradas in entradas %}
				<tr>
						<th>{{ entradas.titulo|capfirst }}</th>
						<th style="width:30%">{{ entradas.contenido|safe|capfirst|truncatewords:"20"}}</th>
						<th>{{ entradas.categorias.all|join:", "|truncatewords:"20"}}</th>
						<th>{{ entradas.autor|capfirst }}</th>
						<th>{{ entradas.fecha_creacion|date:"D d M Y" }}</th>
						{% if entradas.estado == True %}
							<th><center><i class="fa fa-check-circle" style="color:green;"></i></center></th>
						{% else %}
							<th><center><i class="fa fa-ban" style="color:red;"></center></i></th>
						{% endif %}
						<th>
							<div style="width:160px;" >
								<a class="btn btn-default btn-sm" href="{% url 'verEntradas' entradas.slug %}"> Ver</a>
								<a class="btn btn-default btn-sm" href="{% url 'editEntrada' entradas.id %}"><i class="fa fa-pencil"> Editar</i></a>
								<a class="btn btn-danger btn-sm" href="{% url 'delEntrada' entradas.id %}" onclick="return confirm('¿ Estas seguro que desea eliminar esta noticia ?')"><i class="fa fa-times"></i></a>
							</div>
						</th>
					</tr>
				{% empty %}
					<tr>
					<th>No hay entradas para mostrar</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				
				{% endfor %}
			</tbody>
		</table>
			 
		</div>
	
{% endblock %}

{% block js%}
	<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
	<script>
		$(document).ready(function() 
	    { 
	    	$('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json"
            }
        });
	        $("#myTable").tablesorter({sortList: [[0,0]],headers:{ 4: { sorter: false},5: { sorter: false}}}); 
	    });
		
		

	</script>

<!-- OTRO -->
<script type="text/javascript">
function mostrar(id) {

    if (id == "contenido") {
        $("#querycat").hide();
        $("#querytitulo").show();
    }

    if (id == "titulo") {
        $("#querycat").hide();
        $("#querytitulo").show();
    }

    if (id == "categoria") {
        $("#querytitulo").hide();
        $("#querycat").show();
    }

}
</script>
{% endblock %}


