<ul id="leftNavigation">
    {% for mp in menu_portal %}
    <li {% if mp.active %}class="active"{% endif %}>
        <a href="#"><i style="margin:-3px" class="fa {{m.icono }} leftNavIcon"></i>  {{mp.name}}</a>  
    </li>
    {% endfor %}
</ul>