{% extends "baseblog.html" %} 
{% block title %} 
	Noticias - unisinu egresados 
{% endblock %} 
{% block contenido %} 
<article class="item">
	<h1>Misión y Visión</h1>
	<br>
	<strong>MISIÓN</strong>
	<br>
	<p>
		Gestar, mantener y fortalecer los vínculos y la relación entre los egresados de pregrado y postgrado y la dinámica institucional de la Universidad del Sinú, Seccional Cartagena, por medio de estrategias de inclusión y participación permanente que faciliten el intercambio de aportes, que redunden en el enriquecimiento integral de los egresados y las egresadas y de los demás actores de la comunidad unisinuana. Fundamentados en el mejoramiento continuo en todas las acciones.</p>
	<br>
	<strong>VISIÓN</strong>
	<br>
	<p>
		En el año 2015 el subproceso de Egresados de la Universidad del Sinú, Elías Bechara Zainúm – Seccional Cartagena, será reconocido al interior de la comunidad universitaria por su tradición y solidez en la efectividad de su gestión en aras facilitar el desarrollo integral de los egresados y las egresadas y propiciar su integración a la dinámica institucional.
	</p>
	<p>
		Y en el entorno de nuestra alma máter, como una estructura física y profesional consolidada que dirige acciones de seguimiento profesional como herramienta para la mejora continua de los programas académicos, así como un escenario pertinente para intermediación, laboral y la gestión de propuestas para el desarrollo de la región.
	</p>
</article>

{% endblock contenido %}

{% block blogin %}
<div class="nav-redes">
	<h3 class="h3-redes">Categorias</h3>
	<div class="sub-nav-redes">
		{% for cat_entrada in cat_entrada %}
		<i class="fa fa-chevron-circle-right" style="color:#b44040;font-size:14px;"> <a href="{% url 'verCat_entrada' cat_entrada.id %}">{{ cat_entrada.name }}</a></i>
		<br>
		{% empty %}
		<p>No hay categorias para mostrar</p>
		{% endfor %}
	</div>
</div>						
{% endblock blogin %}