{% extends "baseblog.html" %} 
{% block title %} 
	Noticias - unisinu egresados 
{% endblock %} 
{% block contenido %} 
	{% for entradas in entradas %}
	{% if entradas.estado %}
		<article class="item">
			<h2>
				<a href="{% url 'verEntradas' entradas.slug %}">{{entradas.titulo|capfirst}}</a>
			</h2>
			<figure class="imagen_item">
				{% if entradas.imagen %}
					<img src="{{entradas.imagen.url}}"/>
				{% else %}
				<!-- NO TIENE IMAGEN -->
				{% endif %}
			</figure>
			<span class="contenido_b">	
				<p>{{entradas.contenido|safe|truncatewords:"125"}} <a href="{% url 'verEntradas' entradas.slug %}" class="label label-danger">Leer más</a></p>
			</span>
			<br>
			<p class="pie_autor"><span><i style="color:black" class="fa fa-user"></i></span> Por <span style="color:#b44040;"><strong>{{entradas.autor}}</strong></span>
			<br>
				<span><i style="color:black" class="fa fa-tag"></i></span>
				{% for cat in entradas.categorias.all %}
			    <!--<a href="#">{{ cat.name }}</a>-->
			    <a href="{% url 'verCat_entrada' cat.pk %}" class="label label-primary">{{ cat.name }}</a>
			    {% endfor %}
				<span class="fecha_item">- Hace <strong>{{entradas.fecha_creacion|timesince}}</strong></span>
			</p>
		</article>
	{% endif %}
	{% empty %}
	<p>No hay noticias para mostrar</p>
	{% endfor %}

	<nav class="item_pag">
		{% if entrada.has_previous %}
			<a href="?page={{ entrada.previous_page_number }}">Página anterior</a>
		{% endif %} 
		<span>Página {{ entrada.number }} de {{ entrada.paginator.num_pages }}</span>
		{% if entrada.has_next %}
			<a href="?page={{ entrada.next_page_number }}">Página siguiente</a>
		{% endif %}
	</nav>

{% endblock contenido %}

{% block blogin %}
<div class="nav-redes">
	<h3 class="h3-redes">Categorias</h3>
	<div class="sub-nav-redes">
		{% for cat_entrada in cat_entrada %}
		<i class="fa fa-chevron-circle-right cat"> <a href="{% url 'verCat_entrada' cat_entrada.id %}">{{ cat_entrada.name }}</a></i>
		<br>
		{% empty %}
		<p>No hay categorias para mostrar</p>
		{% endfor %}
	</div>
</div>						
{% endblock blogin %}