{% extends "baseblog.html" %} 
{% block title %} 
	Noticias - unisinu egresados 
{% endblock %} 
{% block contenido %} 
<article class="item">
	<h2>OBJETIVO GENERAL</h2>
	<p>
		Ser un puente de vinculación permanente entre la Universidad del Sinú, Elías Bechara Zainúm – Seccional Cartagena, sus profesionales egresados y el entorno social, propiciando el desarrollo integral y la calidad de vida como dimensiones referentes de una formación significativa.
	</p>

	<h2>OBJETIVOS ESPECÍFICOS</h2>
	<ul>
		<li><p>
		Actualizar los datos de identificación y ubicación de los egresados de pre y postgrado. Mantenerlos renovados a través de procedimientos automatizados y eficaces.</p>
		</li>
		<li><p>Carnetizar al total de discentes egresados y hacerlos conocedores de los beneficios y servicios institucionales.</p></li>
		<li><p>Propiciar espacios de participación institucional a través de la Oficina Virtual de Egresados Universitarios (OVEU), de Bienestar Universitario y Proyección Social.<p></li>
		<li><p>Cooperar en las líneas de aplicación y desarrollo de Proyección Social y Extensión en congruencia con las necesidades del medio, conciencia responsable y extensión institucional.</p></li>
		<li><p>Convocar a los egresados a los eventos académicos, científicos, culturales y sociales institucionales.</p></li>
		<li><p>Otorgar reconocimiento a los logros personales y profesionales de los egresados haciéndoles mención en los distintos eventos y publicaciones de acceso.</p></li>
		<li><p>Promover la cultura científico-investigativa para exponer ante la comunidad egresada el interés y la acción de la Universidad en la producción de nuevo conocimiento.</p></li>
		<li><p>Hacer seguimiento de las necesidades de desarrollo profesional para la creación de oportunidades en la preparación académica y personal de los egresados.</p></li>
		<li><p>Vincular al mercado laboral en las funciones de evaluación y ubicación profesional de los egresados a través de acuerdos y alianzas estratégicas.</p></li>
		<li><p>Evaluar la pertinencia del egresado de la Unisinú correlacionando las necesidades del entorno y la formación de los programas. En concordancia proponer renovaciones curriculares.</p></li>
	</ul>
</article>

{% endblock contenido %}

{% block blogin %}
<div class="nav-redes">
	<h3 class="h3-redes">Categorias</h3>
	<div class="sub-nav-redes">
		{% for cat_entrada in cat_entrada %}
		<i class="fa fa-chevron-circle-right" style="color:#b44040;font-size:14px;"> <a href="{% url 'verCat_entrada' cat_entrada.id %}">{{ cat_entrada.name }}</a></i>
		<br>
		{% empty %}
		<p>No hay categorias para mostrar</p>
		{% endfor %}
	</div>
</div>						
{% endblock blogin %}