{% extends "baseblog.html" %} 
{% block title %} 
	Noticias - unisinu egresados 
{% endblock %} 
{% block contenido %} 
<article class="item">
	<h1>Políticas</h1>
	<br>
	<p>
		La Coordinación de Extensión y Egresados se fundamenta en el conocimiento de los lineamientos normativos nacionales, las demandas y oportunidades del entorno y la información derivada de la consulta y atención permanente de la población de egresados en pregrado y postgrado. Lo cual permite identificar fortalezas, necesidades y oportunidades que faciliten proyectos de intervención para propender por el desarrollo social, laboral y personal de los egresados.
	</p>
	<p>
		El núcleo de acción de la Coordinación de Extensión y Egresados está dirigido a posibilitar la mediación, la articulación y la identificación de los egresados con la dinámica de institucional de la Universidad del Sinú, Seccional Cartagena, como institución facilitadora de procesos de formación permanente, comprometida con su bienestar y calidad de vida. De igual forma, actuar como espacio promotor de la ubicación y seguimiento laboral de los egresados. Esto último en busca de mejorar y monitorear la pertinencia de la aplicación profesional de los egresados.
	</p>
	<p>
		Lo anterior está consagrado el artículo 2 de la Ley 1188 de de abril de 2008, que determinó la necesidad de asumir desde las instituciones de educación superior un acompañamiento a los egresados por medio de “la existencia de un programa de egresados que haga un seguimiento a largo plazo de los resultados institucionales, involucre la experiencia del egresado en la vida universitaria y haga realidad el requisito de que el aprendizaje debe continuar a lo largo de la vida”.
	</p>
</article>

{% endblock contenido %}

{% block blogin %}
<div class="nav-redes">
	<h3 class="h3-redes">Categorias</h3>
	<div class="sub-nav-redes">
		{% for cat_entrada in cat_entrada %}
		<i class="fa fa-chevron-circle-right" style="color:#b44040;font-size:14px;"> <a href="{% url 'verCat_entrada' cat_entrada.id %}">{{ cat_entrada.name }}</a></i>
		<br>
		{% empty %}
		<p>No hay categorias para mostrar</p>
		{% endfor %}
	</div>
</div>						
{% endblock blogin %}