{% extends "baseblog.html" %}
{% load bootstrap3 %}

{% block x %}style="width:95%;"{% endblock x %}

{% block contenido %}
{% if mensaje %}
<div class="alert alert-info" role="alert" style="margin:1em 2em auto auto;">
     <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {{mensaje}}
</div>
{% endif %}
	<div class="row" style="width:80%;margin:0 auto;">
        <div class="col-sm-10">
            <h2>Crear Oferta laboral</h2>
            <hr />

            <form class="form-horizontal" method="POST">
               	{% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group">
                    <div class="ss">
             	        <input type="submit" class="btn btn-primary" value="Publicar Oferta" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block aside %}
{% endblock aside %}