{% extends "baseblog.html" %} 
{% block x %}style="width:95%;height:100%;"{% endblock x %}

{% load bootstrap %}
{% block contenido %}
<div class="menub">
	<h1 style="text-shadow:0 3px 1px #BDBDBD"><i class="fa fa-share"></i> <strong>Olvidaste tu contraseña</strong></h1>
	<br>
	{% if mensaje %}
	<div class="alert alert-success" role="alert" style="margin:1em 2em auto auto;">
		{{mensaje}}
		</div>
	{% else %}
	<em>Ingresa tu correo electrónico y te enviaremos instrucciones para restablecer una nueva.</em>
	<fieldset class="loginb">
	<div class="infoSesion">
		{% if info %}
        <div class="alert alert-{{clase}}">
        <a class="close" data-dismiss="alert">x</a>
        {{ info }}
        </div>
        {% endif %}
	</div>
		<div class="perfil-pass">
			<form class="form-horizontal" enctype="multipart/form-data" method="POST">
				{% csrf_token %}
            	{{ form|bootstrap }}
			    <div class="form-group">
	            	<div class="Registrar">
	            		<input type="submit" class="btn btn-danger" value="Restablecer contraseña" />
	            	</div>
	            </div>
	        </form>
		</div>
	</fieldset>
	{% endif %}
</div>		
{% endblock %}

{% block jss %}
{% endblock jss %}

{% block aside %}
{% endblock aside %}