{% extends "baseblog.html" %} 
{% block title %} 
	Noticias - unisinu egresados 
{% endblock %} 
{% block contenido %} 
		{% for entradas in entradas %}
			{% if entradas.estado %}
			<article class="item">
				<h2>
					<a href="{% url 'verEntradas' entradas.slug %}">{{entradas.titulo|capfirst}}</a>
				</h2>
				<figure class="imagen_item">
					{% if entradas.imagen %}
						<img src="{{entradas.imagen.url}}"/>
					{% else %}
					<!-- NO TIENE IMAGEN -->
					{% endif %}
				</figure>
				<span class="contenido_b">	
					<p>{{entradas.contenido|safe|truncatewords:"125"}} <a href="{% url 'verEntradas' entradas.slug %}" class="label label-danger">Leer más</a></p>
				</span>
				<br>
				<p class="pie_autor"><span><i style="color:black" class="fa fa-user"></i></span> Por <span style="color:#b44040;"><strong>{{entradas.autor}}</strong></span>
				<span><br></span>
					<span><i style="color:black" class="fa fa-tag"></i></span>
					{% for cat in entradas.categorias.all %}
				    <a href="{% url 'verCat_entrada' cat.pk %}" class="label label-primary">{{ cat.name }}</a>
				    {% endfor %}
					<span class="fecha_item">- Hace <strong>{{entradas.fecha_creacion|timesince}}</strong> min</span>
				</p>
			</article>
			{%else%}
				<p style="margin-top:2em;">Post no disponible!</p>
			{%endif %}
		{% empty %}
			<p style="margin-top:2em;">No hay noticias para mostrar...</p>
		{% endfor %}


	<nav class="item_pag" style="padding: 2em 0;">
		{% if entrada.has_previous %}
			<a href="?page={{ entrada.previous_page_number }}">Página anterior</a>
		{% endif %} 
		<span>Página {{ entrada.number }} de {{ entrada.paginator.num_pages }}</span>
		{% if entrada.has_next %}
			<a href="?page={{ entrada.next_page_number }}">Página siguiente</a>
		{% else %}
		{% endif %}
	</nav>

{% endblock contenido %}

{% block blogin %}
<div class="nav-redes">
	<h3 class="h3-redes">Categorias:</h3>
	<div class="sub-nav-redes">
		{% for cat_entrada in cat_entrada %}
		<i class="fa fa-chevron-circle-right cat"> <a href="{% url 'verCat_entrada' cat_entrada.id %}">{{ cat_entrada.name }}</a></i>
		<br>
		{% empty %}
		<div style="padding-top:2em;"><p>No hay categorias para mostrar</p></div>
		{% endfor %}
	</div>
</div>									
{% endblock blogin %}