{% extends "baseblog.html" %} 
{% block title %} 
	Noticias - unisinu egresados 
{% endblock %} 

{% block contenido %}
{%if entradas.estado %} 
	<article class="item">
		<h2 style="font-size: 24px;font-weight: bold;">
			{{entradas.titulo|capfirst}}
		</h2>
		<figure class="imagen_item" style="margin:0 0 20px 0;">
			{% if entradas.imagen %}
			<img src="{{entradas.imagen.url}}"/>
			{% else %}
			<!-- No tiene foto -->
			{% endif %}
		</figure>
		<p>{{entradas.contenido|safe}}</p>
		<br/>	
		<p class="pie_autor"><span><i style="color:black" class="fa fa-user"></i></span> Por <span style="color:#b44040;"><strong>{{entradas.autor}}</strong></span>
			<br/>	
			<span><img src="{{ STATIC_URL }}img/tag.png"></span>
			{% for cat in entradas.categorias.all %}
			<a href="{% url 'verCat_entrada' cat.pk %}" class="label label-primary">{{ cat.name }}</a>
			{% endfor %}
			<span class="fecha_item">- Hace <strong>{{entradas.fecha_creacion|timesince}}</strong> min</span>
		</p>
	</article>
{%else%}
	<figure style="margin: 0 auto;text-align:center;">
		<img src="/static/img/404.png">
	</figure>
{% endif %}

{% endblock contenido %}

{% block blogin %}
<div class="nav-redes">
	<h3 class="h3-redes">Categorias:</h3>
	<div class="sub-nav-redes">
		{% for cat_entrada in cat_entrada %}
		<i class="fa fa-chevron-circle-right cat"> <a href="{% url 'verCat_entrada' cat_entrada.id %}">{{cat_entrada.name }}</a></i>
		<br>
		{% empty %}
		<div style="padding-top:2em;"><p>No hay categorias para mostrar</p></div>
		{% endfor %}
	</div>
</div>									
{% endblock blogin %}