{% extends "baseblog.html" %}
{% block title %} 
	Bolsa de empleo - OVEU
{% endblock %} 

{% block x %}
	style="width:90%;"
{% endblock x %}

{% block aside %}
{% endblock aside %}
{% block contenido %}

<div class="menux">
	<div class="ee">
		<h1 style="display:inline-block;text-shadow:0 3px 1px #BDBDBD"><i class="fa fa-bullhorn"></i> <strong>Detalles de oferta</strong></h1>
	</div>
	<br>
	<table class="table table-hover">
		<tr>
			<td class="ti">Nombre</td><td>{{ ofertas.nombre }}</td>
		</tr><tr>
			<td class="ti">Información</td><td>{{ ofertas.desc }}</td>
		</tr><tr>
			<td class="ti">Salario</td><td>{{ ofertas.salario }}</td>
		</tr><tr>
			<td class="ti">Perfil Prof.</td><td>{{ ofertas.perfil_profesional }}</td>
		</tr><tr>
			<td class="ti">Horario</td><td>{{ ofertas.horario }}</td>
		</tr><tr>
			<td class="ti">Tipo contrato</td><td>{{ ofertas.tipo_contrato }}</td>
		</tr><tr>
			<td class="ti">Contacto</td><td>{{ ofertas.contacto }}</td>
		</tr><tr>
			<td class="ti">Telef. fijo</td><td>{{ ofertas.telefonofijo_contacto }}</td>
		</tr><tr>
			<td class="ti">Celular</td><td>{{ ofertas.celular_contacto }}</td>
		</tr><tr>
			<td class="ti">Correo</td><td>{{ ofertas.correo }}</td>
		</tr><tr>
			<td class="ti">Fecha</td><td>{{ ofertas.fecha_creacion }}</td>
		</tr>
	</table>
	<div style="padding-bottom: 1em">
		<a class="btn btn-info" href="{% url 'emp_postulados' ofertas.id %}">Ver egresados postulados</a>
	</div>
</div>
{% endblock contenido %}