{% extends "baseblog.html" %}
{% block title %} 
	Bolsa de empleo - OVEU
{% endblock %} 

{% block x %}
	style="width:90%;"
{% endblock x %}

{% block aside %}
{% endblock aside %}

{% block contenido %}
<div class="menub">
	<h2>Detaller de Oferta</h2>
	<table class="table table-hover">
		<tr>
			<td class="ti">Nombre</td><td>{{ ofertas.nombre }}</td>
		</tr><tr>
			<td class="ti">Salario</td><td>{{ ofertas.salario }}</td>
		</tr><tr>
			<td class="ti">Perfil Prof.</td><td>{{ ofertas.perfil_profesional }}</td>
		</tr><tr>
			<td class="ti">Horario</td><td>{{ ofertas.horario }}</td>
		</tr><tr>
			<td class="ti">Tipo contrato</td><td>{{ ofertas.tipo_contrato }}</td>
		</tr><tr>
			<td class="ti">Contacto</td><td>{{ ofertas.contacto }}</td>
		</tr><tr>
			<td class="ti">Telef. fijo</td><td>{{ ofertas.telefonofijo_contacto }}</td>
		</tr><tr>
			<td class="ti">Celular</td><td>{{ ofertas.celular_contacto }}</td>
		</tr><tr>
			<td class="ti">Correo</td><td>{{ ofertas.correo }}</td>
		</tr><tr>
			<td class="ti">Fecha</td><td>{{ ofertas.fecha_creacion }}</td>
		</tr>
	</table>
</div>
{% endblock contenido %}