{% extends "usuarios/basePanel.html" %}
{% load bootstrap3 %}
{% block user %}
  {% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}

	<div class="row" style="width:80%;margin:5px auto;">
                <div class="col-sm-8">
                    <h2 class="titulos">{{ accion }} Evento</h2>

                    <hr />
                    <form class="form" method="POST" enctype="multipart/form-data">
                    	{% csrf_token %}
                        {% bootstrap_form form %}
                        
                        {% if not evento_object.enviado %}

                                                  
                        {% if not evento_object.estado %}
                              <br>
                        <h4>A quien le quieres enviar la informacion de este evento?</h4>
                        <small class="text-danger">Para poder seleccionar a quien enviar invitacion a este evento, debes marcar la opcion de publicar. </small>
                        <br>
                        <select name="envioCorreo" id="envio" disabled>    
                            <option value="0" default>No enviar correos</option>                   
                            <option value="todos">Todos (Empresa y Egresado)</option>
                            <option value="empresa">Solo Empresa</option>
                            <option value="egresado">Solo Egresado</option>
                        </select>

                        <br>
                        <br>
                        <div class="form-group" id="dAsunto" style="display:none">
                            <label>Asunto</label>
                            <input type="text" class="form-control" id="asunto" name="asunto" placeholder="Asunto">
                            <p class="help-block">Recuerda que si envias diferentes correos con el mismo asunto, los servicios de email los marcarian como "correo no deseado"</p>
                        </div>
                        <br>
                        <br>
                       

                        {% endif %}
    {% endif %}
                        

                            <br>
                             <div class="form-actions">
                                <input type="submit" name="guardar" value="Guardar" class="btn btn-success">
                            </div>

                    </form>
                    <br>
                    <br>
                 </div>
    </div>
{% endblock %}
{% block js %}
<script src="{{ STATIC_URL }}js/jquery.datetimepicker.js"></script>
<script>

$(document).ready(function() {
    
        $('#id_fecha_inicio').datetimepicker({
             lang:'es',
             timepicker:true,
             format:'d/m/Y H:i'
        });
         $('#id_fecha_fin').datetimepicker({
             lang:'es',
             timepicker:true,
             format:'d/m/Y H:i'
        });
         $( "#id_estado" ).click(function() {
            if ($('#id_estado').is(':checked')) {

                $('select[name="envioCorreo"]').removeAttr('disabled');

            }else{

                $('#envio').val("0");
                $('select[name="envioCorreo"]').attr('disabled', 'disabled');
                $('#asunto').val('')
            };
         });
         $('select[name="envioCorreo"]').change(function() {
              if($('select[name="envioCorreo"]').val()==0){
                $('#asunto').val('')
                $('#asunto').removeAttr('required');
                $('#dAsunto').hide();
              }else{

                $('#dAsunto').show();

                $('#asunto').attr('required', '');
                
              }
        });
         
         
});

</script>

{% endblock %}