{% extends "usuarios/basePanel.html" %}
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}

		
	<div class="container">
		<div class="imagen-evento">
			<img class="img-responsive" src="/media/{{ evento.imagen }}" alt="">
		</div>
		<div class="descripcion-evento">
			<h3> {{ evento.titulo }} </h3>
			<p>
				{{ evento.descripcion }}
			</p>
			<div class="fechas">
				<div class="fecha-ini">
					<span class="label-fecha"> <i class="fa fa-calendar"></i> Fecha Inicio:</span>
					<span> {{ evento.fecha_inicio|date:'N j, Y f a'}} </span>
				</div>
				<div class="fecha-fin">
					<span class="label-fecha"><i class="fa fa-calendar"></i> Fecha Fin:</span>
					<span> {{ evento.fecha_fin|date:'N j, Y f a'}} </span></div>
				
			</div>
			<div>
				<label >Direccion:</label>
				<span>{{ evento.direccion }}</span>
				<br>
				<label >Telefono:</label>
				<span>{{ evento.telefono }}</span>
				<br>
				<label >Correo:</label>
				<span>{{ evento.correo }}</span>
				<br>
				<label >Estado:</label>
				{% if evento.estado %}
					<span> Evento Publicado</span>
				{% else %}
					<span> Evento sin publicar</span>
				{% endif %}
				<br>
				<label >Cantidad de asistentes:</label>
				<span>{{ asistentes }}</span>

			</div>
			<br>
			<div class="links">
				{% if evento.estado %}
					
				{% else %}
					<a href="{% url 'eventos:publicarEvento' evento.id %}" class="btn btn-default">Publicar</a>
				{% endif %}
				<a href="{% url 'eventos:editEvento' evento.id %}" class="btn btn-default">Editar </a>
				<a href="{% url 'eventos:borrarEvento' evento.id %}" class="btn btn-danger">Borrar</a>
			</div>
		</div>
		
			 
	</div>
	
	
{% endblock %}
{% block js %}
	<script>
		
		$('#buscar').on('click', busqueda);

		function busqueda () {
		var col = $('select').val();
		var caja = $('#text').val();
		
		$.ajax({
			data: {'col': col, 'caja':caja},
			url:'helper/busquedaAjax/',
			type: 'get',

		});
		
		}

	</script>
{% endblock %}