{% extends "usuarios/basePanel.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block estaticos  %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}
		
		<div style="margin:0 1% 2px 1%;border-radius: 6px;background:#f2f2f2;overflow:hidden;padding:10px">
		
		<a href="#" id="clickSearch" style="font-size:23px; color:#c33833;margin-left: 10px;text-decoration:none;"><i class="fa fa-search"></i> Buscar</a>	
				
				<div class="" style="float:right;margin-right:15px">
					<a href="{% url 'eventos:addEvento' %}" class="btn btn-success"><i class="fa fa-plus-circle"></i> Crear Evento</a>	
				</div>
		</div>

		<div id="busqueda" style="width:50%;margin: 10px 40px; display:none;font-size:10px;">
			<h2 class="titulos">Busqueda</h2>
			<form action="" method="get">
        {{ filter.form|bootstrap }}
        <input type="submit" class="btn btn-primary"/>
    </form>
    <br>
    <br>

</div>
		
	<div style="width:90%; margin:0 auto">
		<h2 class="titulos">Lista de Eventos</h2>
		<table id="myTable" class="table table-hover tablesorter" style="font-size:13px">
			<thead>
				<tr>
					<th style="width:232px">Titulo</th>
					<th style="width:200px">Descripcion</th>
					<th>Fecha Inicio</th>
					<th>Fecha Finalizacion</th>
					<th>Estado</th>
					<th style="width:150px">Opciones</th>
				</tr>
			</thead>
			<tbody>
				{% for evento in filter %}

				
				<tr>
						<th>{{ evento.titulo }}</th>
						<th>{{ evento.descripcion|truncatechars:100 }}</th>
						<th>{{ evento.fecha_inicio|date:'m/d/Y f a' }}</th>
						<th>{{ evento.fecha_fin|date:'m/d/Y f a' }}</th>
						<th>{% if evento.estado %}
							Publicado
						
						{% else %}
							<a href="{% url 'eventos:publicarEvento' evento.id %}" class="btn btn-default btn-sm">Publicar</a>
						{% endif %}
					</th>

						<!--{% if egresados.usuario.estado == True %}
							<th><i class="fa fa-check"></i></th>
						{% else %}
							<th><i class="fa fa-ban"></i></th>
						{% endif %}-->
						<th><a href="{% url 'eventos:editEvento' evento.id %}" class="btn btn-default btn-sm">Editar</a>
						<a href="{% url 'eventos:detailEvento' evento.id %}" class="btn btn-default btn-sm">Ver</a>
							<a href="{% url 'eventos:borrarEvento' evento.id %}" class="btn btn-danger btn-sm confirmation">Borrar</a>
						</th>

					</tr>
				
				{% empty %}
					<tr><th> No hay Egresados</th><th></th><th></th><th></th><th><th></th></th></tr>
				{% endfor %}

			</tbody>
		</table>
		
		</div>
	<!--<div class="container">

		<legend><h2 style="color:#c33833;font-weight:bold; margin-top:0; padding-top:0">Lista de Eventos</h2></legend>
			{% for evento in eventos %}
			<div class="content_eventos">
				<div class="imagen">
					<img class="img-responsive" src="/media/{{evento.imagen}}" alt="Imagen">
				</div>
				
				<div class="descripcion">
					<div class="title">
						<h2> {{ evento.titulo }} </h2>
					</div>
					<p>{{ evento.descripcion|truncatechars:200 }}  </p>
					{% if evento.estado == False %}
						<span> Evento sin Publicar </span>
					{% else %}			
						<span> Evento Publicado </span>
					{% endif %}

					<div class="otro">
						<div class="fechas">
							<div class="fecha_inicio">
								<span class="texto"><i class="fa fa-calendar"></i> Fecha Inicio:</span>
								<span class="fecha"> {{ evento.fecha_inicio|date:'N j, Y f a'}}</span></div>
							<div class="fecha_fin">
								<span class="texto"><i class="fa fa-calendar"></i> Fecha Finalizacion:</span>
								<span class="fecha"> {{ evento.fecha_fin|date:'N j, Y f a' }}</span>
							</div>
															
						</div>

						<div class="links">
							<a href="{% url 'eventos:editEvento' evento.id %}" class="btn btn-default btn-sm">Editar</a>
							{% if evento.estado %}
								
							{% else %}
								<a href="{% url 'eventos:publicarEvento' evento.id %}" class="btn btn-default btn-sm">Publicar</a>
							{% endif %}
							<a href="{% url 'eventos:detailEvento' evento.id %}" class="btn btn-default btn-sm">Ver</a>
							<a href="{% url 'eventos:borrarEvento' evento.id %}" class="btn btn-danger btn-sm">Borrar</a>

						</div>
						
					</div>
					

				</div>
			</div>
			{% empty %}
				<h3>No Hay eventos para mostrar</h3>
				
			{% endfor %}
			 
		</div>

		
	-->

{% endblock %}
{% block js %}
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="{% static  '/static/js/bootstrap-confirmation.js'%}"></script>
	<script>
		$(document).ready(function() 
	    { 
	    	$('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json"
            }
        });
	        $("#myTable").tablesorter({sortList: [[0,0]],headers:{ 4: { sorter: false},5: { sorter: false}}}); 
	    });
		
		$(document).ready(function() 
	    { 
	    	$("#clickSearch").click(function() {
	    		$("#busqueda").toggle('slow');
	    	});

	    	$('.confirmation').confirmation({'title':"Esta seguro que quiere borrar este evento?", 'placement':"top", 'singleton':true, 'popout':true, 'btnOkLabel':"Eliminar", 'btnCancelLabel':"Cancelar"});

	    });
		

	</script>
{% endblock %}