{% extends "usuarios/basePanel.html" %}



{% block user %}
  {% include "usuarios/user-info.html" %}
{% endblock %}

{% block contenido_panel %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for obj in filter %}
        {{ obj.name }} - ${{ obj.price }}<br />
    {% endfor %}
{% endblock %}