{% extends "usuarios/basePanel.html" %}
{% load staticfiles %}
{% load formset_tags %}
{% load widget_tweaks %}

{% load bootstrap3 %}
{% block estaticos %}
    <style>
        .oculto{
            display: none;

        }
    </style>

{% endblock%}
{% block user %}
  {% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}

    <div class="row" style="width:80%;margin:0 auto;">
        <div class="col-sm-8">
            <form class="form" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}

                <h2 class="titulos">Crear Preguntas</h2>
                <h3>Estas creando preguntas para la Encuesta: <b>{{ encuesta.titulo }}</b></h3>
                <br>

                {% if info %}

                <div class="alert alert-danger" style="margin:10px">
                        
                        {{ info }}
                    </div> 
                    
                {% endif %}

                <br>

                <fieldset>
                    <legend>Pregunta</legend>
                     {% bootstrap_form form %}
                </fieldset>
                
                <br>
                <!-- colocar la clase oculto para ocultar las opciones-->
                <div id="opciones" class="oculto">
                    <legend>Opcion</legend>
                    <div id="formset_op" data-formset-prefix="{{ opcion_form.prefix }}">
                        {{ opcion_form.management_form }}

                        <div data-formset-body>
        <!-- New forms will be inserted in here -->
                            {% for form in opcion_form %}
                            <div data-formset-form style="margin:5px 2px 5px 2px">
                            <!--{{ direccion_form.as_p }}-->
                                
                                    {{ form.id }}
                                <div class="inline {{ opcion_form.prefix}}" style="display:block;margin: 2px;padding: 5px; ">
                                    {{ form.opcion.errors }}
                                    {{ form.opcion.label_tag }}
                                    {{ form.opcion|add_class:"form-control" }}
                                                                        <br>
                                    <div style="display:none">
                                        {{ form.DELETE }}
                                    </div>
                                </div>
                                
                            
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar Opcion</button>
                            </div>
                    {% endfor %}
                        </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                        <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div data-formset-form>
                                
                                {{ opcion_form.empty_form.opcion.errors }}
                                    {{ opcion_form.empty_form.opcion.label_tag }}
                                     {{ opcion_form.empty_form.opcion|add_class:"form-control" }}
                                    
                                    <div style="display:none">
                                        {{ opcion_form.empty_form.DELETE }}
                                    </div>
                                    <br>
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar Opcion</button>
                            </div>
                            <br>
                        {% endescapescript %}
                        </script>

                    <br>
                    <!-- This button will add a new form when clicked -->
                    <button type="button" class="btn btn-default" data-formset-add><i class="fa fa-plus"></i> Agregar Opcion</button>

                        

                    </div>
               
                </div>
                <br>
                
                
                <hr />
                <div class="form-group">
                    <div class="col-sm-offset-2 col-lg-10 col-sm-10">
                        <input type="submit" class="btn btn-primary" value="Guardar y Agregar otra" name="add"/>
                        <input type="submit" class="btn btn-success" value="Finalizar y Visualizar" name="end"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block js %}

    <script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
     <script>jQuery(function($) {
                            $("#formset_pre").formset({
                                animateForms: true
                            });
                            });
    jQuery(function($) {
                            $("#formset_op").formset({
                                animateForms: true
                            });
                            });
    
</script>    
                    
<script>
    $(document).ready(function(){
        $('#id_tipo').change(function(){

            var valor = $('#id_tipo').val()

            if (valor == 'AB'){

                $('#opciones').addClass('oculto');
            }
            else{

                $('#opciones').removeClass('oculto');
            }
                
        
        
        })
        
    });
</script>
    




{% endblock %}