{% extends "usuarios/basePanel.html" %}
{% load staticfiles %}
{% load formset_tags %}
{% load widget_tweaks %}

{% load bootstrap3 %}
{% block estaticos %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>

{% endblock%}
{% block user %}
  {% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}

    <div class="row" style="width:80%;margin:0 auto;">
        <div class="col-sm-8">

            {% if encuesta.estado %}
                <div class="alert alert-info" style="margin:10px">
                        
                        La encuesta esta publicada, para poder hacer modificaciones es necesario suspenderla.
                    </div> 

                    <br>
                    <a href="{% url 'encuesta:suspenderEncuesta' encuesta.id %}" class="btn btn-primary">Suspender</a>   
            {% else %}

            <form class="form" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                <h2 style="color:#c33833;font-weight:bold;padding-bottom: 10px;">Editar encuesta</h2>
                <fieldset>
                    <legend>Datos de la encuesta</legend>
                     {% bootstrap_form form %}
                </fieldset>
                <br>
                <fieldset>
                    <legend>Preguntas</legend>
                    

                {% for pregunta in preguntas  %}
                <div id="pregunta{{pregunta.id}}">
                                 
                    <h4>  <a href="#" class="pregunta-edit" id="pregunta" data-type="text" data-pk="{{pregunta.pk}}" data-title="Enter username" data-url="{% url 'encuesta:editPregunta' pregunta.pk %}" title="Editar la pregunta" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ pregunta.pregunta }}</a> <span onclick="eliminarPregunta({{pregunta.id}})" style="color:#c33833;cursor:pointer;" data-toggle="tooltip" data-placement="right" title="Eliminar la pregunta"><i class="fa fa-times"></i></span> </h4>
                        <ul id="opciones">
                            
                        {% for key, op in opciones.items  %}
                            
                            {% if key == pregunta.pk %}
                            {% for o in op  %}
                           
                             <li id="opcion{{o.0}}" style="margin: 3px 0"><a href="#" id="username" data-type="text" data-pk="{{o.0}}" data-title="Enter username" data-url="{% url 'encuesta:editOpcion' o.0%}" title="Editar la opcion" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{o.1}}</a> <span onclick="eliminarOpcion({{o.0}})" style="color:#c33833;border:none;cursor:pointer;" title="Eliminar la opcion"><i class="fa fa-times"></i></span></li>   
                            {% empty %}
                            <li>Pregunta abierta</li>
                            {% endfor %}
                                
                            
                            {% endif %}
                        {% endfor %} 
                        <br>
                        
                        </ul>
                        </div>
                        {% empty %}
                    No tiene preguntas, <a href="{% url 'encuesta:crearPreguntas' encuesta.id %}" class="btn btn-success btn-sm"> Agregar preguntas</a>
                {% endfor %}   

            {% if preguntas|length > 0 %}
                
               <a href="{% url 'encuesta:crearPreguntas' encuesta.id %}" class="btn btn-success btn-sm"> Agregar nuevas preguntas</a>
            {% endif %}
                </fieldset>
                
                <hr />
                <div class="form-group">
                    <div class="col-sm-offset-2 col-lg-6 col-sm-10">
                        <input type="submit" class="btn btn-primary" value="Actualizar" />
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block js %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $.fn.editable.defaults.mode = 'inline';
        $('#opciones li a').editable({validate: function(value) {
            if($.trim(value) == '') {
                return 'No puedes dejar el campo vacio';
            }}
        });
        $('.pregunta-edit').editable({validate: function(value) {
            if($.trim(value) == '') {
                return 'No puedes dejar el campo vacio';
            }}
        });
        

    });
</script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{% static '/static/js/jquery.ui.datepicker-es.js' %}"></script>
<script src="{% static  '/static/css/jquery-ui-1.10.4.custom.min.css'%}"></script>
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

    function eliminarPregunta(id) {

        var r = confirm("Quieres eliminar la pregunta?");
        if (r == true) {
            $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $.ajax({
              url: 'http://localhost:8000/dashboard/encuesta/helpers/eliminarpregunta/'+id+'/',
              type: 'POST',
              success: function(data) {
                $('#pregunta'+id).remove();
                console.log('se elimino');
              },
              error: function(data) {
                  console.log('no se pudo eliminar');
              }
            });
        } else {
            alert('No');
        }
        
    };

    function eliminarOpcion(id) {

        var r = confirm("Quieres eliminar la opcion?");
        if (r == true) {
            $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $.ajax({
              url: 'http://localhost:8000/dashboard/encuesta/helpers/eliminaropcion/'+id+'/',
              type: 'POST',
              success: function(data) {
                $('#opcion'+id).remove();
                console.log('se elimino');
              },
              error: function(jqXHR,textStatus, errorThrown) {
                  console.log(jqXHR.status, textStatus, errorThrown);
              }
            });
        } else {
            alert('No');
        }
        
    };
    function popup(url,ancho,alto) {
        var posicion_x; 
        var posicion_y; 
        posicion_x=(screen.width/2)-(ancho/2); 
        posicion_y=(screen.height/2)-(alto/2); 
        window.open(url, "width="+ancho+",height="+alto+",menubar=0,toolbar=0,directories=0,scrollbars=no,resizable=no,left="+posicion_x+",top="+posicion_y+"");
    }
            
        $("#id_fecha_cumple").datepicker({
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            yearRange: "c-30:c+3"
        });

        $("#id_fecha_grado").datepicker({
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            yearRange: "c-30:c+3"
        });
        $(".fecha").datepicker({
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            yearRange: "c-30:c+3"
        });

    
</script>




{% endblock %}