{% extends "usuarios/basePanel.html" %}
{% load staticfiles %}
{% load formset_tags %}
{% load widget_tweaks %}

{% load bootstrap3 %}
{% block estaticos %}
{% endblock%}
{% block user %}
  {% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}

    <div class="row" style="width:80%;margin:0 auto;">
        <div class="col-sm-8">
            <form class="form" enctype="multipart/form-data" method="POST">
                   	{% csrf_token %}
                <h2 class="titulos">Editar Encuesta</h2>
                <fieldset>
                    <legend>Datos de la Encuesta</legend>
                     {% bootstrap_form form %}
                </fieldset>
                
                <br>
                
                <hr />
                <div class="form-group">
                    <div class="col-sm-2 col-lg-6 col-sm-10">
                        <input name="btnActionEncuesta" type="submit" class="btn btn-primary" value="Guardar y terminar" />
                        

                    </div>
                    <div class="col-sm-2 col-lg-6 col-sm-10">
                       
                        <input name="btnActionEncuesta" type="submit" class="btn btn-success" value="Guardar y Modificar Preguntas" />

                    </div>
                </div>
                <br>
                <br>
                <br>
            </form>
        </div>
    </div>

{% endblock %}
{% block js %}

    <script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
     <script>jQuery(function($) {
                            $("#formset_pre").formset({
                                animateForms: true
                            });
                            });
    jQuery(function($) {
                            $("#formset_op").formset({
                                animateForms: true
                            });
                            });
    
    
                    
                        </script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
{% include 'autocomplete_light/static.html' %}
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}js/jquery.datetimepicker.js"></script>
<script src="{% static  '/static/css/jquery-ui-1.10.4.custom.min.css'%}"></script>
<script>
            
    $('#id_fecha_inicio').datetimepicker({
        lang:'es',
        //timepicker:true,
        format:'Y-m-d'
    });
    $('#id_fecha_fin').datetimepicker({
        lang:'es',
        //timepicker:true,
        format:'Y-m-d'
    });
    
</script>


{% endblock %}