 {% load staticfiles %}
  {% load bootstrap3 %}
  {% load formset_tags %}
{% load widget_tweaks %}
  <html>
  <head>
      <meta charset="UTF-8">
      <title>Editar Pregunta</title>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
      <style>
        .oculto{
            display: none;

        }
    </style>
  </head>
  <body>
    <div class="row" style="width:80%;margin:0 auto;">
        <div class="col-sm-8">
            <form class="form" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                <h2 style="color:#c33833;font-weight:bold;padding-bottom: 10px;">Editar Pregunta</h2>
                <fieldset>
                    <legend>Datos de la Pregunta</legend>


                    {% if info %}
                    <div class="alert alert-success">
                        <a class="close" data-dismiss="alert">x</a>
                                {{ info }}
                    </div>

                        
                    {% endif %}

                    {% bootstrap_form form %}
                     
                </fieldset>
                
                <br>
                <fieldset id="opciones">
                    <legend>Opciones</legend>
                    
                    <div id="formset_opcion" data-formset-prefix="{{ opcion.prefix }}">
                        {{ opcion.management_form }}

                        <div data-formset-body>
                            <!-- New forms will be inserted in here -->
                            {% for form in opcion %}
                            <div data-formset-form style="margin:5px 2px 5px 2px">
                                {{ form.id }}
                                <div class="inline {{ opcion.prefix }}">
                                    {{ form.opcion.errors }}
                                    {{ form.opcion.label_tag }}
                                    {{ form.opcion|add_class:"form-control"  }}
                                    <div style="display:none">
                                        {{ form.DELETE }}
                                    </div>
                                </div>
                            
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar</button>
                                <br>
                            </div>
                            <br>
                        {% endfor %}
                        </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                        <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div data-formset-form>
                                
                                    {{ opcion.empty_form.opcion.errors }}
                                    {{ opcion.empty_form.opcion.label_tag }}
                                    {{ opcion.empty_form.opcion|add_class:"form-control" }}
                                    <div style="display:none">
                                        {{ opcion.empty_form.DELETE }}
                                    </div>
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                                <br>
                            </div>
                            <br>
                        {% endescapescript %}
                    </script>
                    
                    <!-- This button will add a new form when clicked -->
                     <!-- <input type="button" value="Agregar Otro" data-formset-add>-->
                    <button type="button" class="btn btn-default" data-formset-add><i class="fa fa-plus"></i> Agregar Otro</button>
                        

                    </div>

               
                </fieldset>
                
                <hr />
                <div class="form-group">
                    <div class="col-sm-2 col-lg-6 col-sm-10">
                        <input name="btnActionEncuesta" type="submit" class="btn btn-primary" value="Guardar" />
                        
                    {% if info %}
                        <a class="btn btn-danger" href="javascript:window.close()">Cerrar</a>
                    {% else %}

                        <a class="btn btn-danger" href="javascript:window.close()">Cancelar</a>
                    {% endif %}

                    </div>
                </div>
                <br>
                <br>
                <br>
            </form>
        </div>
    </div>

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
     <script>

     jQuery(function($) {
            $("#formset_opcion").formset({
                 animateForms: true
                 });
            });

     $(document).ready(function(){
        var tipo = $('#id_tipo').val()

        if( tipo == 'AB'){

            $('#opciones').addClass('oculto');

        }
        $('#id_tipo').change(function(){

            var valor = $('#id_tipo').val()

            if (valor == 'AB'){

                $('#opciones').addClass('oculto');
            }
            else{

                $('#opciones').removeClass('oculto');
            }
                
        
        
        })
        
    });
    
                    
                        </script>
  </body>
  </html>
    