{% extends "usuarios/basePanel.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}
{% block estaticos  %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}

{% block contenido_panel %}
	
					<div style="margin:0 1% 40px 1%;border-radius: 6px;background:#f2f2f2;overflow:hidden;padding:10px">	

						<a href="#" id="clickSearch" style="font-size:23px; color:#c33833;margin-left: 10px;text-decoration:none;"><i class="fa fa-search"></i> Buscar</a>
				<!--<h4 style="color:#c33833;font-weight:bold">Busqueda</h4>-->
			<!--<form method="POST">
			<div class="form-inline">
				{% csrf_token %}
				<div class="form-group">
					<input type="text" id="text" class="form-control" placeholder="Busqueda" name="query" required>    
				</div>
				<div class="form-group">
					<select name="busqueda" class="form-control">
							<option value="titulo" selected>Titulo</option>
							<option value="descripcion">Descripcion</option>
					</select>
				</div>
				
				<div class="form-group" style="margin-left:5px">
					<input type="submit" class="btn btn-primary" value="Buscar">
				</div>
			</div>
			</form>-->
				<div  style="float:right;margin-right:15px">
					<a href="{% url 'encuesta:crearEncuesta' %}" class="btn btn-success"><i class="fa fa-plus-circle"></i> Crear Encuesta</a>
				</div>
		</div>

		<div id="busqueda" style="width:50%;margin: 10px 40px; display:none;font-size:10px;">
			<h2 class="titulos">Busqueda</h2>
			<form action="" method="get">
        {{ filter.form|bootstrap }}
        <input type="submit" class="btn btn-primary"/>
    </form>
    <br>
    <br>

</div>	
	<div style="width:90%; margin:0 auto">

		<h2 class="titulos">Lista de Encuesta</h2>
		<table class="table table-hover tablesorter" id="myTable">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripcion</th>
					<th>#Realizadas</th>
					<th>Publicada?</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				{% for encuesta in filter %}
				<tr>
						<th style="width:29%">{{ encuesta.titulo }}</th>
						<th style="width:20%">{{ encuesta.descripcion|truncatechars:100 }}</th>
						<th> {{ encuesta.realizadas }}</th>
						{% if encuesta.estado == True %}
							<th><i class="fa fa-check"></i></th>
						{% else %}
							<th><i class="fa fa-ban"></i></th>
						{% endif %}
						<th><a class="btn btn-info btn-sm" href="{% url 'encuesta:editarEncuesta' encuesta.id %}"><i class="fa fa-pencil"></i> Editar</a> <a class="btn btn-info btn-sm" href="{% url 'encuesta:verEncuesta' encuesta.pk %}"><i class="fa fa-eye"></i> Ver</a> <a class="btn btn-info btn-sm" href="{% url 'encuesta:estadisticaEncuesta' encuesta.pk %}"><i class="fa fa-area-chart"></i></a>
							<a class="btn btn-danger btn-sm confirmation"  href="{% url 'encuesta:eliminarEncuesta' encuesta.pk %}"><i class="fa fa-times"></i></a></th>
						
					</tr>
				{% empty %}
					<tr>
					<th>No hay encuestas para mostrar</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				
				{% endfor %}
			</tbody>
		</table>
			 
		</div>
	
{% endblock %}

{% block js%}
	<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<script src="{% static  '/static/js/bootstrap-confirmation.js'%}"></script>
	<script>
		$(document).ready(function() 
	    { 
	    	$('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json"
            }
        });
	        $("#myTable").tablesorter({sortList: [[0,0]],headers:{ 4: { sorter: false},5: { sorter: false}}}); 
	    });
		
		$(document).ready(function() 
	    { 
	    	$("#clickSearch").click(function() {
	    		$("#busqueda").toggle('slow');
	    });


	    
	    
    	$('.confirmation').confirmation({'title':"Si eliminas esta encuesta, se borrara tambien sus preguntas y sus respuestas.", 'placement':"top", 'singleton':true, 'popout':true, 'btnOkLabel':"Eliminar", 'btnCancelLabel':"Cancelar"});


	    });


	</script>


{% endblock %}


