{% extends "usuarios/basePanel.html" %}
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}
{% block estaticos %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        {% for key, opciones in opcionesList.items %}

        	
          var data{{forloop.counter}} = google.visualization.arrayToDataTable([
            ['Preguntas', 'Opciones'],
            {% for op in opciones  %}
        		{% for key2, val in op.items  %}
				['{{key2}}',{{val}}],            // RGB value
        		{% endfor %}
        	{% endfor %}
            ]);


        var options{{forloop.counter}} = {
            pieHole: 0.4,
            title: '{{key}}'
        };
        var chart_div = document.getElementById('chart_div{{forloop.counter}}');
        var chart{{forloop.counter}} = new google.visualization.PieChart(document.getElementById('chart_div{{forloop.counter}}'));
         // Wait for the chart to finish drawing before calling the getImageURI() method.
	      google.visualization.events.addListener(chart{{forloop.counter}}, 'ready', function () {
	        //chart_div.innerHTML = '<img src="' + chart{{forloop.counter}}.getImageURI() + '">';
	        //console.log(chart_div.innerHTML);
	      document.getElementById('png{{forloop.counter}}').outerHTML = '<a href="' + chart{{forloop.counter}}.getImageURI() + '" target="_blank">Imagen de Grafico</a>';
	      });

        chart{{forloop.counter}}.draw(data{{forloop.counter}}, options{{forloop.counter}});
        {% endfor %}
      }
    </script>

{% endblock %}

{% block contenido_panel %}
	<div style="width:90%; margin:0 auto">
		<h2 class="titulos">Estadisticas de Encuesta</h2>
		<a href="{% url 'encuesta:estadisticaPdfEncuesta' encuesta.pk %}" class="btn btn-default"> PDF</a>
		{% if ab > 0 %}
			<a href="{% url 'encuesta:export' encuesta.pk %}" style="float:right" class="btn btn-default">Exportar Preguntas Abiertas</a>
		{% else %}
			<a href="{% url 'encuesta:export' encuesta.pk %}" style="float:right" class="btn btn-default" disabled>No tiene Preguntas Abiertas</a>
		{% endif %}
			 <div class="col-8">
			 {% for key, opciones in opcionesList.items %}
        	<div id="chart_div{{forloop.counter}}" style="width: 900px; height: 500px;"></div>
        	<div id='png{{forloop.counter}}'></div>
        	<br>

        	<table class="table table-hover">
        		<thead>
        			<tr>
        				<th> Opcion</th>
						<th> Seleccionada </th>
        			</tr>
        		</thead>
        		<tbody>
        			{% for op in opciones  %}
        				{% for key2, val in op.items  %}
        				<tr> <th>{{key2}}</th><th>{{val}}</th></tr>
        				{% endfor %}
        			{% endfor %}
        		</tbody>
        	</table>

        	{% endfor %}

              
      </div>
		</div>
	
{% endblock %}
