{% extends "usuarios/basePanel.html" %}
{% load bootstrap %}
{% block user %}
    {% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}

	<div class="row" style="width:70%;margin:8px auto;">
                <div class="col-8">
                    <h2 class="titulos">Visualizar Encuesta</h2>
                    {% if info %}
                    <h2>{{ info }}</h2>
                    {% else %}
  
                    <form class="form" method="POST" style="padding-left:15px">
                    	{% csrf_token %}
                       <legend>{{ encuesta.titulo|capfirst }}</legend> 
                       <p>{{ encuesta.descripcion|capfirst }}</p>
                       {% for p in preguntas %}
                       {% if p.tipo == 'MU'  %}
                       	<h4> {{ p.pregunta|capfirst }} </h4>
                       	<div class="opciones" style="padding-left:7px">
                       		{% for op in opcion %}
                       			{% if op.pregunta == p %}
                            <input type="checkbox" name="respuesta[{{ p.pk }}]" value="{{ op.pk }}" /> {{ op.opcion}}<br />
							    			    {% endif %}
                       		{% endfor %}
                       	</div>
                          {% elif p.tipo == 'AB' %}
                          <h4> {{ p.pregunta|capfirst }} </h4>
                            <div class="opciones" style="padding-left:7px">
                              <textarea rows="4" cols="50" name="respuesta[{{ p.pk }}]" ></textarea>
                            </div>
                          {% elif p.tipo == 'UN' %}
                        <h4> {{ p.pregunta|capfirst }} </h4>
                        <div class="opciones" style="padding-left:7px">
                          {% for op in opcion %}
                            {% if op.pregunta == p %}
                            <input type="radio" name="respuesta[{{ p.pk }}]" value="{{ op.pk }}"  /> {{ op.opcion }}<br />
                            {% endif %}
                          {% endfor %}
                        </div>
                          {% endif %}
                       {% endfor %}

                       <br>
                       <br>
                       {% if not encuesta.enviado %}
                         
                       <div class="checkbox">
                          <label>
                            <input type="checkbox" name="enviar" id="id_enviado"> Enviar correo!
                          </label>
                          <p class="help-block">marcar la opcion solo si se desea enviar a la lista de {{ encuesta.tipo }} un correo con la informacion de la encuesta.</p>
                        </div>
                        <br>
                        <br>
                        <div class="form-group" id="dAsunto" style="width:60%;display:none;">
                            <label>Asunto</label>
                            <input type="text" class="form-control" id="asunto" name="asunto" placeholder="Asunto">
                            <p class="help-block">Recuerda que si envias diferentes correos con el mismo asunto, los servicios de email los marcarian como "correo no deseado"</p>
                        </div>
                        <br>
                        <br>
                        {% else %}

                        <span><i class="fa fa-paper-plane"></i>  Ya se ha enviado esta encuesta por correo electronico!.</span>
                       {% endif %}

                       <br>
                       <br>


                       {% if not num_preguntas %}
                                  
                                  

                                  <div class="alert alert-danger">
                        <a class="close" data-dismiss="alert">x</a>
                                la encuesta no tiene preguntas! <a href="{% url 'encuesta:crearPreguntas' encuesta.id %}" class="btn btn-success btn-sm"> Agregar preguntas</a>
                    </div>


                                {% endif %}

                        <div class="form-group" style="margin:15px 0px 0px 0px">
                            <div class="col-sm-offset-2 col-sm-10">
                              {% if not encuesta.estado %}
                                
                                {% if num_preguntas > 0 %}
                                  <button type="submit" class="btn btn-success">Publicar</button>
                                {% endif %}

                              {% endif %}
                                <a href="{% url 'encuesta:editarEncuesta' encuesta.id %}" class="btn btn-default btn-sm"> Editar </a>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
{% endblock %}


{% block js %}

<script>
  $(document).ready(function() {
    
         $( "#id_enviado" ).click(function() {
            if ($('#id_enviado').is(':checked')) {

               $('#dAsunto').show();

            }else{

              $('#asunto').val('')

               $('#dAsunto').hide();
            };
});

       });

</script>
{% endblock %}