{% extends "usuarios/basePanel.html" %}
{% load staticfiles %}
{% load formset_tags %}
{% load widget_tweaks %}

{% load bootstrap3 %}
{% block estaticos %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>

{% endblock%}
{% block user %}
  {% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}

    <div class="row" style="width:80%;margin:0 auto;">
        <div class="col-sm-8">

            {% if encuesta.estado %}
                <div class="alert alert-info" style="margin:10px">
                        
                        La encuesta esta publicada, para poder hacer modificaciones es necesario suspenderla.
                    </div> 

                    <br>
                    <a href="{% url 'encuesta:suspenderEncuesta' encuesta.id %}" class="btn btn-primary">Suspender</a>   
            {% else %}
        
            <form class="form" enctype="multipart/form-data" method="POST">
                   	{% csrf_token %}
                <h2 style="color:#c33833;font-weight:bold;padding-bottom: 10px;">Editar encuesta</h2>
                <fieldset>

                    {% if info %}
            
            <div class="alert alert-danger" style="margin:10px">
                        
                        {{ info }}
                    </div> 
                    <br>
            
        {% endif %}
        <br>
                    <legend>Datos de la encuesta</legend>
                     {% bootstrap_form form %}
                </fieldset>
                <br>
                <fieldset>
                    <legend>Preguntas</legend>
                    

                {% for pregunta in preguntas  %}
                <br>
                    <h4>  {{ pregunta.pregunta }} </h4>
                        <ul id="opciones">
                        	
                        {% for key, op in opciones.items  %}
                            
                            {% if key == pregunta.pk %}
                            {% for o in op  %}

                            
                             <li>{{o.1}}</li>   
                            {% endfor %}
                                
                            
                            {% endif %}
                        
                        {% endfor %} 
                        <br>
                        <a href="{% url 'encuesta:editarPregunta' encuesta.id pregunta.id %}" onclick="window.open(this.href, '_popup', 'width=500,height=400,top=50,left=320'); return false;" class="btn btn-sm btn-default">Editar</a> <a href="{% url 'encuesta:eliminarPregunta' pregunta.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                        </ul>
                        {% empty %}
                    No tiene preguntas, <a href="{% url 'encuesta:crearPreguntas' encuesta.id %}" class="btn btn-success btn-sm"> Agregar preguntas</a>
                {% endfor %}   
                <br>

               <br>
               <a href="{% url 'encuesta:crearPreguntas' encuesta.id %}" class="btn btn-success btn-sm"> Agregar nuevas preguntas</a>
                </fieldset>
                
                <hr />
                <div class="form-group">
                    <div class="col-sm-offset-2 col-lg-6 col-sm-10">
                        <input type="submit" class="btn btn-primary" value="Actualizar y Ver" />
                    </div>
                </div>
            </form>

                
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block js %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>






{% endblock %}