{% extends "usuarios/basePanel.html" %}
{% load bootstrap %}
{% load bootstrap3 %}
{% block user %}
    {% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}

	<div class="row" style="width:80%;margin:0 auto;">
        <div class="col-sm-10">
            <h1>Registrar Oferta laboral</h1>
            <hr />

            <form class="form-horizontal" method="POST" enctype="multipart/form-data">
               	{% csrf_token %}
                {{ form|bootstrap }}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-lg-6 col-sm-10">
             	        <input type="submit" class="btn btn-primary" value="Guardar" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}