{% extends "usuarios/basePanel.html" %}
{% load bootstrap3 %}
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}
<div style="width:90%;margin:0 auto;">
	<h2 style="padding-left:15px;color:#c33833;font-weight:bold">Postulados : <a href="{% url 'verOferta_dash' ofertas.id %}">{{ ofertas.nombre }}</a></h2>
	<br>


	<div class="ofertass">
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="ti">Eegresado</th>
				<th class="ti">Hoja de vida</th>
				<th class="ti">Autor</th>
				<th class="ti">Estado del postulado</th>
				<th class="ti"></th>
			</tr>
		</thead>
		<tbody>
		{% for vacantes in vacantes %}
			<tr>
				<th>{{vacantes.egresado_postulado.p_nombre}} {{vacantes.egresado_postulado.s_nombre}} {{vacantes.egresado_postulado.p_apellido}} {{vacantes.egresado_postulado.s_apellido}}</th>
				<th><a href="{{ vacantes.hoja_vida.url }}" target="_blank">Consultar</a> </th>
				<th>{% if autor %}{{autor}}{% else %} Empresa {%endif%}</th>
				<th>{{vacantes.estado_vacante}}</th>
			</tr>	
		{% empty %}
		<tr>
			<th>No hay vacantes para mostrar</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
</div>
{% endblock %}
{% block estaticos %}
	<style type="text/css">
	.ti
	{
		color: #b44040;
		font-weight: bold;
	}
	</style>
{% endblock %}