{% extends "baseblog.html" %}
{% block title %} 
	Bolsa de empleo - OVEU
{% endblock %} 

{% block x %}
	style="width:90%;"
{% endblock x %}
Nombre
{% block aside %}
{% endblock aside %}
{% block contenido %}
	<!--<div class="menub">
		<a href="{% url 'oflaboral' %}"><input type="button" class="btn btn-primary" value="Agregar Oferta" /></a>
	    <a href="#"><input style="background:gray;"type="button" class="btn btn-primary" value="Consultar" /></a>
    </div>-->
    <div>
	    <h1>Ofertas Laborales</h1>
	    <a style="float:right; margin-left:10px;" class="btn btn-success" href="{% url 'addEmpresaOferta' %}">Publica tu oferta</a>
    </div>
    <div style="float:right;"class="form-inline">
		<div class="form-group">
			<input type="text" id="text" class="form-control" placeholder="Busqueda">    
		</div>
		<div class="form-group" style="margin-left:5px">
			<a href="#" class="btn btn-danger" id="buscar">Buscar</a>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="ti">Nombre</th>
				<th class="ti">Salario</th>
				<th class="ti">Perfil Prof.</th>
				<th class="ti">Horario</th>
				<th class="ti">Tipo contrato</th>
				<th class="ti">Estado</th>
			</tr>
		</thead>
		<tbody>
			{% for ofertas in ofertas %}
			<tr>
				<th>{{ ofertas.nombre }}</th>
				<th>{{ ofertas.salario }}</th>
				<th>{{ ofertas.perfil_profesional }}</th>
				<th>{{ ofertas.horario }}</th>
				<th>{{ ofertas.tipo_contrato }}</th>
				<th>{% if ofertas.estado_oferta == True %}
				<th><i style="text-align:center;"class="fa fa-check"></i></th>
				{% else %}
					<th><i  style="text-align:center;" class="fa fa-ban"></i></th>
				{% endif %}</th>		
				<th>
				<a class="btn btn-primary" href="{% url 'verOfertas' ofertas.id %}"> Ver</a>
				</th>	
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock contenido %}