{% extends "usuarios/basePanel.html" %}
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}
<div style="margin:0 1% 40px 1%;border-radius: 6px;background:#f2f2f2;overflow:hidden;padding:10px">	
				<!--<h4 style="color:#c33833;font-weight:bold">Busqueda</h4>-->
			<div class="form-inline">
				<div class="form-group">
					<input type="text" id="text" class="form-control" placeholder="Busqueda">    
				</div>
				<div class="form-group">
					<select name="busqueda" id="busqueda_ajax" class="form-control">
						<option value="codigo">Nombre</option>
						<option value="nombre">Perfil</option>
						<option value="apellido">tipo de contrato</option>
					</select>
				</div>
				
				<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Estado
					  </label>
				</div >
				<div class="form-group" style="margin-left:5px">
					<a href="#" class="btn btn-primary" id="buscar">Buscar</a>
				</div>
				<div class="form-group" style="float:right;margin-right:15px">
					<a href="{% url 'oflaboral' %}" class="btn btn-success"><i class="fa fa-plus-circle"></i> Registrar Oferta laboral</a>	
				</div>
			</div>
		</div>	

	<div style="width:95%;margin:0 auto;">
		<h2 style="padding-left:15px;color:#c33833;font-weight:bold">Lista de Ofertas laborales</h2>
		<table class="table table-hover">
				{% for ofertas in ofertas %}
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Usuario</th>
					<th>Perfil</th>
					<!--<th>Horario</th>
					<th>Tipo contrato</th>-->
					<th>Estado</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<th>{{ ofertas.nombre }}</th>
					<th>{{ ofertas.desc|truncatewords:"15" }}</th>
					<th>{{ ofertas.uoferta }}</th>
					<th>{{ ofertas.perfil_profesional }}</th>
					<!--<th>{{ ofertas.horario }}</th>
					<th>{{ ofertas.tipo_contrato }}</th>-->
					<th>{% if ofertas.estado_oferta == True %}
							<th><i style="text-align:center;"class="fa fa-check"></i></th>
						{% else %}
							<th><i  style="text-align:center;" class="fa fa-ban"></i></th>
						{% endif %}</th>
					<th>
					<div style="width:140px;">
						<a class="btn btn-info" href="{% url 'verOferta_dash' ofertas.id %}"> Ver</a>
						<a class="btn btn-default" href="{% url 'editOferta' ofertas.id %}"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-danger" href="{% url 'delOferta' ofertas.id %}"><i class="fa fa-times"></i></a>
					</div>
					</th>
					
				</tr>	
				{% empty %}
				<h4 style="padding-left:16px;">No se encontraron ofertas laborales en la base de datos</h4>
				{% endfor %}
			</tbody>
		</table>
	</div>	 
		
	
{% endblock %}