{% extends "usuarios/basePanel.html" %}
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}
{% block estaticos  %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}

{% block contenido_panel %}
	
		<div style="margin:0 1% 40px 1%;border-radius: 6px;background:#f2f2f2;overflow:hidden;padding:10px">	
			<form method="POST">
			<div class="form-inline">
				{% csrf_token %}
				<div class="form-group">
					<input type="text" id="text" class="form-control" placeholder="Busqueda" name="query" required>    
				</div>
				<div class="form-group">
					<select name="busqueda" class="form-control">
							<option value="nombre" selected>Nombre</option>
							<option value="desc">Descripcion</option>
					</select>
				</div>
				
				<div class="form-group" style="margin-left:5px">
					<input type="submit" class="btn btn-primary" value="Buscar">
				</div>
				<!--<div class="form-group" style="float:right;margin-right:15px">
					<a href="{% url 'oflaboral' %}" class="btn btn-success"><i class="fa fa-plus-circle"></i> Crear Oferta laboral</a>
				</div>-->
			</div>
			</form>
		</div>	
	<div style="width:95%; margin:0 auto">

		<h2 class="titulos">Lista de Ofertas laborales</h2>
		<table class="table table-hover tablesorter" id="myTable">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripcion</th>
					<th>Perfil</th>
					<th>Autor</th>
					<th>Fecha</th>
					<th>Estado</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for ofertas in ofertas %}
				<tr>
						<th>{{ ofertas.nombre }}</th>
						<th style="width:30%">{{ ofertas.desc|truncatechars:100}}</th>
						<th>{{ ofertas.perfil_profesional }}</th>
						<th>{{ ofertas.uoferta }}</th>
						<th>{{ ofertas.fecha_creacion|date:"D d M Y" }}</th>
						{% if ofertas.estado_oferta == True %}
							<th><center><i class="fa fa-check-circle" style="color:green;"></i></center></th>
						{% else %}
							<th><i class="fa fa-ban" style="color:red;"></i></th>
						{% endif %}
						<th>
							<div style="width:180px;">
								<a class="btn btn-info" href="{% url 'verOferta_dash' ofertas.id %}"> Ver</a>
								<a class="btn btn-default" href="{% url 'editOferta' ofertas.id %}"><i class="fa fa-pencil"> Editar</i></a>
								<a class="btn btn-danger" href="{% url 'delOferta' ofertas.id %}"><i class="fa fa-times"></i></a>
							</div>
						</th>
					</tr>
				{% empty %}
					<tr>
					<th>No hay ofertas para mostrar</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				
				{% endfor %}
			</tbody>
		</table>
			 
		</div>
	
{% endblock %}

{% block js%}
	<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
	<script>
		$(document).ready(function() 
	    { 
	    	$('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json"
            }
        });
	        $("#myTable").tablesorter({sortList: [[0,0]],headers:{ 4: { sorter: false},5: { sorter: false}}}); 
	    });
		
		

	</script>


{% endblock %}


