{% extends "baseblog.html" %} 

{% block x %}style="width:95%;"{% endblock x %}

{% block contenido %}
<div class="menub">
	<div style="float:right;">
		<a class="btn btn-info" href="#"><i class="fa fa-pencil"></i> Actualizar datos</a>
	</div>
	<h2>Ofertas laborales para egresados</h2>

</div>		
{% endblock %}

{% block aside %}
{% endblock aside %}