{% extends "usuarios/basePanel.html" %}
{% block user %}
	{% include "usuarios/user-info.html" %}
{% endblock %}
{% block contenido_panel %}
	<div style="width:90%;margin:0 auto;">
		<h2 style="padding-left:15px;color:#c33833;font-weight:bold">Detalles de Oferta laboral</h2>
		<br>
		<table class="table table-hover">
			<tr>
				<td class="ti">Nombre</td><td>{{ ofertas.nombre }}</td>
			</tr><tr>
				<td class="ti">Información</td><td>{{ ofertas.desc }}</td>
			</tr><tr>
				<td class="ti">Salario</td><td>{{ ofertas.salario }}</td>
			</tr><tr>
				<td class="ti">Perfil Prof.</td><td>{{ ofertas.perfil_profesional }}</td>
			</tr><tr>
				<td class="ti">Horario</td><td>{{ ofertas.horario }}</td>
			</tr><tr>
				<td class="ti">Tipo contrato</td><td>{{ ofertas.tipo_contrato }}</td>
			</tr><tr>
				<td class="ti">Contacto</td><td>{{ ofertas.contacto }}</td>
			</tr><tr>
				<td class="ti">Telef. fijo</td><td>{{ ofertas.telefonofijo_contacto }}</td>
			</tr><tr>
				<td class="ti">Celular</td><td>{{ ofertas.celular_contacto }}</td>
			</tr><tr>
				<td class="ti">Correo</td><td>{{ ofertas.correo }}</td>
			</tr><tr>
				<td class="ti">Fecha</td><td>{{ ofertas.fecha_creacion }}</td>
			</tr>
		</table>
		<div style="padding-bottom: 1em"  >
			<a class="btn btn-info" href="{% url 'dash_postulados' ofertas.id %}">Ver egresados postulados</a>
		</div>
	
{% endblock %}