{% extends "baseblog.html" %}
{% load bootstrap3 %}
{% block title %} 
	Bolsa de empleo - OVEU
{% endblock %} 

{% block x %}
	style="width:90%;"
{% endblock x %}

{% block aside %}
{% endblock aside %}
{% block contenido %}

<div class="menux">
	<div class="ee">
		<h1 style="display:inline-block;text-shadow:0 3px 1px #BDBDBD"><i class="fa fa-bullhorn"></i> <strong>Detalles de oferta</strong></h1>
	</div>
	<br>
	<table class="table table-hover">
		<tr>
			<td class="ti">Nombre</td><td><p>{{ ofertas.nombre }}</p></td>
		</tr><tr>
			<td class="ti">Información</td><td><p>{{ ofertas.desc }}</p></td>
		</tr><tr>
			<td class="ti">Salario</td><td>{{ ofertas.salario }}</td>
		</tr><tr>
			<td class="ti">Perfil Prof.</td><td>{{ ofertas.perfil_profesional }}</td>
		</tr><tr>
			<td class="ti">Horario</td><td>{{ ofertas.horario }}</td>
		</tr><tr>
			<td class="ti">Tipo contrato</td><td>{{ ofertas.tipo_contrato }}</td>
		</tr><tr>
			<td class="ti">Contacto</td><td>{{ ofertas.contacto }}</td>
		</tr><tr>
			<td class="ti">Telef. fijo</td><td>{{ ofertas.telefonofijo_contacto }}</td>
		</tr><tr>
			<td class="ti">Celular</td><td>{{ ofertas.celular_contacto }}</td>
		</tr><tr>
			<td class="ti">Correo</td><td>{{ ofertas.correo }}</td>
		</tr><tr>
			<td class="ti">Fecha</td><td>{{ ofertas.fecha_creacion }}</td>
		</tr>
	</table>
	<section class="postular">
		{% for vacantes in vacantes %}
		{% if ofertas.id == vacantes.oferta.id and request.session.id_egresado == vacantes.egresado_postulado.pk %}
		<h3>Postulado exitosamente</h3>
		{% else %}
    	<div>
			<form class="form-horizontal" method="POST"  enctype="multipart/form-data">{% csrf_token %}
	            {% bootstrap_form form %}
	            <div class="form-group">
	                <div class="ll">
	                    <input type="submit" class="btn btn-danger" value="Postularse" />
	                </div>
	            </div>
	        </form>
    	</div>
    	{% endif %}
    	{% empty %}
		{% endfor %}
	</section>
</div>
{% endblock contenido %}