{% load bootstrap3 %}
{% load widget_tweaks %}
{% load formset_tags %}
<html>
<head>
	<meta charset="UTF-8">
	<title>Configuración OVEU</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>

	<div class="row" style="width:60%;margin:0 auto;">
			<h1 style="text-align:center">Bienvenido a la configuración de OVEU</h1>

                <div class="col-sm-8" style="float:none;margin:0 auto;">
                    <h2>Agregar programas</h2>

                    <form class="form" method="POST">
                        {% csrf_token %}

                    <div id="formset_pro" data-formset-prefix="{{ form.prefix }}">
                        {{ form.management_form }}

                        <div data-formset-body>
                            <!-- New forms will be inserted in here -->
                            {% for form2 in form %}
                            <div data-formset-form style="margin:5px 2px 5px 2px">
                                {{ form2.id }}
                                <div class="inline {{ telefono_form.prefix }}">
                                {{ form2.nombre.errors|add_class:"text-danger" }}
                                {{ form2.nombre.label_tag }}
                                {{ form2.nombre|add_class:"form-control"  }}
                                <div style="display:none">
                                        {{ form.DELETE }}
                                    </div>
                                </div>
                            
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                                <br>
                            </div>
                            <br>
                        {% endfor %}
                        </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                        <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div data-formset-form>
                                
                                    {{ form.empty_form.nombre.errors}}
                                    {{ form.empty_form.nombre.label_tag }}
                                    {{ form.empty_form.nombre|add_class:"form-control" }}
                                    
                                    <div style="display:none">
                                        {{ form.empty_form.DELETE }}
                                    </div>
                                <button type="button" data-formset-delete-button><i class="fa fa-times-circle"></i> Borrar form</button>
                                <br>
                            </div>
                            <br>
                        {% endescapescript %}
                    </script>
                    
                    <!-- This button will add a new form when clicked -->
                     <!-- <input type="button" value="Agregar Otro" data-formset-add>-->
                    <button type="button" class="btn btn-default btn-sm" data-formset-add><i class="fa fa-plus"></i> Agregar Otro</button>
                        
                    <div class="form-group">
                    <div class="col-sm-offset-2 col-lg-6 col-sm-10">
                        <input type="submit" class="btn btn-primary" value="Guardar" />
                    </div>
                </div>
                    </div>

                </div>
            </div>
            <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
     

    <script>

     jQuery(function($) {
                            $("#formset_pro").formset({
                                animateForms: true
                            });

                        });
      
    </script> 

	
</body>
</html>