{% load bootstrap %}
<!DOCTYPE html>
<html lang="es">
<head>
	<title>{% block title %}Egresados Unisinuanos{% endblock %}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Oficina virtual de egresados de la universidad del sinu Elias Bechara Zainum - seccional Cartagena">
	<meta name="author" content="Hernan Medina, Rafael Martinez">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/blogstyl.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/otros.css">	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style-tablesorter.css">
	{% block jss %}
	{% endblock jss %}
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<img src="{{ STATIC_URL }}img/logo-sinu.png" alt="cabezera" width="1000">
	</header>

	<nav class="navbar navbar-default menu-nav">
	  <div class="">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand home-nav" href="{% url 'index' %}"><i class="fa fa-home"></i></a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	   <!-- include 'blog/menu_portal.html' -->
	    
	    	<ul class="nav navbar-nav">
		    {% if 'id_egresado' in request.session %}
				<li><a href="{% url 'egresados' %}">Mi Perfil</a></li>
			{% else %}
				<!--NO HAY EGRESADOS EN LINEA-->
			{% endif %}
				<li><a href="{% url 'index' %}">Egresados</a></li>
				<li><a href="{% url 'addEmpresaOferta' %}">Bolsa de Empleo</a></li>
				<li><a href="{% url 'eventos' %}">Eventos</a></li>
				<li><a href="{% url 'listaEntradas' %}">Noticias</a></li>
			{% if 'id_user' in request.session %}	
				<li><a href="{% url 'encuestas' %}">Encuesta</a></li>
				<li>
				{% if 'id_egresado' in request.session %}
					<a href="{% url 'blogout' %}">Logout</a>
				{% elif 'id_empresa' in request.session%}
					<a href="{% url 'elogout' %}">Logout</a>
				{% endif %}
				</li>
			{% else %}
				<li><a href="{% url 'index' %}">Login</a></li>
			{% endif %}  
	      </ul>
	    </div>
	  </div> 
	</nav>

	<aside class="submenu">
		<ul>
			<li><a href="{% url 'mision_vision' %}">Misión y Visión</a></li>
			<li><a href="{% url 'objetivos' %}">Objetivos Egresado</a></li>
			<li><a href="{% url 'politicas' %}">Politica Egresados</a></li>
		</ul>
	</aside>
	
	{% block banner %}
	{% endblock banner %}
		
		<div class="contenedor">
			<div class="principal" {% block x %}{% endblock x %}>
				{% block contenido %}
				{% endblock contenido %}
			</div>
			{% block aside %}
			<div class="sidebar"/>
					{% block blogin %}
					{% endblock blogin %}
					<div class="nav-redes">
						<h3 class="h3-redes">Siguenos en:</h3>
						<div class="sub-nav-redes">
							<img src="{{ STATIC_URL }}img/fb.png" width="16" height="16" alt="Facebook"><a href="#">Facebook</a><br>
							<img src="{{ STATIC_URL }}img/tw.png" width="16" height="16" alt="Twitter"><a href="#">Twitter</a><br>
							<img src="{{ STATIC_URL }}img/yt.png" width="16" height="16" alt="Youtube"><a href="#">Youtube</a><br>
							<img src="{{ STATIC_URL }}img/gp.png" width="16" height="16" alt="Google+"><a href="#">Google+</a>
						</div>
					</div>
			</div>
			{% endblock aside %}
		</div>
			
	</section>
	<footer>
		<p>
			Coordinación de Extensión y Egresados<span><br></span>
			Dpto. De Proyección Social y Extensión<span><br></span> 
			Oficinas Plaza Colón Av. El Bosque Transversal 54 # 30-729<span><br></span>		 
			Tel. 681 0801 Ext 212</p>
	</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
{% block aux %}
{% endblock aux %}
</body>
</html>