<html>
<head>
	<meta charset="UTF-8">
	<title>Activacion de usuario</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/blogstyl.css">
</head>
<body>
	<header>
		<img src="{{ STATIC_URL }}img/logo-sinu.png" alt="cabezera" width="1000">
	</header>
	<div class="container">
		
	<div class="row" style="background:white; padding:3%;">
	<div class="col-sm-12">
		
	<h2 class="titulos" style="text-align:center">Activacion de usuario</h2>
		{% if h == 1 %}
			<h3 style="text-align:center">{{mensaje}}</h3>
		{% else %}
			<h3 style="text-align:center">{{mensaje}}</h3>
		{% endif %}
		<a href="{% url 'index' %}" class="btn btn-success" style="margin:0 auto">Iniciar sesion</a>
	</div>
	</div>
	</div>

</body>
</html>