<html>
<head>
	
</head>
<body>
	<p>Hola, {{user}}</p>


	<p>Se ha creado tu cuenta de egresado, por favor confirma tu cuenta en el siguiente link </p>
	<a href="{{link}}">{{link}}</a>


	
	<p>-Coordinadora de Extensión y Egresados
Departamento de Proyección Social y Extensión
Universidad del Sinù Elias Bechara Zainùm 
Seccional Cartagena
Tels: 681 0801 Ext 212</p>
</body>
</html>