{% extends "baseblog.html" %}
{% load bootstrap %}
{% block banner %}

{% endblock banner %}

{% block contenido %}

<h1>Egresados</h1>
<p>
	La comunidad Unisinuana de Egresados es de suma importancia para la academia, por tal razón, nos preocupamos por el mantenimiento del contacto con los nuestros, para que nunca se desprendan del todo de su segundo hogar: la universidad. Hacemos constantemente actividades que nos mantienen siempre atentos a lo que está sucediendo en la vida de nuestra comunidad Unisinuana.
</p>
</p>
	Los profesionales egresados de la Universidad del Sinú, Elías Bechara Zainúm - Seccional Cartagena, constituyen el grupo de referencia que refleja ante la sociedad la calidad de los procesos de formación integral de la Institución. Tal importancia está relacionada con el interés que el desarrollo personal y profesional de los egresados cause un efecto positivo en su medio y los mantenga vinculados a su alma mater con profundo sentido de pertenencia y colaboración.
</p>
{% endblock contenido %}
					 

{% block blogin %}
{% if 'id_user' in request.session %}
	<div>
	<h1>Bienvenido</h1>
		<!-- if request.session.tipo_usuario == "egresado" -->
		{% if 'id_egresado' in request.session %}
		<p style="background:rgba(255,255,255,.2);"><strong>{{ request.session.nombre_u|upper }} </strong>
		<a style="float:right; margin-left:5px;" class="btn btn-danger" href="{% url 'blogout' %}"><i class="fa fa-times"></i></a>
		<a style="float:right;" href="{% url 'egresados' %}" class="btn btn-info">Mi cuenta</a>
		{% elif 'id_empresa' in request.session %}
		<p style="background:rgba(255,255,255,.2);"><strong>{{ request.session.nombre_u|upper }} </strong>
		<a style="float:right;" class="btn btn-danger" href="{% url 'elogout' %}"><i class="fa fa-times"></i></a>
		<a style="float:right;margin-right:5px;" href="{% url 'empresa' %}" class="btn btn-info">Mi cuenta</a>
		{% endif %}
		</p>
	</div>
{% else %}
	<fieldset class="loginb">
	<div class="sesion">
		{% if info %}
		<div class="alert alert-danger">
	        <a class="close" data-dismiss="alert">x</a>
	        {{ info }}
	    </div>
		{% endif %}
		<div class="login">
  			<form action="" method="POST" class="form">
 				{% csrf_token %}
				{{ form|bootstrap }}
				<input type="submit" value="Iniciar sesión" class="btn btn-success"> 
				<a style="padding: 0 1em;" href="{% url 'recuperar_pass' %}"> ¿Olvidaste tu contraseña?</a>
			</form>
		</div>
	</div>
</fieldset>	
{% endif %}
<br>
{% endblock blogin %}