{% load bootstrap3 %}
<html>
<head>
	<meta charset="UTF-8">
	<title>Configuración OVEU</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body style="background:#c33833;color:white">

	<div class="row" style="width:60%;margin:0 auto;">
			<h1 style="text-align:center">Bienvenido a la configuración de OVEU</h1>

                <div class="col-sm-8" style="float:none;margin:0 auto;">
                    <h2>Registrar Coordinador</h2>

                    

                    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                    	{% csrf_token %}
                        {% bootstrap_form form %}
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-lg-6 col-sm-10">
                                <input type="submit" class="btn btn-primary" value="Registrar" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

	
</body>
</html>