{% load staticfiles %}
{% load bootstrap3 %}
<html>
<head>
<title>Add {{ field }}</title>
<script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
</head>
<body>
<h1>Add {{ field }}</h1>
<form method="POST" action="/add/{{ field }}">
        {% csrf_token %}
        <table>
        {% bootstrap_form form %}
        </table>
<p><input type="submit" /> | <a href="javascript:window.close()">Cancel</a></p>
</form>
</body>
</html>