{% extends "usuarios/basePanel.html" %}
{% load bootstrap %}
{% block user %}
    {% include "usuarios/user-info.html" %}
{% endblock %}
{% block estaticos %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        
          var data = google.visualization.arrayToDataTable([
            ['Element', 'Cantidad'],
            {% for d in data %}
              ["{{ d.0 }}", {{d.1}}],
            {% endfor %}
            ]);


        var options = {
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
         // Wait for the chart to finish drawing before calling the getImageURI() method.
        google.visualization.events.addListener(chart, 'ready', function () {
          
        document.getElementById('imagen').outerHTML = '<a href="' + chart.getImageURI() + '" target="_blank">Imagen de Grafico</a>';
        });
        

        chart.draw(data, options);
      }
    </script>

{% endblock %}

{% block contenido_panel %}

<div style="margin:0 1% 10px 1%;border-radius: 6px;background:#f2f2f2;overflow:hidden;padding:10px">  
        <!--<h4 style="color:#c33833;font-weight:bold">Busqueda</h4>-->
        <form method="POST" action="{% url 'informes:graficos' %}">
          {% csrf_token %}
      <div class="form-inline">
        <div class="form-group">
          {% include 'informes/informesList.html'%}
        </div>
                
        <div class="form-group" style="float:right;margin-right:15px">
          <input type="submit" class="btn btn-success" value="Ir">  
        </div>
      </div>
      </form>
    </div>

	<div class="row" style="width:80%;margin:8px auto;">
      <div class="col-8">
          <h2 class="titulos">Egresados laborando fuera de su profesion</h2>
              {% if data|length > 0 %}
              <div>
                <a href="{% url 'informes:cuartoGrafico' %}" class="btn btn-default"> <i class="fa fa-file-pdf-o"></i> Generar PDF </a>
              </div>
              <div id="chart_div" style="width: 900px; height: 500px;"></div>
              <div id='imagen'></div>
              <br>
              <table class="table table-hover">
              <thead><tr><th>Opcion</th><th>#Cantidad</th></tr>
              </thead>
            <tbody>
              {% for d in data  %}
                
                <tr> <td>{{ d.0 }}</td><td>{{ d.1 }}</td></tr>
                
              {% endfor %}
            </tbody>
          </table>
          {% else %}
              <span>No hay datos para realizar el grafico</span>
            {% endif %}
      </div>
  </div>
{% endblock %}