<html>
  <head>
    <title> Egresados laborando fuera de su profesion </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        
          var data = google.visualization.arrayToDataTable([
            ['Element', 'Cantidad'],
            {% for d in data %}
              ["{{ d.0 }}", {{d.1}}],
            {% endfor %}
            ]);


        var options = {
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        
        

        chart.draw(data, options);
      }
    </script>
    <style>
      .datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }.datagrid table td, .datagrid table th { padding: 5px 11px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #C33833), color-stop(1, #C33833) );background:-moz-linear-gradient( center top, #C33833 5%, #C33833 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C33833', endColorstr='#C33833');background-color:#C33833; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #FFFFFF; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; border-left: 1px solid #C33833;font-size: 14px;border-bottom: 1px solid #C33833;font-weight: normal; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }
    </style>

</head>  
<body style="margin-top:60px">
  <div class="row" style="width:80%;margin:8 auto;">
      <div class="col-8">
          <h2 style="color:#c33833;font-weight:bold">Egresados laborando fuera de su profesion</h2>

              <div id="chart_div" style="width: 900px; height: 500px;"></div>
              <div class="datagrid"><table>
              <thead><tr><th>Estado</th><th>#Cantidad</th></tr>
              </thead>
            <tbody>
              {% for d in data  %}
                
                <tr> <td>{{ d.0 }}</td><td>{{ d.1 }}</td></tr>
                
              {% endfor %}
            </tbody>
          </table>

       
<br>
            <h4> Generado el {{tiempo|date:"l j \d\e F Y h:i:s A"}}</h4>
                
             </div>
              
      </div>
  </div>

</body>
</html>