{% extends "usuarios/basePanel.html" %}
{% load bootstrap %}
{% block user %}
    {% include "usuarios/user-info.html" %}
{% endblock %}
{% block estaticos %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        
          var data = google.visualization.arrayToDataTable([
            ['Escuelas', 'Egresados', { role: 'style' }],
            ['{{ p.nombre }}', {{ e }}, '#b87333'],            // RGB value
            ['Ing. Sistemas', 12, 'silver'],            // English color name
            ['Contaduria', 30, 'gold'],
            ['Medicina', 25, 'color: #e5e4e2' ]]);


        var options = {
          title: 'Cantidad de Egresados por Escuela',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
         var imagen = document.getElementById('imagen')
        

        chart.draw(data, options);
      }
    </script>

{% endblock %}

{% block contenido_panel %}

<div style="margin:0 1% 40px 1%;border-radius: 6px;background:#f2f2f2;overflow:hidden;padding:10px">  
        <!--<h4 style="color:#c33833;font-weight:bold">Busqueda</h4>-->
        <form method="POST" action="{% url 'informes:graficos' %}">
          {% csrf_token %}
      <div class="form-inline">
        <div class="form-group">
          {% include 'informes/informesList.html'%}
        </div>
                
        <div class="form-group" style="float:right;margin-right:15px">
          <input type="submit" class="btn btn-success" value="Ir">  
        </div>
      </div>
      </form>
    </div>

	<div class="row" style="width:80%;margin:8px auto;">
      <div class="col-8">
          <h2 class="titulos">Visualizar Grafico(Ejemplo)</h2>

              <div id="chart_div" style="width: 900px; height: 500px;"></div>
              
      </div>
  </div>
{% endblock %}