<select name="grafico" class="form-control">
            <option value="1">Porcentaje de Egresados que se encuentran en cada ciudad</option>
              <option value="2">Porcentaje de Egresados que se han especializado</option>
              <option value="3">Porcentaje de Egresados que están laborando en su profesión</option>
              <option value="4">Porcentaje de Egresados que están laborando fuera de su profesión</option>
              <option value="5">Porcentaje de Egresados fallecidos </option>
              <option value="6">Porcentaje de Egresados con magister</option>
              <option value="7">actualización de egresados por escuela</option>
              <option value="8">Porcentaje de Egresados que se encuentran laborando</option>
              <option value="9">Porcentaje de Egresados que se encuentran desempleados</option>
              <option value="10">Porcentaje de Egresados que se encuentran estudiando</option>
              <option value="11">Porcentaje de Egresados que se encuentran en el exterior (por país)</option>
              <option value="12">Porcentaje de Egresados con diplomados</option>
              <option value="13">Porcentaje de Egresados con doctorados</option>
              <option value="14">Porcentaje de Egresados por escuela</option>
              <option value="15">Egresados que han tenido reconocimientos por su carrera y desempeño profesional</option>
              <option value="16">Porcentaje de Egresados que pertenecen a agremiaciones profesionales</option>
              <option value="17">Porcentaje de Egresados que manejan una segunda lengua</option>
              <option value="18">Porcentaje de Egresados actualizados</option>
              <option value="19">Porcentaje de Egresados con subespecializacion</option>

</select>